﻿@model SmartDispatching.DB.DataBase.DispatcherData

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.bootstrap-select.form-control:not([class*=col-]) {
		width: 280px;
	}
</style>


<h2>Create</h2>

<div class="form-horizontal">
	<h4>DispatcherData</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.DispatcherId, "Dispatcher Name", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("DispatcherId", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.DispatcherId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AreaId, "Area Name", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("AreaId", (MultiSelectList)ViewBag.AreaId, htmlAttributes: new { multiple = "multiple", @class = "selectpicker show-menu-arrow form-control" })
			@*@Html.DropDownList("AreaId", null, htmlAttributes: new { @class = "form-control" })*@
			@Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.ProblemId, "Problem", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("ProblemId", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.ProblemId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" onclick="Create();" />
		</div>
	</div>
</div>

<script type="text/javascript">
	function Create() {
		var dispatcherId = $("#DispatcherId")[0].options[$("#DispatcherId")[0].options.selectedIndex].value;
		var problemId = $("#ProblemId")[0].options[$("#ProblemId")[0].options.selectedIndex].value;
		var areaIds = $("#AreaId option:selected").map(function () { return this.value }).get();

		if (dispatcherId && problemId && areaIds.length > 0) {
			var data = JSON.stringify({ dispatcherId: dispatcherId, problemId: problemId, areaIds: areaIds });
			console.log(data);
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "DispatcherDatas/Create",
				type: "POST",
				data: data,
				success: function (result) {
					if (result.IsCreated) {
						var url = '@Url.Action("Index", "DispatcherDatas")';
						window.location.href = url;
					}
					else {
						$("#ErrorMSG").css({ color: "#b94a48" });
						$("#ErrorMSG").text(result.Content)
					}
				}
			});
		}
	}
</script>


<div>
	@Html.ActionLink("Back to List", "Index")
</div>
