﻿@model IEnumerable<SmartDispatching.DB.DataBase.DispatcherData>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			Dispatcher Name
		</th>
		<th>
			Area
		</th>
		<th>
			Problem
		</th>
		<th>
			Division
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.AspNetUser.UserName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SAPArea.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Problem.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Division.Name)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
