﻿@model SmartDispatching.DB.DataBase.DispatcherArea

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@*<script src="~/Scripts/jquery-1.12.4.js"></script>
<script>
	var areaURL = "/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/2/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=Nhood_No%2CNeighborhoodEnglish&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&queryByDistance=&returnExtentsOnly=false&datumTransformation=&parameterValues=&rangeValues=&f=pjson";
	$.ajax({
		dataType: 'jsonp',
		url: areaURL,
		type: "GET",
		success: function (result) {
			if (result && result.features && result.features.length > 0) {
				var listItems = "";
				listItems += "<option value=''>-- Select One --</option>";
				for (var i = 0; i < result.features.length; i++) {
					var feature = result.features[i].attributes;
					listItems += "<option value='" + feature.Nhood_No + "'>" + feature.NeighborhoodEnglish + "</option>";
				}
				$("#AreaId").html(listItems);
				console.log(result.features);
			}
		}
	});
</script>*@


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DispatcherArea</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DispatcherId, "DispatcherId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DispatcherId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DispatcherId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaId, "AreaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AreaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
