﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Get started with MapView - Create a 2D map</title>
	<style>
		html, body, #viewDiv {
			padding: 0;
			margin: 0;
		}
	</style>
	<link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
	<script src="https://js.arcgis.com/4.3/"></script>
	<script>
		require([
		  "esri/Map",
		  "esri/views/MapView",
		  "esri/layers/TileLayer",
		  "dojo/domReady!"
		], function (Map, MapView, TileLayer) {
			var map = new Map({
				basemap: "streets"
			});
			var view = new MapView({
				container: "viewDiv",  // Reference to the scene div created in step 5
				map: map,  // Reference to the map object created before the scene
				zoom: 9,  // Sets the zoom level based on level of detail (LOD)
				center: [48, 29.5]  // Sets the center point of view in lon/lat
			});

			var layer = new TileLayer({
				url: "https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/PACIBasemap/MapServer"
			});
			map.layers.add(layer);

		});
	</script>
</head>
<body>
	<div id="viewDiv" style="width:100%;height:100%"></div>
</body>
</html>
