﻿@model List<SmartDispatching.Models.OrderBoardViewModel>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout_Map_2.cshtml";
}
<script src="~/Scripts/excellentexport.js"></script>

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="https://js.arcgis.com/3.21/esri/css/esri.css">

<style>
	.labels {
		position: relative;
		color: white;
		background-color: green;
		font-family: "Lucida Grande", "Arial", sans-serif;
		font-size: 11px;
		text-align: center;
		width: 120px;
		white-space: nowrap;
	}

	.row {
		margin-right: 0px;
		margin-left: 0px;
	}

	#alert {
		position: fixed;
		left: 45%;
		top: 11%;
		background-color: #222222;
		width: 400px;
		height: 45px;
		text-align: center;
		padding: 12px;
		z-index: 9999;
		color: white;
		border-radius: 10px;
		border-color: red;
		border-width: 2px;
		border-style: solid;
		display: none;
		z-index: 999999999;
	}

	#arrow {
		display: inline-block;
		position: relative;
		z-index: 2;
		font-size: 18px;
		width: 40px;
		height: 50px;
		line-height: 48px;
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		color: #fff;
		background-color: black;
	}

	#btnContainer .navbar-nav > li > a {
		padding-top: 9px;
		padding-bottom: 9px;
	}

	a {
		color: black;
	}

	#statusReportContatiner {
		position: fixed;
		z-index: 999999999;
		background-color: white;
		left: 0px;
		bottom: 0px;
		width: 100%;
		display: none;
	}

	.dataTables_wrapper .dataTables_paginate {
		position: fixed;
		right: 27px;
		bottom: 5px;
	}

	#statusReport_filter {
		display: none;
	}

	#statusReport_wrapper {
		display: none;
	}

	.bootstrap-select.btn-group .dropdown-menu {
		max-height: 65vh;
	}

	.embed-container {
		position: relative;
		padding-bottom: 80%;
		height: 0;
		max-width: 100%;
	}

		.embed-container iframe, .embed-container object, .embed-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	small {
		position: absolute;
		z-index: 40;
		bottom: 0;
		margin-bottom: -15px;
	}

	#availabilityContainer {
		width: 35%;
		background-color: white;
		z-index: 999999;
		height: 235px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
	}
</style>

<div class="col-md-12" id="PrintOutView" style="height:87vh;width:80%;float:left;position:absolute;left:20%;display:none">
</div>

<div id="alert">
	There is no position for this order!
</div>

<div id="rightContainer" style="height:87vh;width:80%;float:left;position:absolute;left:20%;display:block">
	<div id="availabilityContainer">
		<h4>Change Availability: </h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: 10px; cursor:pointer" onclick="closeChangeAvailability();"></i>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-5">
						<label for="availabilityTechSelect">Technician Name:</label>
					</div>
					<div class="col-md-7">
						<select class="form-control" id="availabilityTechSelect" style="width:100%">
							@foreach (var item in ViewBag.Technicians)
							{
								<option id="@item.Id">@item.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-5">
						<label for="availabilitySelect">Availability:</label>
					</div>
					<div class="col-md-7">
						<select class="form-control" id="availabilitySelect" style="width:100%">
							@foreach (var item in ViewBag.Availability)
							{
								<option id="@item.Id">@item.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-5"></div>
					<div class="col-md-7">
						<button id="" type="button" class="btn btn-success" onclick="confirmChangeAvailability();">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="menu" style="position: absolute;top: 0%;z-index: 999;background-color: white;width:100%">
		<div class="row">
			<div style="z-index: 99999999;right: 0px;height:7%;padding:12px;" id="btnContainer">
				<div style="position: absolute;right:18px;right: 360px;top: 100px;" class="shide">
					<input type="radio" name="mapType" value="google" checked onchange="mapChange();"> <img src="~/images/GoogleLogo.png" alt="Mountain View" style="width:20px;height:20px;">
					@*<input type="radio" name="mapType" value="PACI" onchange="mapChange();"><img src="~/images/PACILogo.png" alt="Mountain View" style="width:20px;height:20px;">*@
				</div>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="daterange" class="col-lg-2 control-label">Date: </label>
						<div class="col-lg-12">
							<input type="text" id="daterange" class="form-control" style="width:100%">
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="statusSelection" class="col-lg-2 control-label">Status: </label>
						<div class="col-lg-12">
							<select id="statusSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Status)
								{
									<option>@item.Name</option>
								}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="problemSelection" class="col-lg-2 control-label">Problems: </label>
						<div class="col-lg-12">
							<select id="problemSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Problems)
								{
									<option>@item.Name</option>
								}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="technicianSelection" class="col-lg-2 control-label">Technicians: </label>
						<div class="col-lg-12">
							<select id="technicianSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Technicians)
								{
									<option>@item.Name</option>
								}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="dispatcherSelection" class="col-lg-2 control-label">Dispatchers: </label>
						<div class="col-lg-12">
							<select id="dispatcherSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Dispatchers)
								{
									<option>@item.UserName</option>
								}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<i id="arrowFillter" class="glyphicon glyphicon-chevron-up" style="margin:10px;float:right;cursor:pointer;position:relative;top:3px" onclick="slideFillter();"></i>
			<button type="button" class="btn btn-default shide" style="float: right;margin: 10px;" onclick="showDefaultMap();">Back to today</button>
			<button type="button" class="btn btn-default shide" style="float: right;margin: 10px;" onclick="showCars();">Show Cars</button>
			<button type="button" class="btn btn-default shide" style="float: right;margin: 10px;" onclick="showOrders();">Fillter</button>
		</div>
	</div>
	<div id="map" style="height:97%;width:100%;display:block;position:absolute;top:3%">
	</div>
	<div id="IMap" style="height:100%;width:100%;display:block;">
	</div>
	<div id="views" style="display:none"></div>
</div>

<script type="text/javascript">
	$('#daterange').daterangepicker({
		"timePicker": true,
		"locale": {
			"direction": "ltr",
			"format": "MM/DD/YYYY",
			"separator": " - ",
			"applyLabel": "Apply",
			"cancelLabel": "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"daysOfWeek": [
				"Su",
				"Mo",
				"Tu",
				"We",
				"Th",
				"Fr",
				"Sa"
			],
			"monthNames": [
				"January",
				"February",
				"March",
				"April",
				"May",
				"June",
				"July",
				"August",
				"September",
				"October",
				"November",
				"December"
			],
			"firstDay": 1
		},
		//"startDate": Date.now,
		//"endDate": Date.now
	}, function (start, end, label) {
	});
</script>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/CircleButton.css" rel="stylesheet" />

<div style="height:87vh;width:20%;background-color:white;float:left;left:0px;position:relative" id="dragger">
	<div class="col-md-1" style="height:87vh;border:1px black solid;float:right;cursor:pointer" onclick="slideDrager()">
		<i id="arrowChange" class="glyphicon glyphicon-chevron-left" style="top: 45%;right: 8px;"></i>
	</div>
	<div class="col-md-10" style="height:87vh;float:left;border-style: solid;border-width: 1px;">
		<div class="col-md-12" style="height:80px;margin-top:5px;text-align: center;padding-top: 11px;border-style: solid; border-width: 1px;">
			<p>Unassigned Orders</p>
			<input type="text" id="orderSearch" placeholder="type here.." onkeyup="orderSearchFunction()" />
		</div>
		<div style="overflow-y:auto;max-height:79vh" id="unAssigendOrderLoc" ondrop='drop(event)' ondragover='allowDrop(event)'>
		</div>
	</div>
</div>

@*<div id="statusReportContatiner">
		<a download="Orders.xls" href="#" onclick="return ExcellentExport.excel(this, 'allOrders', 'Orders');">Export all orders</a>
		<div class="col-md-12" style="padding: 10px;">
			<button id="reportOrderBTN" type="button" class="btn btn-success btn-circle btn-lg" style="left: 50%;position: fixed;bottom: 0px;cursor:pointer;z-index: 9999999999;background-color:black">
				<i class="glyphicon glyphicon-chevron-up"></i>
			</button>
			<table id="statusReport" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Order No.</th>
						<th>Status</th>
						<th>PACI  No.</th>
						<th>Created Date</th>
						<th>Problem</th>
						<th>Type</th>
						<th>Assigned</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Order No.</th>
						<th>Status</th>
						<th>PACI  No.</th>
						<th>Created Date</th>
						<th>Problem</th>
						<th>Type</th>
						<th>Assigned</th>
					</tr>
				</tfoot>
				<tbody>
					@foreach (var item in ViewBag.OrderReport)
					{
					<tr>
						<td id="@item.Id" onclick="EditOrder(this);" style="cursor:pointer;">@item.OrderNo</td>
						<td>@item.Status</td>
						<td>@item.PACI</td>
						<td>@item.CreatedDateString</td>
						<td>@item.Problem</td>
						<td>@item.Type</td>
						<td>@item.IsAssigned</td>
					</tr>
					}
				</tbody>
			</table>
			<table id="allOrders" style="display:none;">
				<tr>
					<th>CustomerNo</th>
					<th>CustomerName</th>
					<th>PhoneOne</th>
					<th>PhoneTwo</th>
					<th>ContractNo</th>
					<th>ContractTypeDescription</th>
					<th>ContractDate</th>
					<th>ContactExpiraion</th>
					<th>FunctionalLocation</th>
					<th>PACI</th>
					<th>AreaDescription</th>
					<th>Block</th>
					<th>Street</th>
					<th>House</th>
					<th>Floor</th>
					<th>AppartmentNo</th>
					<th>OrderNo</th>
					<th>OrderTypeDescription</th>
					<th>CompanyCode</th>
					<th>OrderDate</th>
					<th>DivisionDescription</th>
					<th>OrderPriorityDescription</th>
					<th>ProblemDescription</th>
					<th>OrderStatus</th>
					<th>OrderNoteAgent</th>
				</tr>
				@foreach (var item in ViewBag.rowData)
				{
				<tr>
					<td>@item.CustomerNo</td>
					<td>@item.CustomerName</td>
					<td>@item.PhoneOne</td>
					<td>@item.PhoneTwo</td>
					<td>@item.ContractNo</td>
					<td>@item.ContractTypeDescription</td>
					<td>@item.ContractDate</td>
					<td>@item.ContactExpiraion</td>
					<td>@item.FunctionalLocation</td>
					<td>@item.PACI</td>
					<td>@item.AreaDescription</td>
					<td>@item.Block</td>
					<td>@item.Street</td>
					<td>@item.House</td>
					<td>@item.Floor</td>
					<td>@item.AppartmentNo</td>
					<td>@item.OrderNo</td>
					<td>@item.OrderTypeDescription</td>
					<td>@item.CompanyCode</td>
					<td>@item.OrderDate</td>
					<td>@item.DivisionDescription</td>
					<td>@item.OrderPriorityDescription</td>
					<td>@item.ProblemDescription</td>
					<td>@item.OrderStatus</td>
					<td>@item.OrderNoteAgent</td>
				</tr>
				}
			</table>
		</div>
	</div>*@
<script src="~/Scripts/ENUM.js"></script>
<script>
	var map;
	var paciMap;
	var orderLayer;
	var zoomLayer;
	var markerCluster;
	var infoWindow;

	var markers = [];//some array

	var colorEnum = {
		Orange: "-10.png",
		DarkGreen: "-09.png",
		Green: "-08.png",
		LightGreen: "-07.png",
		Pink: "-06.png",
		LightBlue: "-05.png",
		Gray: "-04.png",
		Purple: "-03.png",
		Cyan: "-02.png",
		Yellow: "-01.png",
	}

	function chooseFolder(problem) {
		var baseURL = ENUMS.BaseURL + "images/PINS/";
		var result = {
			url: baseURL,
			name: ""
		};
		switch (problem) {
			case "CAC":
				result.baseURL += "CAC/";
				result.name = "CAC";
				break;
			case "CHI":
				result.baseURL += "CHI/";
				result.name = "CHI";
				break;
			case "ELECTRICAL":
				result.baseURL += "ELEC/";
				result.name = "ELEC";
				break;
			case "FLT":
				result.baseURL += "FLT/";
				result.name = "FLT";
				break;
			case "GAC":
				result.baseURL += "GAC/";
				result.name = "GAC";
				break;
			case "PLB":
				result.baseURL += "PLB/";
				result.name = "PLB";
				break;
			case "PRB":
				result.baseURL += "PRB/";
				result.name = "PRB";
				break;
			case "RAC":
				result.name = "RAC";
				result.baseURL += "RAC/";
				break;
			case "REL":
				result.name = "REL";
				result.baseURL += "REL/";
				break;
			case "RSW":
				result.name = "RSW";
				result.baseURL += "RSW/";
				break;
			case "SAV":
				result.name = "SAV";
				result.baseURL += "SAV/";
				break;
			case "SRA":
				result.name = "SRA";
				result.baseURL += "SRA/";
				break;
			case "SRI":
				result.name = "SRI";
				result.baseURL += "SRI/";
				break;
			case "ZELEVATOR":
				result.name = "ZELE";
				result.baseURL += "ZELE/";
				break;
			default:
				result.baseURL = baseURL;
				result.name = "default";
				break;

		}
		return result;
	}

	function choosePin(orderType, orderDate, problem) {
		var pin = "";
		//debugger;
		if (orderType == "MC Potential Orders") {
			//white
			var restult = chooseFolder(problem);
			pin = restult.url + restult.name + "/" + restult.name + colorEnum.Green;
		} else if (orderType == "Cash Compressor") {
			//orange
			var restult = chooseFolder(problem);
			pin = restult.url + restult.name + "/" + restult.name + colorEnum.Orange;
		} else if (orderType == "Cash call Order") {
			//darkgreen
			var restult = chooseFolder(problem);
			pin = restult.url + restult.name + "/" + restult.name + colorEnum.DarkGreen;
		} else {
			if (orderType == "Preventive Maintenance Order" || orderType == "Enhancement Job Order" || orderType == "Contract Service Order") {
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				//debugger;
				var date = moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						var restult = chooseFolder(problem);
						pin = restult.url + restult.name + "/" + restult.name + colorEnum.Pink;
						break;
					case "Monday":
						var restult = chooseFolder(problem);
						pin = restult.url + restult.name + "/" + restult.name + colorEnum.LightGreen;
						break;
					case "Tuesday":
						var restult = chooseFolder(problem);
						pin = restult.url + restult.name + "/" + restult.name + colorEnum.LightBlue;
						break;
					case "Wednesday":
						var restult = chooseFolder(problem);
						pin = restult.url + restult.name + "/" + restult.name + colorEnum.Purple;
						break;
					case "Thursday":
						var restult = chooseFolder(problem);
						pin = restult.url + restult.name + "/" + restult.name + colorEnum.Cyan;
						break;
					case "Friday":
						var restult = chooseFolder(problem);
						pin = restult.url + restult.name + "/" + restult.name + colorEnum.Gray;
						break;
					case "Saturday":
						var restult = chooseFolder(problem);
						pin = restult.url + restult.name + "/" + restult.name + colorEnum.Yellow;
						break;
					default:
						pin = icons[0];
						break;
				}
			}
		}
		return pin;
	}

	function setAllLayersDeactive(){
		$("#all_p").removeClass("active");
		$("#prob_p").removeClass("active");
		$("#state_p").removeClass("active");
		$("#tech_p").removeClass("active");
	}
	$('.layer').on("click",function(){
		setAllLayersDeactive();
		var aId =  $(this).attr("id");
		var id= aId+"_p";
		$("#"+id).addClass("active");
		if (isCluster) {
			removeClusterMarkers();
		}else{
			removeAllMarkers();
		}
		if (isMarkerClicked) {
			removeAllMarkers();
		}
		if (aId=="all") {
			loadAllOrders();
		}else 	if (aId=="prob") {
			loadOrdersByProblem();
		}else 	if (aId=="state") {
			loadOrdersByStatus();
		}else 	if (aId=="tech") {
			loadOrdersByTechs();
		}

	});

	function removeClusterMarkers() {
		markerCluster.clearMarkers();
		isCluster = false;
	}
	function removeAllMarkers(){
		for (var i = 0; i < allMarkers.length; i++) {
			allMarkers[i].setMap(null);
		}
		for (var i = 0; i < markers.length; i++) {
			markers[i].setMap(null);
		}
	}

	var groups={};
	var groupNames=[];
	function techGroupOrders(){
		groups={};
		groupNames=[];
		for (var i = 0; i < TechOrders.length; i++) {
			var groupName = TechOrders[i].Name;
			if (!groups[groupName]) {
				groups[groupName] = [];
				groupNames.push(groupName);
			}
			groups[groupName].push(TechOrders[i]);
		}
	}

	function problemGroupOrders(){
		groups={};
		groupNames=[];
		for (var i = 0; i < locations.length; i++) {
			var groupName = locations[i].problem;
			if (!groups[groupName]) {
				groups[groupName] = [];
				groupNames.push(groupName);
			}
			groups[groupName].push(locations[i]);
		}
	}

	function statusGroupOrders(){
		groups={};
		groupNames=[];
		for (var i = 0; i < locations.length; i++) {
			var groupName = locations[i].status;
			if (!groups[groupName]) {
				groups[groupName] = [];
				groupNames.push(groupName);
			}
			groups[groupName].push(locations[i]);
		}
	}
	var orderIntervalFillter;
	var orderInterval;
	var isFillterStarted = false;
	var isIntevalStarted = false;


	function startIntervalFunction() {
		if (isIntevalStarted == false ) {
			loadAllOrders();
		}
		isIntevalStarted = true;
		orderInterval = setInterval(function () {
			loadAllOrders();
		}, 60000);
	}


	function startIntervalFillter() {
		isFillterStarted = true;
		orderIntervalFillter = setInterval(function () {
			showOrders();
		}, 60000);
	}

	function stopIntervalFillter() {
		isFillterStarted = false;
		clearInterval(orderIntervalFillter);
		if (markers) {
			removeAllMarkers();
		}
	}

	function stopIntervalFunction() {
		isIntevalStarted = false;
		clearInterval(orderInterval);
		if (markers) {
			removeAllMarkers();
		}
	}

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'),
		{
			center: { lat: 29.30, lng: 48.00 },
			zoom: 8
		});
		var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
		startIntervalFunction();
	}

	function showDefaultMap() {
		if (isFillterStarted == true) {
			stopIntervalFillter();
		}
		if (isIntevalStarted == false) {
			startIntervalFunction();
		}

	}

	var isCluster =false;
	function loadAllOrders() {
		if (isFillterStarted == true) {
			stopIntervalFillter();
		}

		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "MapBoard/GetDispatcherOrders",
			type: "Get",
			success: function (result) {
				locations = [];
				currentOrders = JSON.parse(result);
				// if google map
				if ($('#map').css('display') == 'block') {
				var infowindow = new google.maps.InfoWindow();
				var marker, i;
				for (i = 0; i < currentOrders.length; i++) {
					if (currentOrders[i].Lat && currentOrders[i].Long) {

						var markerPin = choosePin(currentOrders[i].Type, currentOrders[i].CreatedDateString, currentOrders[i].ProblemCode);
						// google
						var icon = {
							url: markerPin, // url
							scaledSize: new google.maps.Size(50, 50), // scaled size
						};

						marker = new google.maps.Marker({
							position: new google.maps.LatLng(currentOrders[i].Lat, currentOrders[i].Long),
							map: map,
							icon: icon
						});

						markers.push(marker);
						google.maps.event.addListener(marker, 'click', (function (marker, i) {
							return function () {
								var content = "<br/><p>Order No. : " + currentOrders[i].OrderNo + "</p><br/><p>Problem : " + currentOrders[i].Problem + "</p><br/><p>Status : " + currentOrders[i].Status + "</p>";
								infowindow.setContent(content);
								infowindow.open(map, marker);
							}
						})(marker, i));
					}
				}


				//var bounds = new google.maps.LatLngBounds();
				//for (var i = 0; i < markers.length; i++) {
				//	bounds.extend(markers[i].getPosition());
				//}

				if (markers.length == 0) {
					if ($('#rightContainer').css('display') == 'block') {
						$('#alert').html("There is no orders by this criteria!");
						document.getElementById("alert").style.display = "block";
						setTimeout(function () {
							$('#alert').fadeOut('slow');
						}, 5000);
					}
				} else {
					//map.fitBounds(bounds);
				}

				if (isIntevalStarted == false) {
					startIntervalFunction();
				}
					// if esri map
				} else {

					require(["esri/map",
						"esri/geometry/Geometry",
						"esri/geometry/Point",
						"esri/geometry/Polyline",
						"esri/geometry/Polygon",
						"esri/graphic",
						"esri/symbols/SimpleMarkerSymbol",
						"esri/symbols/PictureMarkerSymbol",
						"esri/symbols/SimpleLineSymbol",
						"esri/symbols/SimpleFillSymbol",
						"esri/Color",
						"esri/InfoTemplate",
						"esri/layers/GraphicsLayer",
						"dojo/domReady!",
						"esri/geometry"], function (Map,

							Geometry,
							Point,
							Polyline,
							Polygon,
							Graphic,
							SimpleMarkerSymbol,
							PictureMarkerSymbol,
							SimpleLineSymbol,
							SimpleFillSymbol,
							Color,
							InfoTemplate,
							GraphicsLayer) {
							var graphicsArray = [];
							if (orderLayer) {
								paciMap.removeLayer(orderLayer);
								//orderLayer.clear();
							}
							//paciMap.graphics.clear();
							orderLayer = new GraphicsLayer();
							for (i = 0; i < currentOrders.length; i++) {
								if (currentOrders[i].Lat && currentOrders[i].Long) {
									var markerPin = choosePin(currentOrders[i].Type, currentOrders[i].CreatedDateString, currentOrders[i].ProblemCode);
									var pictureMarkerSymbol = new PictureMarkerSymbol(markerPin, 51, 51);
									var point = new Point(currentOrders[i].Long, currentOrders[i].Lat);
									//var pointSymbol = new SimpleMarkerSymbol();
									var pointAttributes = { Problem: currentOrders[i].Problem, Status: currentOrders[i].Status };
									var pointInfoTemplate = new InfoTemplate("Order No. " + currentOrders[i].OrderNo);
									var pointGraphic = new Graphic(point, pictureMarkerSymbol, pointAttributes).setInfoTemplate(pointInfoTemplate);

									graphicsArray.push(pointGraphic);
								}
							}

							for (i = 0; i < graphicsArray.length; ++i) {
								orderLayer.add(graphicsArray[i]);
							}
							paciMap.addLayer(orderLayer);
						});

					if (isIntevalStarted == false) {
						startIntervalFunction();
					}
				}
			}
		});
	}

	var icons=["http://maps.google.com/mapfiles/ms/icons/green-dot.png",
		"http://maps.google.com/mapfiles/ms/icons/red-dot.png",
		"http://maps.google.com/mapfiles/ms/icons/yellow-dot.png",
	"http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
	"http://maps.google.com/mapfiles/ms/icons/orange-dot.png"]

	function loadOrdersByProblem(){
		problemGroupOrders();
		var marker, i;
		var infowindow = new google.maps.InfoWindow();
		for (var x = 0; x < groupNames.length; x++) {
			var curIcon=icons[x];
			for (i = 0; i <  groups[groupNames[x]].length; i++) {
				marker = new google.maps.Marker({
					position: new google.maps.LatLng( groups[groupNames[x]][i].postition.lat,  groups[groupNames[x]][i].postition.lng),
					map: map,
					icon:curIcon,
					title:"Order No. "+groups[groupNames[x]][i].orderNo +" || Problem: " +groups[groupNames[x]][i].problem
				});
				allMarkers.push(marker);
				var obj=groups[groupNames[x]];
				google.maps.event.addListener(marker, 'click', (function(marker, i) {
					return function() {
						infowindow.setContent(marker.title);
						infowindow.open(map, marker);
					}
				})(marker, i));
			}
		}
		google.maps.event.addDomListener(document, "resize", function() {
			var center = map.getCenter();
			google.maps.event.trigger(map, "resize");
			map.setCenter(center);
		});
	}
	var allMarkers=[];
	function loadOrdersByStatus(){
		statusGroupOrders();
		var marker, i;
		var infowindow = new google.maps.InfoWindow();
		for (var x = 0; x < groupNames.length; x++) {
			var curIcon=icons[x];
			for (i = 0; i <  groups[groupNames[x]].length; i++) {
				marker = new google.maps.Marker({
					position: new google.maps.LatLng( groups[groupNames[x]][i].postition.lat,  groups[groupNames[x]][i].postition.lng),
					map: map,
					icon:curIcon,
					title:"Order No. "+groups[groupNames[x]][i].orderNo +" || Status: " +groups[groupNames[x]][i].status
				});
				allMarkers.push(marker);
				var obj=groups[groupNames[x]];
				google.maps.event.addListener(marker, 'click', (function(marker, i) {
					return function() {
						infowindow.setContent(marker.title);
						infowindow.open(map, marker);
					}
				})(marker, i));
			}
		}
		google.maps.event.addDomListener(document, "resize", function() {
			var center = map.getCenter();
			google.maps.event.trigger(map, "resize");
			map.setCenter(center);
		});
	}

	function loadOrdersByTechs(){
		techGroupOrders();
		console.log(groups);
		var marker, i;
		var infowindow = new google.maps.InfoWindow();
		for (var x = 0; x < groupNames.length; x++) {
			var curIcon=icons[x];
			for (i = 0; i <  groups[groupNames[x]].length; i++) {
				if (groups[groupNames[x]][i].Name != "") {
					marker = new google.maps.Marker({
						position: new google.maps.LatLng( groups[groupNames[x]][i].Lat,  groups[groupNames[x]][i].Long),
						map: map,
						icon:curIcon,
						title:"<p>Order No. : " +groups[groupNames[x]][i].OrderNo+"</p><br/><p>Problem : " +groups[groupNames[x]][i].OrderProblem+"</p><br/><p>Status : " +groups[groupNames[x]][i].OrderStatus+"</p><br/><p>Technician Name : " +groups[groupNames[x]][i].Name+"</p>"
					});
					allMarkers.push(marker);
					var obj=groups[groupNames[x]];
					google.maps.event.addListener(marker, 'click', (function(marker, i) {
						return function() {
							infowindow.setContent(marker.title);
							infowindow.open(map, marker);
						}
					})(marker, i));
				}
			}
		}
		google.maps.event.addDomListener(document, "resize", function() {
			var center = map.getCenter();
			google.maps.event.trigger(map, "resize");
			map.setCenter(center);
		});
	}

	var locations = []
	var currentOrders = []; // Html.Raw(Json.Encode( ViewBag.Orders));
	//if (currentOrders && currentOrders.length > 0) {
	//	for (var i = 0; i < currentOrders.length; i++) {
	//		if (currentOrders[i].Lat && currentOrders[i].Long) {
	//			locations.push({ postition: { lat: currentOrders[i].Lat, lng: currentOrders[i].Long }, orderNo: currentOrders[i].OrderNo, problem: currentOrders[i].Problem, status: currentOrders[i].Status });
	//		}
	//	}
	//}

	function slideDrager() {
		var draggerWidth = (100 * parseFloat($('#dragger').css('width')) / parseFloat($('#dragger').parent().css('width'))) + '%';
		var left = $('#dragger').css("left");
		if (left == "0px") {
			$("#rightContainer").css({ width: "97.75%" });
			$("#rightContainer").css({ left: "2.25%" });
			$("#dragger").css({ left: "-17.75%" });
			$("#arrowChange").removeClass("glyphicon-chevron-left");
			$("#arrowChange").addClass("glyphicon-chevron-right");
		} else {
			$("#rightContainer").css({ width: "80%" });
			$("#rightContainer").css({ left: "20%" });
			$("#dragger").css({ left: "0px" });
			$("#arrowChange").removeClass("glyphicon-chevron-right");
			$("#arrowChange").addClass("glyphicon-chevron-left");
		}
		var center = map.getCenter();
		google.maps.event.trigger(map, "resize");
		map.setCenter(center);
	}
	function slideFillter() {
		var top = $('#menu').css("top");
		if (top == "0px") {
			$("#menu").css({ top: "-16%" });
			$("#arrowFillter").removeClass("glyphicon-chevron-up");
			$("#arrowFillter").addClass("glyphicon-chevron-down");
			$(".shide").css({ display: "none" });
		} else {
			$("#menu").css({ top: "0%" });
			$("#arrowFillter").removeClass("glyphicon-chevron-down");
			$("#arrowFillter").addClass("glyphicon-chevron-up");
			$(".shide").css({ display: "block" });
		}
	}
</script>


<script src="https://js.arcgis.com/3.21/"></script>
<script type="text/javascript">
	require(["esri/map", "esri/layers/ArcGISTiledMapServiceLayer", "dojo/domReady!"], function (Map, ArcGISTiledMapServiceLayer) {

		var initialExtent = new esri.geometry.Extent
			({ "xmin": 5190124.0769009115, "ymin": 3335306.073392077, "xmax": 5437155.058767752, "ymax": 3495933.660671074, "spatialReference": { "wkid": 102100 } });
		paciMap = new Map("IMap", { extent: initialExtent });

		var BaseMap = new esri.layers.ArcGISTiledMapServiceLayer("https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/ArabicMap/MapServer/");
		paciMap.addLayer(BaseMap);
		$("#IMap").css({ display: "none" });

		//paciMap.on("load", function () {
		//	var pt = new esri.geometry.Point(48.003555, 29.319276, new esri.SpatialReference({ 'wkid': 4326 }));
		//	paciMap.graphics.add(new esri.Graphic(
		//		esri.geometry.geographicToWebMercator(pt), // geometry
		//		new esri.symbol.SimpleMarkerSymbol(), // symbol
		//		{ 'title': 'Some Title...', 'content': 'Some content...' }, // attributes
		//		new esri.InfoTemplate('${title}', '${content}')
		//	));
		//});
	});

	//function init() {
	//	var initExtent = new esri.geometry.Extent({ "xmin": -10427539, "ymin": 5592973, "xmax": -10358746, "ymax": 5638836, "spatialReference": { "wkid": 102100 } });
	//	map = new esri.Map("mapDiv", { extent: initExtent });
	//	var basemapURL = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer"
	//	var basemap = new esri.layers.ArcGISTiledMapServiceLayer(basemapURL);
	//	map.addLayer(basemap);
	//	dojo.connect(map, 'onLoad', function () {
	//		var pt = new esri.geometry.Point(-100, 40, new esri.SpatialReference({ 'wkid': 4326 }));
	//		map.graphics.add(new esri.Graphic(
	//			esri.geometry.geographicToWebMercator(pt), // geometry
	//			new esri.symbol.SimpleMarkerSymbol(), // symbol
	//			{ 'title': 'Some Title...', 'content': 'Some content...' }, // attributes
	//			new esri.InfoTemplate('${title}', '${content}')
	//		));
	//	});



</script>

@*<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	</script>*@
@*<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBMBz9-kA31wvOJBlJIZnJSh3CF6ILctDo&callback=initMap" async defer></script>*@
<script src="https://maps.googleapis.com/maps/api/js?ext=.js&key=AIzaSyBMBz9-kA31wvOJBlJIZnJSh3CF6ILctDo"></script>

<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script>

@*
	<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
@*
	<script src="~/Scripts/buttons.dataTables.min.js"></script>*@
@*
	<script src="~/Scripts/button.flash.min.js"></script>*@
@*
	<script src="~/Scripts/jszip.min.js"></script>*@
@*
	<script src="~/Scripts/pdfmake.min.js"></script>*@
@*
	<script src="~/Scripts/vfs_fonts.js"></script>*@
@*
	<script src="~/Scripts/buttons.html5.js"></script>*@
@*
	<script src="~/Scripts/buttons.print.min.js"></script>*@
<script type="text/javascript">
	initMap();

	/*
	$('#statusReport tfoot th').each(function () {
		var title = $(this).text();
		$(this).html('<input type="text" placeholder="Search ' + title + '" />');
	});

	// DataTable
	var table = $('#statusReport').DataTable({
		"pageLength": 5,
		"lengthMenu": [[5, 10, 15], [5, 10, 15]],
		"dom": 'Bfrtip',
		"buttons": [
			//  'copy',
			//'csv',
			'excel',
			'pdf',
			//'print'
		]
	});

	// Apply the search
	table.columns().every(function () {
		var that = this;

		$('input', this.footer()).on('keyup change', function () {
			if (that.search() !== this.value) {
				that
					.search(this.value)
					.draw();
			}
		});
	});

	$('#statusReport tfoot tr').appendTo('#statusReport thead');

	$("#reportOrderBTN").on("click", function () {
		if ($('#statusReport_wrapper').css('display') == 'none') {
			$("#reportOrderBTN").css({
				bottom: "322px"
			});
			$("#reportOrderBTN i").removeClass('glyphicon-chevron-up');
			$("#reportOrderBTN i").addClass('glyphicon-chevron-down');

			$("#statusReport_wrapper").css({
				display: "block",
				height: "325px"
			});
		} else {
			$("#reportOrderBTN").css({
				bottom: "0px"
			});
			$("#reportOrderBTN i").removeClass('glyphicon-chevron-down');
			$("#reportOrderBTN i").addClass('glyphicon-chevron-up');

			$("#statusReport_wrapper").css({
				display: "none",
				height: "0px"
			});
		}

	});
	*/
</script>
<script>
	function EditOrder(evt) {
		var data = JSON.stringify({ orderId: evt.id });

		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/EditOrder",
			type: "POST",
			//cache: false,
			//async: true,
			data: data,
			success: function (result) {
				console.log(result);
				$("#views").html(result);
				$("#views").css({
					display: "block"
				});
			}
		});
	}

	function closeOrderEditView() {
		$("#views").css({
			display: "none"
		});
	}
</script>

<script>
	function mapChange() {
		var ele = document.getElementsByName('mapType');
		var i = ele.length;
		for (var j = 0; j < i; j++) {
			if (ele[j].checked) { //index has to be j.
				if (j == 0) {
					$("#map").css({ display: "block" });
					$("#IMap").css({ display: "none" });
				} else {
					$("#map").css({ display: "none" });
					$("#IMap").css({ display: "block" });
				}
			}
		}
		loadAllOrders();
	}

</script>

<script>
	function checkEmptyOrUndefined(text) {
		return (text != null || text != undefined) ? text : "--";
	}

	function chooseColor(orderType, orderDate) {
		var style = {
			colorClass: "",
			orderTextColor: null
		};
		//debugger;
		if (orderType == "MC Potential Orders") {
			style.colorClass = "white";
			style.orderTextColor = "black";
		}  else if (orderType == "Cash Compressor"){
			style.colorClass = "orange";
			style.orderTextColor = "black";
		}else if (orderType == "Cash call Order") {
			style.colorClass = "darkgreen";
			style.orderTextColor = "white";
		} else {
			if (orderType == "Preventive Maintenance Order" || orderType == "Enhancement Job Order" || orderType == "Contract Service Order") {
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}else{
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}
		}
		return style;
	}

	var unAssignedorders = @Html.Raw(Json.Encode( ViewBag.UnAssignedOrders));

	var unAssignContent="";
	var unAssignContent="<div style='width:100%;height:74vh;overflow-y:auto;border: 1px solid black;'>";
	for (var i = 0; i < unAssignedorders.length; i++) {
		var style = chooseColor(unAssignedorders[i].Type, unAssignedorders[i].CreatedDate);
		if (unAssignedorders[i].PACI) {
			unAssignContent += "<div class='"+unAssignedorders[i].PACI+"' id='"+unAssignedorders[i].Id+"_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:90px;padding:2px;margin-top:0px;border-style: solid;border-width: 1px;border-color:black;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";' onclick='ZoomToOrder("+unAssignedorders[i].Lat+","+unAssignedorders[i].Long+","+unAssignedorders[i].OrderNo+")'>";
		}else {
			unAssignContent+= "<div class='"+unAssignedorders[i].PACI+"' id='"+unAssignedorders[i].Id+"_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:90px;padding:2px;margin-top:0px;border-style: solid;border-width: 3px;border-color:red;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";' onclick='ZoomToOrder("+unAssignedorders[i].Lat+","+unAssignedorders[i].Long+","+unAssignedorders[i].OrderNo+")'>";
		}
		unAssignContent+="<div class='checks'  style='width: 1%;float:left;padding-left:0px;padding-right:0px;display:none;z-index:999999;    position: relative;'>"+
   "<div class='checkbox checkbox-danger' >"+"<input id='"+unAssignedorders[i].Id+"' paci='"+unAssignedorders[i].PACI+"' name='"+unAssignedorders[i].Id+"' class='styled'  type='checkbox'  style='z-index: 99999;top: 20px;position: absolute;cursor: pointer;'><label for='"+unAssignedorders[i].Id+"' ></label></div>"+
			"</div>";
		unAssignContent+="<div class='' style='width: 85%;margin-top:10px;padding-left:10%;padding-right:0px;float:left;max-height: 80px;'>";
		unAssignContent+="<a style='display:none'>"+unAssignedorders[i].OrderNo +" "+ checkEmptyOrUndefined(unAssignedorders[i].Area) + " "+unAssignedorders[i].PACI+ " "+ unAssignedorders[i].Problem +" " +  unAssignedorders[i].CustomerNo + " " +  unAssignedorders[i].CustomerName + " " +  unAssignedorders[i].CustomerPhone+ "</a>"
		unAssignContent+="<div class='row' style='width: 85%;height:30px'><div  class='col-md-6'>No.:</div><div  class='col-md-6' style='padding-left: 0px;padding-right: 0px;max-height: 23px;'>"+unAssignedorders[i].OrderNo+"</div></div>";
		unAssignContent+="<div class='row' style='width: 85%;height:30px'><div class='col-md-6'>Area:</div><div  class='col-md-6' style='padding-left: 0px;padding-right: 0px;max-height: 23px;overflow-y: hidden;overflow-x: hidden;' >"+checkEmptyOrUndefined(unAssignedorders[i].Area)+"</div></div>";
		unAssignContent+="</div><div class='' id= '"+unAssignedorders[i].Id+"_o' style='width: 5%;padding-left:5%;float:left'>";
		//if (unAssignedorders[i].DateTo) {
		//	unAssignContent+="<span class='glyphicon glyphicon-bell' aria-hidden='true' title='Scheduled' ></span>";
		//}else{
		//	unAssignContent+="<span class='glyphicon glyphicon-time' title='Visit Time' aria-hidden='true' style='cursor:pointer' onclick='openChangeVisit(0,this);'></span>";
		//}
		//unAssignContent+="<span class='glyphicon glyphicon-transfer' title='Transfer To Another Dispatcher' aria-hidden='true'  style='cursor:pointer' onclick='transferOrder(this);'></span>";
		//unAssignContent+="<span class='glyphicon glyphicon-wrench' title='Edit'  aria-hidden='true'  style='cursor:pointer' onclick='editOrder(0,this);'></span>";
		//unAssignContent+="<span class='glyphicon glyphicon-cog' title='Work Update' aria-hidden='true'  style='cursor:pointer' onclick='openWorkUpdate(0,this);'></span>";
		unAssignContent+="</div></div>";
	}
	unAssignContent+="</div>";
	document.getElementById("unAssigendOrderLoc").innerHTML = unAssignContent;

	function orderSearchFunction(){
		var input, filter, ul, li, a, i;
		input = document.getElementById("orderSearch");
		filter = input.value.toUpperCase();
		ul = document.getElementById("unAssigendOrderLoc").children[0];
		li = ul.children;
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";

			}
		}
	}
	var isMarkerClicked = false;
	var zoomMarkers = [];
	function ZoomToOrder(lat,lng,orderNo){
		if (lat && lng) {
			//if (isCluster) {
			//	removeClusterMarkers();
			//}else{
				//removeAllMarkers();
			//}
			//stopIntervalFillter();
			//stopIntervalFunction();
				// google

			if ($('#map').css('display') == 'block') {
				if (zoomMarkers && zoomMarkers.length > 0) {
					for (var i = 0; i < zoomMarkers.length; i++) {
						zoomMarkers[i].setMap(null);
					}
				}
			var marker = new google.maps.Marker({
				position: {lat:lat,lng:lng},
				map: map,
				title: 'Order No. : '+orderNo
			});

			var	newInfowindow = new google.maps.InfoWindow({
				content:  'Order No. : '+orderNo
			});
			zoomMarkers.push(marker);
			marker.addListener('click', function() {
				newInfowindow.open(map, marker);
			});

			map.setZoom(14);
			map.panTo(marker.position);
			isMarkerClicked = true;
			} else {
				require(["esri/map",
					"esri/geometry/Geometry",
					"esri/geometry/Point",
					"esri/geometry/Polyline",
					"esri/geometry/Polygon",
					"esri/graphic",
					"esri/symbols/SimpleMarkerSymbol",
					"esri/symbols/PictureMarkerSymbol",
					"esri/symbols/SimpleLineSymbol",
					"esri/symbols/SimpleFillSymbol",
					"esri/Color",
					"esri/InfoTemplate",
					"esri/layers/GraphicsLayer",
					"dojo/domReady!",
					"esri/geometry"], function (Map,

						Geometry,
						Point,
						Polyline,
						Polygon,
						Graphic,
						SimpleMarkerSymbol,
						PictureMarkerSymbol,
						SimpleLineSymbol,
						SimpleFillSymbol,
						Color,
						InfoTemplate,
						GraphicsLayer) {
								//var markerPin = choosePin(currentOrders[i].Type, currentOrders[i].CreatedDateString, currentOrders[i].ProblemCode);

						//paciMap.graphics.clear();
						if (zoomLayer) {
							paciMap.removeLayer(zoomLayer);
						}
						var pictureMarkerSymbol = new PictureMarkerSymbol(icons[1], 35, 35);
						zoomLayer = new GraphicsLayer();
						var point = new Point(lng, lat);
						//var pointSymbol = new SimpleMarkerSymbol();
								//var pointAttributes = { Problem: currentOrders[i].Problem, Status: currentOrders[i].Status };
						var pointInfoTemplate = new InfoTemplate("Order No. " + orderNo);
						var pointGraphic = new Graphic(point, pictureMarkerSymbol).setInfoTemplate(pointInfoTemplate);
						zoomLayer.add(pointGraphic);
						paciMap.addLayer(zoomLayer);
						paciMap.centerAndZoom(point, 12);

					});
			}
			$("#all_p").removeClass("active");
			$("#prob_p").removeClass("active");
			$("#state_p").removeClass("active");
		}else{
			$('#alert').html("There is no position for this order!");
			document.getElementById("alert").style.display="block";
			setTimeout(function(){
				$('#alert').fadeOut('slow');
			},5000);
		}
	}
</script>

@*
	<script>
		$.ajax({
			url: "/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgis/apps/Embed/index.html?webmap=d3eeee8caa614c768e5e460d38e54d70&amp;extent=47.2826,28.9111,48.9003,29.6883&amp;zoom=true&amp;scale=true&amp;disable_scroll=true&amp;theme=light&amp;search=true",
			type: "GET",
			success: function (result) {
				console.log(resutl);
			}});
	</script>*@

<script>
		var TechOrders = @Html.Raw(Json.Encode( ViewBag.TechOrders));
		console.log(TechOrders);

</script>
<script type="text/javascript">

		function showOrders() {
			if (isIntevalStarted == true) {
				stopIntervalFunction();
			}

			var status = $("#statusSelection").val();
			var problems = $("#problemSelection").val();
			var technicians = $("#technicianSelection").val();
			var dispatchers = $("#dispatcherSelection").val();
			var dates = $("#daterange").val().split(" - ");
			var dateFrom = dates[0];
			var dateTo = dates[1];
			var data = JSON.stringify({ dateFrom: dateFrom, dateTo: dateTo, status: status, problems: problems, technicians: technicians, dispatchers: dispatchers });

			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "MapBoard/GetOrders",
				type: "POST",
				data: data,
				success: function (result) {
					var data = JSON.parse(result);

					// if google map
					if ($('#map').css('display') == 'block') {
						if (markers && markers.length > 0) {
							for (i = 0; i < markers.length; i++) {
								markers[i].setMap(null);
							}
							markers = [];
						}
						var infowindow = new google.maps.InfoWindow;

						var marker, i;
						console.log("This is data", data);
						for (i = 0; i < data.length; i++) {

							if (data[i].Lat && data[i].Long) {
								var markerPin = choosePin(data[i].Type, data[i].CreatedDate, data[i].ProblemCode);
								debugger;
								var icon = {
									url: markerPin, // url
									scaledSize: new google.maps.Size(50, 50), // scaled size
									//origin: new google.maps.Point(0, 0), // origin
									//anchor: new google.maps.Point(0, 0) // anchor
								};
								marker = new google.maps.Marker({
									position: new google.maps.LatLng(data[i].Lat, data[i].Long),
									map: map,
									icon: icon
								});

								markers.push(marker);
								google.maps.event.addListener(marker, 'click', (function (marker, i) {
									return function () {
										var content = "<p>Order No. : " + data[i].OrderNo + "</p><br/><p>Problem : " + data[i].Problem + "</p><br/><p>Status : " + data[i].Status + "</p>";
										infowindow.setContent(content);
										infowindow.open(map, marker);
									}
								})(marker, i));
							}
						}

						//var bounds = new google.maps.LatLngBounds();
						//for (var i = 0; i < markers.length; i++) {
						//	bounds.extend(markers[i].getPosition());
						//}
						if (markers.length == 0) {
							$('#alert').html("There is no orders by this criteria!");
							document.getElementById("alert").style.display = "block";
							setTimeout(function () {
								$('#alert').fadeOut('slow');
							}, 5000);
						}
						if (isFillterStarted == false) {
							startIntervalFillter();
						}
						// if esri map
					} else {

						require(["esri/map",
							"esri/geometry/Geometry",
							"esri/geometry/Point",
							"esri/geometry/Polyline",
							"esri/geometry/Polygon",
							"esri/graphic",
							"esri/symbols/SimpleMarkerSymbol",
							"esri/symbols/PictureMarkerSymbol",
							"esri/symbols/SimpleLineSymbol",
							"esri/symbols/SimpleFillSymbol",
							"esri/Color",
							"esri/InfoTemplate",
							"esri/layers/GraphicsLayer",
							"dojo/domReady!",
							"esri/geometry"], function (Map,

								Geometry,
								Point,
								Polyline,
								Polygon,
								Graphic,
								SimpleMarkerSymbol,
								PictureMarkerSymbol,
								SimpleLineSymbol,
								SimpleFillSymbol,
								Color,
								InfoTemplate,
								GraphicsLayer) {
								var graphicsArray = [];
								if (orderLayer) {
									paciMap.removeLayer(orderLayer);
									//orderLayer.clear();
								}
								orderLayer = new GraphicsLayer();
								//paciMap.graphics.clear();
								console.log("Paci filter", data);
								for (i = 0; i < data.length; i++) {
									if (data[i].Lat && data[i].Long) {
										var markerPin = choosePin(data[i].OrderType, data[i].CreatedDate, data[i].ProblemCode);
										var pictureMarkerSymbol = new PictureMarkerSymbol(markerPin, 51, 51);
										var point = new Point(data[i].Long, data[i].Lat);
										//var pointSymbol = new SimpleMarkerSymbol();
										var pointAttributes = { Problem: data[i].Problem, Status: data[i].Status };
										var pointInfoTemplate = new InfoTemplate("Order No. " + data[i].OrderNo);
										var pointGraphic = new Graphic(point, pictureMarkerSymbol, pointAttributes).setInfoTemplate(pointInfoTemplate);
										graphicsArray.push(pointGraphic);
									}
								}

								for (i = 0; i < graphicsArray.length; ++i) {
									orderLayer.add(graphicsArray[i]);
								}
								paciMap.addLayer(orderLayer);
							});
						if (isFillterStarted == false) {
							startIntervalFillter();
						}
					}
				}
			});
		}
</script>
<script type="text/javascript">
		var cars = [];
		var carTechs = [];
		var carRequest = {
			"input": {
				"vehiclesbyvids": [
				]
			}
		};
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "MapBoard/GetCars",
			type: "GET",
			success: function (result) {
				if (cars.length > 0) {
					for (i = 0; i < cars.length; i++) {
						cars[i].setMap(null);
					}
					cars = [];
				}
				var data = JSON.parse(result);
				carTechs = data;
				for (var i = 0; i < data.length; i++) {
					var vid = {
						"VID": data[i].VID
					};
					carRequest.input.vehiclesbyvids.push(vid);
				}


				console.log(data);
				console.log(carRequest);

			}
		});


		function showCars() {
			//var data = "{input:{}}";
			$.ajax({
				dataType: "JSON",
				type: "POST",
				url: ENUMS.VehicleAPI,
				data: carRequest,
				async: true,
				success: function (result) {
					if (result.status.statuscode == "0") {
						if (cars.length > 0) {
							for (i = 0; i < cars.length; i++) {
								cars[i].setMap(null);
							}
							cars = [];
						}
						if (result.response.Vehicleslocation.length > 0) {
							var carInfowindow = new google.maps.InfoWindow;
							var marker, i;
							console.log(result.response.Vehicleslocation);

							for (var i = 0; i < result.response.Vehicleslocation.length; i++) {
								var data = result.response.Vehicleslocation[i];
								marker = new google.maps.Marker({
									position: new google.maps.LatLng(data.Latitude, data.Longtitude),
									icon: ENUMS.BaseURL + "images/vehicle28.png",
									map: map
								});

								cars.push(marker);
								google.maps.event.addListener(marker, 'click', (function (marker, i) {
									return function () {
										var content = "<p>Reg : " + result.response.Vehicleslocation[i].Reg + "</p><br/><p>VID : " + result.response.Vehicleslocation[i].VID + "</p><br/><p>Type : " + result.response.Vehicleslocation[i].Vtype + "</p>";
										carInfowindow.setContent(content);
										carInfowindow.open(map, marker);
									}
								})(marker, i));


								//var data = result.response.Vehicleslocation[i];
								////marker = new google.maps.Marker({
								////	position: new google.maps.LatLng(data.Latitude, data.Longtitude),
								////	icon: ENUMS.BaseURL + "images/vehicle28.png",
								////	map: map
								////});
								//var markerLabel = "";
								//var markerLoc = new google.maps.LatLng(data.Latitude, data.Longtitude);
								//for (var j = 0; j < carTechs.length; j++) {
								//	if (carTechs[j].VID == data.VID) {
								//		markerLabel = carTechs[j].TechName;
								//	}
								//}
								//marker = new MarkerWithLabel({
								//	position: markerLoc,
								//	map: map,
								//	draggable: false,
								//	raiseOnDrag: true,
								//	labelContent: markerLabel,
								//	labelAnchor: new google.maps.Point(50, 55),
								//	labelClass: "labels", // the CSS class for the label
								//	labelInBackground: false,
								//	icon: ENUMS.BaseURL + "images/vehicle28.png",
								//});

								//cars.push(marker);
								//google.maps.event.addListener(marker, 'click', (function (marker, i) {
								//	return function () {
								//		var content = "<p>Reg : " + result.response.Vehicleslocation[i].Reg + "</p><br/><p>VID : " + result.response.Vehicleslocation[i].VID + "</p><br/><p>Type : " + result.response.Vehicleslocation[i].Vtype + "</p>";
								//		carInfowindow.setContent(content);
								//		carInfowindow.open(map, marker);
								//	}
								//})(marker, i));
							}
						}

						setInterval(function () { showCars(); }, 180000);
					}
				}
			});
		}
</script>
<script>
		function printOutView() {
			closeChangeAvailability();
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/PrintOut",
				type: "POST",
				success: function (result) {
					console.log(result);
					$("#PrintOutView").html(result);
					$("#PrintOutView").css({
						display: "block"
					});
					$("#rightContainer").css({
						display: "none"
					});
				}
			});
		}


		function closePrintOut() {
			$("#PrintOutView").css({
				display: "none"
			});
			$("#rightContainer").css({
				display: "block"
			});
		}
</script>
<script>

	function closeChangeAvailability(){
		$("#availabilityContainer").css({display:"none"});
	}

	function openChangeAvailability(evt) {
		closePrintOut();
		var divToShow =$("#availabilityContainer");
		divToShow.css({
			display: "block",
			position: "absolute",
			left: "11%",
			//left: ($(evt).offset().left +10) + "px",
			top: ($(evt).offset().bottom +$(evt).height()+20) + "px"
		});
	}

	function confirmChangeAvailability() {
		var technicianId = $("#availabilityTechSelect option:selected").attr("id");
		var availabilityId = $("#availabilitySelect option:selected").attr("id");

		var data = JSON.stringify({technicianId: technicianId ,availabilityId:availabilityId});
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/ChangeAvailability",
			type: "POST",
			data: data,
			success: function(result) {
				if (result) {
					closeChangeAvailability();
					@*var url = '@Url.Action("Index", "MapBoard")';
					window.location.href = url;*@
					// create notification for success here.
				}
				// create notification for failed here.
			}
		});
	}

</script>
