﻿@model SmartDispatching.Models.FormanViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Forman</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Id)*@

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.SuperDispatcherId, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("SuperDispatcherId", null, htmlAttributes: new { @class = "form-control", @onchange = "ChangeDispatchers(this.value);" })
				@Html.ValidationMessageFor(m => m.SuperDispatcherId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.DispatcherId, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.DropDownList("DispatcherId", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DispatcherId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
	function ChangeDispatchers(superId) {
		$("#DispatcherId").empty();
		$.ajax({
			type: 'POST',
			url: '@Url.Action("GetDispatchers")',
			dataType: 'json',
			data: { id: superId },
			success: function (states) {
				debugger;
				$.each(states, function (i, sub) {
					$("#DispatcherId").append('<option value="' + sub.Value + '">' +
						sub.Text + '</option>');
				});
			},
			error: function (ex) {
				alert('Failed to retrieve Dispatchers.' + ex);
			}
		});
	}
	function changeTechnician(p) {
		debugger;
		$("#orderInfoFormanAssigned").empty();
		$.ajax({
			type: 'POST',
			url: '@Url.Action("GetFormans")',
			dataType: 'json',
			data: { id: p },
			success: function (states) {
				debugger;
				$.each(states, function (i, sub) {
					$("#orderInfoFormanAssigned").append('<option value="' + sub.Value + '">' +
						sub.Text + '</option>');

				});
			},
			error: function (ex) {
				alert('Failed to retrieve Sub Prosecution Areas.' + ex);
			}
		});
	};
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
