﻿@model SmartDispatching.Models.RegisterViewModel
@{
	ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h4>Create a new account.</h4>
	<hr />
	@Html.ValidationSummary("", new { @class = "text-danger" })

	<div class="form-group">
		@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.RoleId, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control", @onchange = "ChangeRole(this.value);" })
			@Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group" id="divisionContainer" style="display:none;">
		@Html.LabelFor(m => m.DivisionId, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.DropDownList("DivisionId", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.DivisionId, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Register" />
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
	function ChangeRole(val) {
		if (val == 4) {
			$("#divisionContainer").css({
				display: "block"
			});
		} else {
			$("#divisionContainer").css({
				display: "none"
			});
		}
		//console.log(val);
	}
</script>