﻿@model SmartDispatching.Models.RegisterViewModel

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
	<h4>ApplicationUser</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.UserName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.UserName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.RoleId)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.RoleId)
		</dd>

	</dl>
</div>
<p>
	@*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
	@Html.ActionLink("Back to List", "Index")
</p>
