﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IT Management Zone</h2>

<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Areas") ';">Areas</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Blocks") ';">Blocks</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Cancellation") ';">Cancellation</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "CompanyCodes") ';">Company Code</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "ContractTypes") ';">Contract Types</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Divisions") ';">Divisions</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Governorates") ';">Governorates</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "OrderPriorities") ';">Order Priority</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "OrderStatus") ';">Order Status</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "OrderTypes") ';">Order Types</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Problems") ';">Problems</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "TVAvailability") ';">Technician Availablity</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "WorkUpdate") ';">Work Update</button>