﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supervisor Management Zone</h2>

<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Dispatchers") ';">Dispatchers</button>
@*<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "DispatcherAreas") ';">Dispatcher Areas</button>*@
@*<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "DispatcherProblems") ';">Dispatcher Problems</button>*@
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "DispatcherDatas") ';">Dispatcher Data</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "DispatcherDivisions") ';">Dispatcher Divisions</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Formans") ';">Formans</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Technicians") ';">Technicians</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "FormanAreas") ';">Forman Areas</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "TechnicianAreas") ';">Technician Areas</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "FormanProblems") ';">Forman Problems</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "TechnicianProblems") ';">Technician Problems</button>
<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("NotificationTime", "SuperManagement") ';">Notification Time</button>
