﻿@model SmartDispatching.Models.NotificationTimeModel
@{
	ViewBag.Title = "Notification Time";
}

<h2>@ViewBag.Title.</h2>

<div class="form-group">
	<lable class="col-md-2 control-label">
		Cofigure Time:
	</lable>
	<div class="class = " form-control">
		@ViewBag.Time
	</div>
</div>

@using (Html.BeginForm("NotificationTime", "SuperManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h4>Enter New Time Value.</h4>
	<hr />
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="form-group">
		<div class="col-md-2">
			@Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-6" })
		</div>
		<div class="col-md-3">
			@Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
			@*<input type="text" id="timePeriod" class="form-control" />*@
		</div>
		<div class="col-md-1">
			<input type="submit" class="btn btn-default" value="Ok" />
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
