﻿@model SmartDispatching.DB.DataBase.Technician

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Technician</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
Technician Name
		        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
Dispatcher Name
		        </dt>

        <dd>
            @Html.DisplayFor(model => model.DispatcherId)
        </dd>

        <dt>
Supervisor Name
		        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperDispatcherId)
        </dd>

        <dt>
Forman Name
		        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forman.Name)
        </dd>

        <dt>
Availability
		        </dt>

        <dd>
            @Html.DisplayFor(model => model.TV_Availability.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
