﻿@model IEnumerable<SmartDispatching.DB.DataBase.Technician>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Name
        </th>
        <th>
          Dispatcher Name
        </th>
        <th>
        Supervisor Name
        </th>
        <th>
           Forman Name
        </th>
        <th>
         Availability
        </th>
		@*<th>
			Car
		</th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DispatcherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuperDispatcherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forman.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TV_Availability.Name)
        </td>
		@*<td>
			@Html.DisplayFor(modelItem => item.Car.Reg)
		</td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
