﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>@ViewBag.Title - Smart Dispatching</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<style>
		.notification-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 12px 16px;
			z-index: 1;
		}
	</style>
	<script src="~/Scripts/ENUM.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Smart Dispatching", null, null, new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@if (this.User.IsInRole("IT"))
					{
						<li>@Html.ActionLink("Home", "Index", "ITManagement")</li>
					}
					else if (this.User.IsInRole("Admin"))
					{
						<li>@Html.ActionLink("Home", "Index", "Users")</li>
					}
					else if (this.User.IsInRole("Manager"))
					{
						<li>@Html.ActionLink("Home", "Index", "Users")</li>
					}
					else if (this.User.IsInRole("Dispatcher"))
					{
						<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
						<li><a style="cursor:pointer;" onclick="ShowHideAddOrder();">Add New Order</a></li>
						<li><a style="cursor:pointer;" onclick="printOutView();">Print Out</a></li>
						@*<li><a style="cursor:pointer;" onclick="openAddOrderFile(this);">Add Order File</a></li>*@
						<li>@Html.ActionLink("Bulk Assign", "BulkAssign", "Dashboard")</li>
						@*<li><a style="cursor:pointer;" onclick="massReassign(this);">Bulk Assign</a></li>*@
						<li><a style="cursor:pointer;" onclick="openChangeAvailability(this);">Change Availability</a></li>
						<li>@Html.ActionLink("Map Board", "Index", "MapBoard")</li>
						<li>@Html.ActionLink("Reports", "Reports", "Dashboard")</li>
						<li>@Html.ActionLink("Chart Board", "ChartBoard", "Dashboard")</li>
					}
					else if (this.User.IsInRole("Supervisor"))
					{
						<li>@Html.ActionLink("Home", "Index", "SuperDashboard")</li>
						@*<li><a style="cursor:pointer;" onclick="massReassign(this);">Bulk Assign</a></li>*@
						<li>@Html.ActionLink("Management", "Index", "SuperManagement")</li>
					}
					else if (this.User.IsInRole("Engineer"))
					{
						<li>@Html.ActionLink("Home", "Reports", "Dashboard")</li>
					}
					else if (this.User.IsInRole("Foreman"))
					{
						<li>@Html.ActionLink("Home", "ForemanIndex", "SuperDashboard")</li>
					}
					else
					{
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="">
		@RenderBody()
		<div style="position: fixed;bottom: 10px; width:100%">
			@*<hr style="width: 100%;" />*@
			<footer style="width:100%">
				<p style="text-align: center;">© 2017 Amanah Teknologia ALL RIGHTS RESERVED</p>
			</footer>
		</div>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		function ShowHideAddOrder() {
			if (document.getElementById("OrderCreationView").style.display == "block") {
				document.getElementById("OrderCreationView").style.display = "none";
				document.getElementById("OrderEditView").style.display = "none";
				document.getElementById("BoardView").style.display = "block";
			} else {
				document.getElementById("OrderCreationView").style.display = "block";
				document.getElementById("BoardView").style.display = "none";
				document.getElementById("OrderEditView").style.display = "none";
			}
		}
	</script>

</body>
</html>
