﻿@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>HttpError404</title>
</head>
<body>
	<p>This URL is not found! please check the URL.</p>
</body>
</html>
