﻿
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<p> There is an issue with server right now, Please contact with the administrator. </p>
</body>
</html>
