﻿@model SmartDispatching.DB.DataBase.OrderWorkUpdate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderWorkUpdate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TripNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Notes_ICAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Notes_ICAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work_Update.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work_Update.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
