﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager Management Zone</h2>

<button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='@Url.Action("Index", "Super_R_Dispatchers") ';">Supervisor & Dispatchers</button>
