﻿@model SmartDispatching.DB.DataBase.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes_ICAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes_ICAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderPriority.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderPriority.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
