﻿@model IEnumerable<SmartDispatching.DB.DataBase.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
Created Date
		        </th>
        <th>
Notes
		        </th>
        <th>
Company Code
		        </th>
        <th>
Customer      
		  </th>
        <th>
Divison
		        </th>
        <th>
Priority     
		   </th>
        <th>
Status
		        </th>
        <th>
Type
		        </th>
        <th>
Problem
		        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes_ICAgent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyCode.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPriority.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatu.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problem.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
