﻿
@{
	ViewBag.Title = "BulkAssign";
	Layout = "~/Views/Shared/_Layout_Map.cshtml";
}
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/moment.js"></script>


<style>
	table, tr td {
		/*border: 1px solid black;*/
	}

	tbody {
		display: block;
		max-height: 450px;
		overflow-y: auto;
	}

		thead, tbody tr {
			display: table;
			width: 100%;
			table-layout: fixed;
		}

	thead {
		width: 400px;
	}

	table {
		width: 400px;
	}


	#availabilityContainer {
		width: 27%;
		background-color: white;
		z-index: 999999;
		height: 235px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
	}
</style>

<div class="col-md-12" id="PrintOutView" style="display:none;border: 1px solid black;height: 81vh;border-radius: 29px; padding: 10px;top: 10px;">
</div>

<div class="container" id="BoardView">

	<div id="availabilityContainer">
		<h4>Change Availability: </h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: 10px; cursor:pointer" onclick="closeChangeAvailability();"></i>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-5">
						<label for="availabilityTechSelect">Technician Name:</label>
					</div>
					<div class="col-md-7">
						<select class="form-control" id="availabilityTechSelect" style="width:100%">
							@foreach (var item in ViewBag.Technicians)
							{
							<option id="@item.Id">@item.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-5">
						<label for="availabilitySelect">Availability:</label>
					</div>
					<div class="col-md-7">
						<select class="form-control" id="availabilitySelect" style="width:100%">
							@foreach (var item in ViewBag.Availability)
							{
							<option id="@item.Id">@item.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-5"></div>
					<div class="col-md-7">
						<button id="" type="button" class="btn btn-success" onclick="confirmChangeAvailability();">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br />
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1">Work Orders</a></li>
		<li><a data-toggle="tab" href="#tab2">Technician Orders</a></li>
	</ul>

	<div class="tab-content">
		<div id="tab1" class="tab-pane fade in active">
			<br />
			<button onclick="AddRow()" class="btn btn-success">Add new order</button>
			<br />
			<br />
			<div style="float:left;;width:50%">
				<table id="workOrderTable">
					<thead>
						<tr>
							<th>Order No.</th>
							<th>Assigned Technician</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type='number' id="no_1" name='OrderNo' value='' class="orderNo"></td>
							<td><input type='text' id='ass_1' name='Assigner' value='' disabled></td>
						</tr>
					</tbody>
				</table>
				<br />
			</div>

			<div style="float:right;width:50%">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5">
								<label for="OrderTo">Assign To:</label>
							</div>
							<div class="col-md-7">
								<select class="form-control" id="OrderTo" name="BulkTo" style="width:100%" onChange="orderToChanged(this);">
									<option id="0">Back to unassign</option>
									<option id="1">Technician</option>
									<option id="2">Dispatcher</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row" id="OrderToTechnician" style="display:none">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5">
								<label for="ToSelectedTechnician">To Technician:</label>
							</div>
							<div class="col-md-7">
								<select class="form-control" id="ToSelectedTechnician" name="BulkToTechnician" style="width:100%">
									@foreach (var item in ViewBag.Technicians)
									{
										<option id="@item.Id">@item.Name</option>
									}
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row" id="OrderToDispatcher" style="display:none">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5">
								<label for="ToSelectedDispatcher">To Dispatcher:</label>
							</div>
							<div class="col-md-7">
								<select class="form-control" id="ToSelectedDispatcher" name="BulkToDispatcher" style="width:100%">
									@foreach (var item in ViewBag.Dispatchers)
									{
										<option id="@item.id">@item.Name</option>
									}
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5"></div>
							<div class="col-md-7">
								<button id="" type="button" class="btn btn-success" onclick="confirmBulkAssign(1);">Confirm</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div id="tab2" class="tab-pane fade">

			<br />
			<div class="row" id="OrderFromTechnician" style="display:block">
				<div class="col-md-4">
					<div class="form-group">
						<div class="col-md-5">
							<label for="FromSelectedTechnician">From Technician:</label>
						</div>
						<div class="col-md-7">
							<select class="form-control" id="FromSelectedTechnician" name="BulkToTechnician" style="width:100%">
								@foreach (var item in ViewBag.Technicians)
								{
									<option id="@item.Id">@item.Name</option>
								}
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<button onclick="GetTechnicianOrders()" class="btn btn-success">Show Orders</button>
				</div>
			</div>
			<br />
			<br />
			<div style="float:left;;width:50%">
				<table id="techTable">
					<thead>
						<tr>
							<th>Order No.</th>
							<th>Assigned Technician</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
				<br />
			</div>

			<div style="float:right;width:50%">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5">
								<label for="OrderTo2">Assign To:</label>
							</div>
							<div class="col-md-7">
								<select class="form-control" id="OrderTo2" name="BulkTo" style="width:100%" onChange="order2ToChanged(this);">
									<option id="0">Back to unassign</option>
									<option id="1">Technician</option>
									<option id="2">Dispatcher</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row" id="OrderToTechnician2" style="display:none">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5">
								<label for="ToSelectedTechnician2">To Technician:</label>
							</div>
							<div class="col-md-7">
								<select class="form-control" id="ToSelectedTechnician2" name="BulkToTechnician" style="width:100%">
									@foreach (var item in ViewBag.Technicians)
									{
										<option id="@item.Id">@item.Name</option>
									}
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row" id="OrderToDispatcher2" style="display:none">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5">
								<label for="ToSelectedDispatcher2">To Dispatcher:</label>
							</div>
							<div class="col-md-7">
								<select class="form-control" id="ToSelectedDispatcher2" name="BulkToDispatcher" style="width:100%">
									@foreach (var item in ViewBag.Dispatchers)
									{
										<option id="@item.id">@item.Name</option>
									}
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-5"></div>
							<div class="col-md-7">
								<button id="" type="button" class="btn btn-success" onclick="confirmBulkAssign(2);">Confirm</button>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


</div>
<script>
	var x = 2;
	function AddRow() {
		var table = document.getElementById("workOrderTable");
		var row = table.insertRow(1);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		cell1.innerHTML = "<input type='number' id='no_" + x + "' name='OrderNo' value='' class='orderNo'>";
		cell2.innerHTML = "<input type='text'  id='ass_" + x + "'  name='Assigner' value='' disabled>";
		x += 1;
		$('.orderNo').on('keyup', function () {
			if ($(this).val().length == 10) {
				ajaxRequest($(this).val(), this.id);
			} else if ($(this).val().length > 10) {
				alert("no");
			}
		});
	}

	function ajaxRequest(orderNo, id) {
		var data = JSON.stringify({ orderNo: orderNo });
		var orderId = id;
		var techId = id.replace("no", "ass");
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/GetAssignedOrder",
			type: "POST",
			data: data,
			success: function (result) {
				console.log(result);
				var outResult = JSON.parse(result);
				if (outResult == "is closed") {
					$("#" + techId).css({ color: "Red" });
					$("#" + orderId).css({ color: "Red" });
					$("#" + techId).val("This order is completed");
				}else if (outResult == "not found") {
					$("#" + techId).css({ color: "Red" });
					$("#" + orderId).css({ color: "Red" });
					$("#" + techId).val("Invalid order no");
				} else if (outResult == "not assigned") {
					$("#" + techId).css({ color: "black" });
					$("#" + orderId).css({ color: "black" });
					$("#" + techId).val("Not assigned");
				} else {
					$("#" + techId).css({ color: "black" });
					$("#" + orderId).css({ color: "black" });
					$("#" + techId).val(outResult);
				}
			}
		});
	}

	$('.orderNo').on('keyup', function () {
		if ($(this).val().length == 10) {
			ajaxRequest($(this).val(), this.id);
		} else if ($(this).val().length > 10) {
			alert("no");
		}
	});


	function orderToChanged(elem) {
		if (elem.selectedIndex == 1) {
			$("#OrderToTechnician").css({ display: "block" });
			$("#OrderToDispatcher").css({ display: "none" });
		} else if (elem.selectedIndex == 2) {
			$("#OrderToTechnician").css({ display: "none" });
			$("#OrderToDispatcher").css({ display: "block" });
		} else {
			$("#OrderToTechnician").css({ display: "none" });
			$("#OrderToDispatcher").css({ display: "none" });
		}
	}

	function order2ToChanged(elem) {
		if (elem.selectedIndex == 1) {
			$("#OrderToTechnician2").css({ display: "block" });
			$("#OrderToDispatcher2").css({ display: "none" });
		} else if (elem.selectedIndex == 2) {
			$("#OrderToTechnician2").css({ display: "none" });
			$("#OrderToDispatcher2").css({ display: "block" });
		} else {
			$("#OrderToTechnician2").css({ display: "none" });
			$("#OrderToDispatcher2").css({ display: "none" });
		}
	}

	function confirmBulkAssign(tab) {
		var orderNoList = [];
		var orderTo, orderToTechnician, orderToDispatcher;

		if (tab == 1) {
			$('input[type="number"].orderNo').each(function () {
				orderNoList.push($(this).val());
			});

			if ($("#OrderTo option:selected").index() == 0) {
				orderTo = "un";
				orderToTechnician = null;
				orderToDispatcher = null;
			} else if ($("#OrderTo option:selected").index() == 1) {
				orderTo = "tech";
				orderToTechnician = $("#OrderToTechnician option:selected")[0].id;
				orderToDispatcher = null;
			} else if ($("#OrderTo option:selected").index() == 2) {
				orderTo = "disp";
				orderToTechnician = null;
				orderToDispatcher = $("#OrderToDispatcher option:selected")[0].id;
			}
		} else {
			$('input[type="number"].orderNo2').each(function () {
				orderNoList.push($(this).val());
			});

			if ($("#OrderTo2 option:selected").index() == 0) {
				orderTo = "un";
				orderToTechnician = null;
				orderToDispatcher = null;
			} else if ($("#OrderTo2 option:selected").index() == 1) {
				orderTo = "tech";
				orderToTechnician = $("#OrderToTechnician2 option:selected")[0].id;
				orderToDispatcher = null;
			} else if ($("#OrderTo2 option:selected").index() == 2) {
				orderTo = "disp";
				orderToTechnician = null;
				orderToDispatcher = $("#OrderToDispatcher2 option:selected")[0].id;
			}
		}

		console.log(orderNoList);

		var data = JSON.stringify({ orderList: orderNoList, orderTo: orderTo, orderToTechnician: orderToTechnician, orderToDispatcher: orderToDispatcher });
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/BulkAssignNo",
			type: "POST",
			data: data,
			success: function (result) {
				if (result == "True") {
					var url = '@Url.Action("BulkAssign", "Dashboard")';
					window.location.href = url;
				}else {
					$('#alert').html("Can not assign orders to that technician.");
					document.getElementById("alert").style.display="block";
					setTimeout(function(){
						$('#alert').fadeOut('slow');
					},5000);
				}
			}
		});
	}

	function GetTechnicianOrders() {
		var selectedTech = $("#FromSelectedTechnician option:selected")[0].id;
		var data = JSON.stringify({ techId: selectedTech });
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/GetTechnicianOrder",
			type: "POST",
			data: data,
			success: function (result) {
				var outResult = JSON.parse(result);
				if (outResult != "not found") {
				//	var url = '@Url.Action("BulkAssign", "Dashboard")';
					//	window.location.href = url;
					console.log(outResult);
					$("#techTable").find("tr:gt(0)").remove();
					if (outResult.length > 0) {
						var table = document.getElementById("techTable");
							for (var i = 0; i < outResult.length; i++) {
							var row = table.insertRow(1);
							var cell1 = row.insertCell(0);
							var cell2 = row.insertCell(1);
							cell1.innerHTML = "<input type='number' name='OrderNo2' value='" + outResult[i].OrderNo + "' disabled class='orderNo2'>";
							cell2.innerHTML = "<input type='text'  name='Assigner'  value='" + outResult[i].TechName + "' disabled>";
						}
					}
				} else {
					$("#techTable").find("tr:gt(0)").remove();
				}
			}
		});
	}
</script>

<script>

	function closeChangeAvailability(){
		$("#availabilityContainer").css({display:"none"});
	}

	function openChangeAvailability(evt) {
		closePrintOut();
		var divToShow =$("#availabilityContainer");
		divToShow.css({
			display: "block",
			position: "absolute",
			left: ($(evt).offset().left +10) + "px",
			top: ($(evt).offset().bottom +$(evt).height()+20) + "px"
		});
	}

	function confirmChangeAvailability() {
		var technicianId = $("#availabilityTechSelect option:selected").attr("id");
		var availabilityId = $("#availabilitySelect option:selected").attr("id");

		var data = JSON.stringify({technicianId: technicianId ,availabilityId:availabilityId});
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/ChangeAvailability",
			type: "POST",
			data: data,
			success: function(result) {
				if (result) {
					var url = '@Url.Action("BulkAssign", "Dashboard")';
					window.location.href = url;
					// create notification for success here.
				}
				// create notification for failed here.
			}
		});
	}

</script>

<script>
	function printOutView() {
		closeChangeAvailability();
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/PrintOut",
			type: "POST",
			success: function (result) {
				console.log(result);
				$("#PrintOutView").html(result);
				$("#PrintOutView").css({
					display: "block"
				});
				$("#BoardView").css({
					display: "none"
				});
			}
		});
	}


	function closePrintOut() {
		$("#PrintOutView").css({
			display: "none"
		});
		$("#BoardView").css({
			display: "block"
		});
	}
</script>