﻿
@{
	ViewBag.Title = "ChartBoard";
	Layout = "~/Views/Shared/_Layout_Map_3.cshtml";
}
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<style>
	#footerShared{
		position:absolute;
	}
</style>
<div>
	@*<div style="right: 0px;height:7%; padding:12px;" id="btnContainer">
		<div class="row">
			<div class="col-md-12">

				@*<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="daterange" class="col-lg-2 control-label">Date: </label>
						<div class="col-lg-12">
							<input type="text" id="daterange" class="form-control" style="width:100%">
						</div>
					</div>
				</form>*@

	@*<form class="col-md-2" role="form">
				<div class="form-group">
					<label for="statusSelection" class="col-lg-2 control-label">Status: </label>
					<div class="col-lg-12">
						<select id="statusSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
							@foreach (var item in ViewBag.Status)
		{
								<option>@item.Name</option>
		}
						</select>
					</div>
				</div>
			</form>*@

	@*<form class="col-md-2" role="form">
				<div class="form-group">
					<label for="problemSelection" class="col-lg-2 control-label">Problems: </label>
					<div class="col-lg-12">
						<select id="problemSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
							@foreach (var item in ViewBag.Problems)
		{
								<option>@item.Name</option>
		}
						</select>
					</div>
				</div>
			</form>*@

	@*<form class="col-md-2" role="form">
				<div class="form-group">
					<label for="technicianSelection" class="col-lg-2 control-label">Technicians: </label>
					<div class="col-lg-12">
						<select id="technicianSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
							@foreach (var item in ViewBag.Technicians)
		{
								<option>@item.Name</option>
		}
						</select>
					</div>
				</div>
			</form>*@

	@*<form class="col-md-2" role="form">
				<div class="form-group">
					<label for="dispatcherSelection" class="col-lg-2 control-label">Dispatchers: </label>
					<div class="col-lg-12">
						<select id="dispatcherSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
							@foreach (var item in ViewBag.Dispatchers)
		{
								<option>@item.UserName</option>
		}
						</select>
					</div>
				</div>
			</form>*@



</div>

<div class="" style="margin-top:10px">
	<div class="col-md-12">

		@*<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="typeSelection" class="col-lg-2 control-label">Type: </label>
						<div class="col-lg-12">
							<select id="typeSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Types)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>*@

		<form class="col-md-2" role="form">
			<div class="form-group">
				<label for="divisionSelection" class="col-lg-2 control-label">Division: </label>
				<div class="col-lg-12">
					<select id="divisionSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
						@foreach (var item in ViewBag.Divisions)
			{
							<option>@item.Name</option>
			}
					</select>
				</div>
			</div>
		</form>
		<form class="col-md-2" role="form">
			<div class="form-group">
				<label for="intervalTime">Time:</label>
				<input type="number" class="form-control" id="intervalTime" placeholder="Time in seconds">
			</div>
		</form>

		@*<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="companySelection" class="col-lg-8 control-label">Company Code: </label>
						<div class="col-lg-12">
							<select id="companySelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.CompanyCodes)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>*@

		<div class="col-md-2" role="form">
			<div style="margin-top: 25px;z-index:888">
				<button type="button" class="btn btn-default" onclick="fillterOrders();" id="reportBtn"><lable id="reportButtonNonLoad">Filtter</lable> <lable id="reportButtonLoad" style="display:none"><i class="fa fa-spinner fa-spin"></i>  Loading</lable></button>
			</div>
		</div>

	</div>
</div>
<div id="container" style="min-width: 310px; height: 430px; margin-bottom:75px"></div>


<script type="text/javascript">
	$('#daterange').daterangepicker({
		"timePicker": true,
		"locale": {
			"direction": "ltr",
			"format": "MM/DD/YYYY",
			"separator": " - ",
			"applyLabel": "Apply",
			"cancelLabel": "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"daysOfWeek": [
				"Su",
				"Mo",
				"Tu",
				"We",
				"Th",
				"Fr",
				"Sa"
			],
			"monthNames": [
				"January",
				"February",
				"March",
				"April",
				"May",
				"June",
				"July",
				"August",
				"September",
				"October",
				"November",
				"December"
			],
			"firstDay": 1
		},
		//"startDate": Date.now,
		//"endDate": Date.now
	}, function (start, end, label) {
	});
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
	var weekday = new Array(7);
	weekday[0] = "Sunday";
	weekday[1] = "Monday";
	weekday[2] = "Tuesday";
	weekday[3] = "Wednesday";
	weekday[4] = "Thursday";
	weekday[5] = "Friday";
	weekday[6] = "Saturday";

	function chooseColor(orderType, orderDate) {
		var style = {
			colorClass: "",
			orderTextColor: null,
			day: ""
		};

		if (orderType == "MC Potential Orders") {
			style.colorClass = "white";
			style.orderTextColor = "black";
		} else if (orderType == "Cash Compressor") {
			style.colorClass = "orange";
			style.orderTextColor = "black";
		} else if (orderType == "Cash call Order") {
			style.colorClass = "darkgreen";
			style.orderTextColor = "white";
		} else {
			if (orderType == "Preventive Maintenance Order" || orderType == "Enhancement Job Order" || orderType == "Contract Service Order") {
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date = moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			} else {
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date = moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}
		}
		var weekday = new Array(7);
		weekday[0] = "Sunday";
		weekday[1] = "Monday";
		weekday[2] = "Tuesday";
		weekday[3] = "Wednesday";
		weekday[4] = "Thursday";
		weekday[5] = "Friday";
		weekday[6] = "Saturday";
		var date = moment(orderDate);
		style.day = weekday[date.weekday()];
		return style;
	}

	var chartIndex = 0;
	var intervalFunc;
	function chartThis(data) {
		var category = [];
		var values = [];
		var len = data.length;
		var chartData = data;
		//for (var i = 0; i < data.length; i++) {
		var myChart;
		chartFunction(chartData);
		intervalFunc = setInterval(function () {
			if (chartIndex < len) {
				chartFunction(chartData);
			} else {
				chartIndex = 0;
				//chartFunction(chartData);
				fillterOrders();
			}
		}, intervalTime);
	}
	function chartFunction(chartData) {
		category = [];
		sunValues = [];
		monValues = [];
		tueValues = [];
		wenValues = [];
		thrValues = [];
		friValues = [];
		satValues = [];
		for (var d = 0; d < chartData[chartIndex].data.length; d++) {
			var title = chartData[chartIndex].area;
			category.push(chartData[chartIndex].data[d].techName);
			//values.push(chartData[chartIndex].data[d].count);

			sunValues.push(chartData[chartIndex].data[d].count[0]);
			monValues.push(chartData[chartIndex].data[d].count[1]);
			tueValues.push(chartData[chartIndex].data[d].count[2]);
			wenValues.push(chartData[chartIndex].data[d].count[3]);
			thrValues.push(chartData[chartIndex].data[d].count[4]);
			friValues.push(chartData[chartIndex].data[d].count[5]);
			satValues.push(chartData[chartIndex].data[d].count[6]);

			document.getElementById("container").innerHTML = "";

			Highcharts.chart('container', {
				chart: {
					type: 'column',
					marginBottom: 100
				},
				title: {
					text: title
				},
				xAxis: {
					categories: category
				},
				yAxis: {
					min: 0,
					title: {
						text: 'Order Count'
					},
					stackLabels: {
						enabled: true,
						style: {
							fontWeight: 'bold',
							color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
						}
					},
					allowDecimals:false
				},
				legend: {
					floating: true,
					backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
					borderColor: '#CCC',
					borderWidth: 1,
					shadow: false,
					align: 'center',
					verticalAlign: 'bottom',
					x: 0,
					y: 0
				},
				tooltip: {
					headerFormat: '<b>{point.x}</b><br/>',
					pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
				},
				plotOptions: {
					column: {
						stacking: 'normal',
						dataLabels: {
							enabled: true,
							color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
							formatter: function () {
								if (this.y != 0) {
									return this.y;
								}
							},
							style: {
								textOutline: false,
								fontWeight: 'bold'
							}
						},
					}, series: {
						pointWidth: 40
					}
				},
				series: [
					{
						name: 'Sun',
						data: sunValues,
						color: 'pink'
					},
					{
						name: 'Mon',
						data: monValues,
						color: 'lightgreen'
					},
					{
						name: 'Tue',
						data: tueValues,
						color: 'lightblue'
					},
					{
						name: 'Wed',
						data: wenValues,
						color: 'purple',
						dataLabels: {
							enabled: true,
							color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
							formatter: function () {
								if (this.y != 0) {
									return this.y;
								}
							},
							style: {
								textOutline: false,
								fontWeight: 'bold'
							}
						}
					},
					{
						name: 'Thr',
						data: thrValues,
						color: 'aqua'
					},
					{
						name: 'Fri',
						data: friValues,
						color: 'lightgray'
					}, {
						name: 'Sat',
						data: satValues,
						color: 'yellow'
					}]
			});
		}
		chartIndex += 1;
	}
	//}
	function groupBy(collection, property) {
		var i = 0, val, index,
			values = [], result = [];
		for (; i < collection.length; i++) {
			val = collection[i][property];
			index = values.indexOf(val);
			if (index > -1)
				result[index].push(collection[i]);
			else {
				values.push(val);
				result.push([collection[i]]);
			}
		}
		return result;
	}

	function showCharts(data) {

		for (var i = 0; i < data.length; i++) {
			var style = chooseColor(data[i].OrderType, data[i].CreationDate);
			data[i].day = style.day;
			data[i].colorClass = style.colorClass;
			data[i].orderTextColor = style.orderTextColor;
		}
		console.log(data);

		var arrNames = [];

		var objNames = groupBy(data, "TechnicianName");
		for (var j = 0; j < objNames.length; j++) {
			arrNames.push(objNames[j][0].TechnicianName);
		}

		var arrAreas = [];
		var objAreas = groupBy(data, "Area");
		for (var j = 0; j < objAreas.length; j++) {
			arrAreas.push(objAreas[j][0].Area);
		}

		var uniqueTechs = [];
		$.each(arrNames, function (i, el) {
			if ($.inArray(el, uniqueTechs) === -1) uniqueTechs.push(el);
		});

		var uniqueAreas = [];
		$.each(arrAreas, function (i, el) {
			if ($.inArray(el, uniqueAreas) === -1) uniqueAreas.push(el);
		});
		console.log(uniqueTechs);
		console.log(uniqueAreas);

		var preArrForChart = [];
		for (var a = 0; a < uniqueAreas.length; a++) {
			var obj = {
				area: uniqueAreas[a],
				data: []
			}
			for (var t = 0; t < uniqueTechs.length; t++) {
				var outData = data.filter(function (obj) {
					return obj.Area === uniqueAreas[a] && obj.TechnicianName === uniqueTechs[t];
				});
				if (outData[0]) {
					var countInDay = [0, 0, 0, 0, 0, 0, 0];
					for (var d = 0; d < outData.length; d++) {
						for (var i = 0; i < weekday.length; i++) {
							if (weekday[i] == outData[d].day) {
								countInDay[i] += 1;
							}
						}
					}

					obj.data.push({ techName: outData[0].TechnicianName, count: countInDay });
					preArrForChart.push(obj);
				}
			}
		}

		console.log(preArrForChart);

		var arrForChart = [];
		$.each(preArrForChart, function (i, el) {
			if ($.inArray(el, arrForChart) === -1) arrForChart.push(el);
		});
		console.log(arrForChart);
		chartThis(arrForChart);
	}
	function findByTech(objectFiner, Name) {
		return objectFiner.TechnicianName === Name;
	}
	function findByArea(objectFiner, Name) {
		return objectFiner.Area === Name;
	}
	var intervalTime;
	function fillterOrders() {
		chartIndex = 0;
		clearInterval(intervalFunc);

		document.getElementById("reportBtn").disabled = true;
		document.getElementById("reportButtonNonLoad").style.display = "none";
		document.getElementById("reportButtonLoad").style.display = "block";

		var divisions = $("#divisionSelection").val();
		intervalTime = Number($("#intervalTime").val()) * 1000;
		if (!intervalTime) {
			intervalTime = 15000;
		}

		var data = JSON.stringify({ divisions: divisions });

		console.log(data);
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/Charts",
			type: "POST",
			data: data,
			success: function (result) {
				var data = JSON.parse(result);
				console.log(data);
				if (data && data.length > 0) {

					document.getElementById("reportButtonNonLoad").style.display = "block";
					document.getElementById("reportButtonLoad").style.display = "none";
					document.getElementById("reportBtn").disabled = false;

					showCharts(data);
				}
			}
		});
	}

</script>
