﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout_Map.cshtml";
}

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<!-- Include Required Prerequisites -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<!-- Include Date Range Picker -->
<script src="~/Scripts/daterangepicker.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<style>
	.isLoader {
		display: none;
	}

	.disableInteraction {
		pointer-events: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0.7;
	}

	#exTab1 .tab-content {
		color: white;
		background-color: #7d7d7d;
		padding: 5px 15px;
	}

	#OrderEditTabsCon .tab-content {
		color: white;
		background-color: #7d7d7d;
		padding: 5px 15px;
	}

	#exTab2 h3 {
		color: white;
		background-color: #7d7d7d;
		padding: 5px 15px;
	}

	#exTab1 .nav-pills > li > a {
		border-radius: 0;
	}

	#exTab3 .nav-pills > li > a {
		border-radius: 4px 4px 0 0;
	}

	#exTab3 .tab-content {
		color: white;
		background-color: #7d7d7d;
		padding: 5px 15px;
	}

	#OrderEditTabsCon .nav-pills > li > a {
		border-radius: 4px 4px 0 0;
	}

	#OrderEditTabsCon .tab-content {
		color: white;
		background-color: #7d7d7d;
		padding: 5px 15px;
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		color: white;
		background-color: #7d7d7d;
	}

	a {
		color: black;
	}

	#exTab3 {
		position: relative;
		top: 3vh;
	}

	#OrderEditTabsCon {
		position: relative;
		top: 3vh;
	}

	#alert {
		position: fixed;
		left: 45%;
		top: 11%;
		background-color: #222222;
		width: 400px;
		height: 45px;
		text-align: center;
		padding: 12px;
		z-index: 9999;
		color: white;
		border-radius: 10px;
		border-color: red;
		border-width: 2px;
		border-style: solid;
		display: none;
		z-index: 999999999;
	}

	#changeVisitDiv {
		width: 27%;
		background-color: white;
		z-index: 999999;
		height: 100px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
		left: 36%;
		top: 38%;
	}

	#massReassign {
		width: 27%;
		background-color: white;
		z-index: 999999;
		height: 190px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
	}

	#BulkAssignContainer {
		width: 27%;
		background-color: white;
		z-index: 999999;
		max-height: 331px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
	}

	#availabilityContainer {
		width: 27%;
		background-color: white;
		z-index: 999999;
		height: 235px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
	}

	#addOrderFile {
		width: 27%;
		background-color: white;
		z-index: 999999;
		height: 100px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
	}

	#updateWork {
		width: 33%;
		background-color: white;
		z-index: 999999;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
		height: 245px;
	}

	#actionShow {
		width: 33%;
		background-color: white;
		z-index: 999999;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
		height: 245px;
	}

	#transferOrderDiv {
		width: 27%;
		background-color: white;
		z-index: 999999;
		height: 100px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
		left: 36%;
		top: 38%;
	}

	#TransferContainer {
		width: 27%;
		background-color: white;
		z-index: 999999;
		max-height: 230px;
		border: 1px solid black;
		border-radius: 10px;
		display: none;
		padding: 5px;
	}

	.daterangepicker.dropdown-menu {
		z-index: 9999999;
	}

	.notification {
		width: 160px;
		height: 40px;
		padding: 6px;
		color: black;
	}

		.notification:hover {
			background-color: black;
			color: white;
		}

	#statusReportContatiner {
		position: fixed;
		z-index: 999999999;
		background-color: white;
		left: 0px;
		bottom: 0px;
	}

	.dataTables_wrapper .dataTables_paginate {
		position: fixed;
		right: 27px;
		bottom: 5px;
	}

	#statusReport_filter {
		display: none;
	}

	#statusReport_wrapper {
		display: none;
	}

	#backFade {
		background-color: rgba(43, 43, 43, 0.64);
		z-index: 1;
		width: 100%;
		height: 100%;
		position: fixed;
		display: none;
	}

	.ptrim {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 130px;
		/*direction: rtl;*/
	}
</style>
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Build.css" rel="stylesheet" />
<link href="~/Content/CircleButton.css" rel="stylesheet" />
<link href="~/Content/Bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap-toggle.min.js"></script>
<div class="isLoader" style="background-color: #404040;height: 100vh;width: 100%; position: fixed; z-index: 999; opacity: .5;left: 0px"></div>
<div class="isLoader" id="loader" style="z-index:99999"></div>

<div id="alert">
	Please update PACI before assign to technician
</div>

<div id="availabilityContainer">
	<h4>Change Availability: </h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: 10px; cursor:pointer" onclick="closeChangeAvailability();"></i>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-5">
					<label for="availabilityTechSelect">Technician Name:</label>
				</div>
				<div class="col-md-7">
					<select class="form-control" id="availabilityTechSelect" style="width:100%">
						@foreach (var item in ViewBag.Technicians)
						{
							<option id="@item.Id">@item.Name</option>
						}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-5">
					<label for="availabilitySelect">Availability:</label>
				</div>
				<div class="col-md-7">
					<select class="form-control" id="availabilitySelect" style="width:100%">
						@foreach (var item in ViewBag.Availability)
						{
							<option id="@item.Id">@item.Name</option>
						}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-5"></div>
				<div class="col-md-7">
					<button id="" type="button" class="btn btn-success" onclick="confirmChangeAvailability();">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="TransferContainer">
	<h4>Transfer Orders: </h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: 10px; cursor:pointer" onclick="closeTransferContainer();"></i>
	<hr />TransferContainer
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-5">
					<label for="TransferOrderSelect">Transfer Action:</label>
				</div>
				<div class="col-md-7">
					<select class="form-control" id="TransferOrderSelect" name="transferOrder" style="width:100%" onChange="transferActionChanged(this);">
						<option id="0">Back to unassign</option>
						<option id="1">Transfer to technician</option>
						<option id="2">Transfer to dispatcher</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="TechnicianTransfer" style="display:none">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-5">
					<label for="TechnicicanSelect">Technician:</label>
				</div>
				<div class="col-md-7">
					<select class="form-control" id="TechnicicanSelect" style="width:100%">
						@foreach (var item in ViewBag.Technicians)
						{
							<option id="@item.Id">@item.Name</option>

						}
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="DispatcherTransfer" style="display:none">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-5">
					<label for="DispatcherSelect">Dispatcher:</label>
				</div>
				<div class="col-md-7">
					<select class="form-control" id="DispatcherSelect" style="width:100%">
						@foreach (var item in ViewBag.Dispatchers)
						{
							<option id="@item.id">@item.Name</option>
						}
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-5"></div>
				<div class="col-md-7">
					<button id="" type="button" class="btn btn-success" onclick="confirmTransferOrders();">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="changeVisitDiv">
	<h4>Customer visit time: </h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: 10px; cursor:pointer" onclick="closeCustomerVisit();"></i>
	<div class="col-md-9">
		<input type="text" id="daterange" class="form-control" style="width:100%">
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-success" onclick="setVisitTime();">Confirm</button>
	</div>
</div>

<div id="backFade"></div>

<div id="updateWork">
	<h4>Order Work update:</h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: 10px; cursor:pointer" onclick="closeWorkUpdate();"></i>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3">
				<label for="tripNo">Trip No.:</label>
			</div>
			<div class="col-md-8">
				<input type="number" class="form-control" id="tripNo" style="width:100%">
				<span id="tripNoError" style="color:red;display:none;">Trip No. field is required.</span>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<label for="workUpdateOrderStatus">Status:</label>
			</div>
			<div class="col-md-8">
				<select class="form-control" id="workUpdateOrderStatus" style="width:100%" @*onchange="statusChanged(this)"*@>
					@foreach (var item in ViewBag.Statuses)
					{
						<option id="@item.Id">@item.Name</option>

					}
				</select>
				<span id="workUpdateOrderStatusError" style="color:red;display:none;">Status field is required.</span>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<label for="workUpdateStatus">Update:</label>
			</div>
			<div class="col-md-8">
				<select class="form-control" id="workUpdateStatus" style="width:100%">
					@foreach (var item in ViewBag.WorkUpdateId)
					{
						<option id="@item.Id">@item.Name</option>

					}
				</select>
				<span id="workUpdateStatusError" style="color:red;display:none;">Work Update field is required.</span>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<label for="workUpdateNotes">Notes:</label>
			</div>
			<div class="col-md-8">
				<textarea class="form-control" id="workUpdateNotes" col="200" row="3" style="width:100%"></textarea>
				<span id="workUpdateNotesError" style="color:red;display:none;">Notes field is required.</span>
			</div>
		</div>
		<br />
		<br />
		<div class="col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<button type="button" class="btn btn-success" id="wuBTN" onclick="confirmWorkUpdate();">Confirm</button>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div class="row" style="padding-left: 20px;padding-right: 20px;">
		<div class="col-md-12" id="workUpdateHistory" style="max-height: 105px;overflow-y: auto;">
		</div>
	</div>
</div>

<div id="transferOrderDiv">
	<h4>Transfer order to dispatcher: </h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: 10px; cursor:pointer" onclick="closeTransferes();"></i>
	<div class="col-md-9">
		<div class="dropdown" style="width:250px">
			<button style="width:250px" id="transferTo" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<div style="width:250px">
					<div class="col-md-10">
						-- select dispatcher --
					</div>
					<div class="col-md-1">
						<span class="caret"></span>
					</div>
				</div>
			</button>
			<ul class="dropdown-menu" style="width:250px">
				@foreach (var item in ViewBag.Dispatchers)
				{
					<li><a id="@item.id">@item.Name</a></li>
				}
			</ul>
		</div>
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-success" onclick="confirmTransfer();">Confirm</button>
	</div>
</div>

<div class="col-md-2" style="height: 85vh;border-style: solid;border-width: 1px;">
	<div class="col-md-12" style="height:125px;text-align: center;padding-top: 11px;border-style: solid; border-width: 1px;">
		<p>Unassigned Orders </p>
		<p><input type="checkbox" id="inProgressToggle" data-toggle="toggle" data-on="Inprogress" data-off="All"></p>
		<input type="text" id="orderSearch" placeholder="type here.." onkeyup="orderSearchFunction()" />
	</div>
	<div style="overflow-y:auto;max-height:66vh" id="unAssigendOrderLoc" ondrop='drop(event)' ondragover='allowDrop(event)'>
	</div>
</div>

<div class="col-md-10" style="height: 85vh;border-style: solid;border-width: 1px;">
	<div class="col-md-12" id="OrderCreationView" style="display:none">
		@Html.Partial("OrderCreationPartial")
	</div>
	<div class="col-md-12" id="OrderEditView" style="display:none">
		@*@Html.Partial("OrderEditPartial")*@
	</div>
	<div class="col-md-12" id="PrintOutView" style="display:none;border: 1px solid black;height: 81vh;border-radius: 29px; padding: 10px;top: 10px;">
	</div>
	<br />
	<div class="col-md-12" id="BoardView" style="display:block">
		<div class="col-md-12" style="height: 80vh;overflow-y:auto" id="OrdersBoard">
		</div>
	</div>
</div>

@{
	var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
	serializer.MaxJsonLength = Int32.MaxValue;
	var jsonModel = serializer.Serialize(ViewBag.UnAssignedOrders);
}

<script type="text/javascript">

	var unAssignedorders = @Html.Raw(jsonModel);
	var formans = @Html.Raw(ViewBag.Formans);

	function AssignedOrders() {
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/GetAssignedOrders",
			type: "GET",
			success: function (result) {
				var data = JSON.parse(result);
				AssignedCreation(data);
			}
		});

	}

	function AssignedCreation(formans) {
		var notAvailableTechs = [];
		var content = "<div style='width:15000px;background-color:white'>";
		for (var i = 0; i < formans.length; i++) {
			content += "<div style='float:left;border:1px solid black'>";
			content += "<div style='padding: 6px;height: 35px;text-align: center;'>" + formans[i].Name +
				"</div>";
			if (formans[i].Technicians && formans[i].Technicians.length > 0) {
				var tech = formans[i].Technicians;
				content += "<div style=';border:1px solid black'>";
				for (var t = 0; t < tech.length; t++) {
					content += "<div  style='width:200px;padding: 6px;text-align: center;float:left;' >" + tech[t].Name + "&nbsp; &nbsp;<span style='color:red;' >(<b  id='" + tech[t].Id + "_count' >" + tech[t].CompeletedCount + "</b>)</span>";
					if (tech[t].Availability != "Not Available") {
						content += "<div class='" + formans[i].Id + "' id='" + tech[t].Id + "' style='height:66vh;overflow-y:auto;width:100%;border:1px solid black;padding: 6px;text-align: center;float:left;' ondrop='drop(event)' ondragover='allowDrop(event)'>";
					}
					else {
						if (tech[t].Orders && tech[t].Orders.length > 0) {
							content += "<div><span id='" + tech[t].Id + "' class='glyphicon glyphicon-transfer' title='Transfer orders' aria-hidden='true'  style='cursor:pointer' onclick='openTransferContainer(this);'></span></div>";
							content += "<div class='" + formans[i].Id + "' id='false' style='height:63vh;overflow-y:auto;width:100%;border:1px solid black;padding: 6px;text-align: center;float:left;' ondrop ='notAllowedDrop(event)'  ondragover='return false'>";
						} else {
							content += "<div class='" + formans[i].Id + "' id='false' style='height:66vh;overflow-y:auto;width:100%;border:1px solid black;padding: 6px;text-align: center;float:left;' ondrop ='notAllowedDrop(event)' ondragover='return false'>";
						}
						notAvailableTechs.push(tech[t].Id);
					}
					if (tech[t].Orders && tech[t].Orders.length > 0) {
						for (var j = 0; j < tech[t].Orders.length; j++) {
							var assOrder = tech[t].Orders[j];
							var style = chooseColor(assOrder.Type, assOrder.CreatedDate);
							content += "<div class='" + tech[t].Id + "_count' draggable='true' ondragstart='drag(event)' id='" + assOrder.Id + "_d' style='border:1px solid black;height:105px;padding: 6px;cursor:pointer;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";' draggable='true'>";
							if (assOrder.DateTo) {
								content += "<div  style='width:87%;float:left;'><p>No. " + assOrder.OrderNo + "</p><p class='ptrim'> " + assOrder.CustomerName + "</p><p><lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 85px;'>" + checkEmptyOrUndefined(assOrder.Area) + "</lable></p></div><div style='width:10%;float:left;'>" +
									"<span class='glyphicon glyphicon-bell'  title='Scheduled'  aria-hidden='true'  style='margin-left:10px' onclick='openChangeVisit(1,1,this);'></span>" +
									"<span class='glyphicon glyphicon-wrench' title='Edit' aria-hidden='true'  style='margin-left:10px;cursor:pointer' onclick='editOrder(1,this);'></span>" +
									"<span class='glyphicon glyphicon-cog' title='Work Update' aria-hidden='true'  style='margin-left:10px;cursor:pointer' onclick='openWorkUpdate(1,this);'></span>";
								if (assOrder.Block == "ByPass PACI down" || assOrder.Block == "Not Found In PACI") {
									content += "<span style='position: relative;	right: 0px;top:4px'>BB</span></div>";
								} else {
									content += "<span style='position: relative;	right: 0px;top:4px'>B" + checkEmptyOrUndefinedBlock(assOrder.Block) + "</span></div>";
								}
							} else {
								content += "<div  style='width:87%;float:left;'><p>No. " + assOrder.OrderNo + "</p><p class='ptrim'> " + assOrder.CustomerName + "</p><p><lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 85px;'>" + checkEmptyOrUndefined(assOrder.Area) + "</lable></p></div><div style='width:10%;float:left;'>" +
									"<span class='glyphicon glyphicon-time' aria-hidden='true' title='Visit Time'  style='margin-left:10px' onclick='openChangeVisit(1,0,this);'></span>" +
									"<span class='glyphicon glyphicon-wrench' title='Edit' aria-hidden='true'  style='cursor:pointer;margin-left:10px' onclick='editOrder(1,this);'></span>" +
									"<span class='glyphicon glyphicon-cog' title='Work Update' aria-hidden='true'  style='cursor:pointer;margin-left:10px' onclick='openWorkUpdate(1,this);'></span>";
								if (assOrder.Block == "ByPass PACI down" || assOrder.Block == "Not Found In PACI") {
										content +="<span style='position: relative;	right: 0px;top:4px'>BB</span></div>";
									} else {
									content += "<span style='position: relative;	right: 0px;top:4px'>B" + checkEmptyOrUndefinedBlock(assOrder.Block) + "</span></div>";
									}
							}
							content += "</div>";

						}
					}
					if (tech[t].Availability == "Not Available") {
						content += "<div style='border:1px solid black;height:30px;padding: 6px;cursor:pointer;background-color:black;color:white;'>" + tech[t].Availability + "</div>";
					}
					content += "</div></div>";
				}
				content += "</div>";
			}
			content += "</div>";
		}
		content += "</div>";
		document.getElementById("OrdersBoard").innerHTML = content;
	}
</script>
<script type="text/javascript">
	function unassignCreation(unAssignedorders) {
		document.getElementById("unAssigendOrderLoc").innerHTML = "";

		var unAssignContent = "";
		var unAssignContent = "<div style='width:100%;height:66vh;overflow-y:auto;border: 1px solid black;'>";
		for (var i = 0; i < unAssignedorders.length; i++) {
			var style = chooseColor(unAssignedorders[i].Type, unAssignedorders[i].CreatedDate);
			if (unAssignedorders[i].PACI) {
				if (unAssignedorders[i].StatusId == 3) {
					unAssignContent += "<div class='" + unAssignedorders[i].PACI + "' id='" + unAssignedorders[i].Id + "_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:110px;padding:2px;margin-top:0px;border-style: solid;border-width: 1px;border-color:black;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";display:none;'>";
				} else {
					unAssignContent += "<div class='" + unAssignedorders[i].PACI + "' id='" + unAssignedorders[i].Id + "_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:110px;padding:2px;margin-top:0px;border-style: solid;border-width: 1px;border-color:black;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";'>";
				}
			} else if (unAssignedorders[i].Block && unAssignedorders[i].Street && unAssignedorders[i].Street != "" && unAssignedorders[i].Governorate && unAssignedorders[i].Area) {
				debugger;
				if (unAssignedorders[i].StatusId == 3) {
					unAssignContent += "<div class='-1' id='" + unAssignedorders[i].Id + "_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:110px;padding:2px;margin-top:0px;border-style: solid;border-width: 1px;border-color:black;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";display:none;'>";
				} else {
					unAssignContent += "<div class='-1' id='" + unAssignedorders[i].Id + "_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:110px;padding:2px;margin-top:0px;border-style: solid;border-width: 1px;border-color:black;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";'>";
				}
			} else {
				unAssignContent += "<div class='" + unAssignedorders[i].PACI + "' id='" + unAssignedorders[i].Id + "_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:110px;padding:2px;margin-top:0px;border-style: solid;border-width: 3px;border-color:red;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";'>";
			}
			unAssignContent += "<div class='checks'  style='width: 1%;float:left;padding-left:0px;padding-right:0px;display:none;z-index:999999;    position: relative;'>" +
				"<div class='checkbox checkbox-danger' >" + "<input id='" + unAssignedorders[i].Id + "' paci='" + unAssignedorders[i].PACI + "' name='" + unAssignedorders[i].Id + "' class='styled'  type='checkbox'  style='z-index: 99999;top: 20px;position: absolute;cursor: pointer;'><label for='" + unAssignedorders[i].Id + "' ></label></div>" +
				"</div>";
			unAssignContent += "<div class='' style='width: 85%;margin-top:17px;padding-left:25%;padding-right:0px;float:left;max-height: 100px;'>";
			unAssignContent += "<a style='display:none'>" + unAssignedorders[i].OrderNo + " " + checkEmptyOrUndefined(unAssignedorders[i].Area) + " " + unAssignedorders[i].PACI + " " + unAssignedorders[i].Problem + " " + unAssignedorders[i].CustomerNo + " " + unAssignedorders[i].CustomerName + " " + unAssignedorders[i].CustomerPhone + "</a>"
			unAssignContent += "<a style='display:none'>" + unAssignedorders[i].StatusId + "</a>";
			unAssignContent += "<div class='row' style='width: 95%;height:30px'><p>No. " + unAssignedorders[i].OrderNo + "</p><p class='ptrim' style='padding:0px;'> " + unAssignedorders[i].CustomerName + "</p><p> <lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100px;'>" + checkEmptyOrUndefined(unAssignedorders[i].Area) + "</lable></p></div>";
			unAssignContent += "</div><div class='' id= '" + unAssignedorders[i].Id + "_o' style='width: 5%;padding-left:5%;float:left'>";
			if (unAssignedorders[i].DateTo) {
				unAssignContent += "<span class='glyphicon glyphicon-bell' aria-hidden='true' title='Scheduled' onclick='openChangeVisit(0,1,this);'></span>";
			} else {
				unAssignContent += "<span class='glyphicon glyphicon-time' title='Visit Time' aria-hidden='true' style='cursor:pointer' onclick='openChangeVisit(0,0,this);'></span>";
			}
			unAssignContent += "<span class='glyphicon glyphicon-transfer' title='Transfer To Another Dispatcher' aria-hidden='true'  style='cursor:pointer' onclick='transferOrder(this);'></span>";
			unAssignContent += "<span class='glyphicon glyphicon-wrench' title='Edit'  aria-hidden='true'  style='cursor:pointer' onclick='editOrder(0,this);'></span>";
			unAssignContent += "<span class='glyphicon glyphicon-cog' title='Work Update' aria-hidden='true'  style='cursor:pointer' onclick='openWorkUpdate(0,this);'></span>";
			if (unAssignedorders[i].Block == "ByPass PACI down" || unAssignedorders[i].Block == "Not Found In PACI") {
				unAssignContent += "<span style='position: relative;	right: 7px;'>BB</span>";
			} else {
				unAssignContent += "<span style='position: relative;	right: 7px;'>B" + checkEmptyOrUndefinedBlock(unAssignedorders[i].Block) + "</span>";
			}
			unAssignContent += "</div></div>";
		}
		unAssignContent += "</div>";
		document.getElementById("unAssigendOrderLoc").innerHTML = unAssignContent;

		ShowUnAssignInProgress(false);

	}
</script>
<script type="text/javascript">

	function orderFromChanged(elem){
		if (elem.selectedIndex ==2 ) {
			$("#FromTechnician").css({display:"block"});
		}else{
			$("#FromTechnician").css({display:"none"});
		}
	}

	function orderToChanged(elem){
		if (elem.selectedIndex ==1 ) {
			$("#OrderToTechnician").css({display:"block"});
			$("#OrderToDispatcher").css({display:"none"});
		}else 	if (elem.selectedIndex ==2 ){
			$("#OrderToTechnician").css({display:"none"});
			$("#OrderToDispatcher").css({display:"block"});
		}else{
			$("#OrderToTechnician").css({display:"none"});
			$("#OrderToDispatcher").css({display:"none"});
		}
	}

	function TransferUnassigned(evt) {

	}

	function closeBulkAssignContainer(){
		$("#BulkAssignContainer").css({display:"none"});
		$("#OrderToTechnician").css({display:"none"});
		$("#OrderToDispatcher").css({display:"none"});
	}

	function confirmBulkAssign(){
		var ordersFrom,FromTechnician;
		if ($("select[name='BulkFrom'] option:selected").index() == 0 ) {
			ordersFrom = "all";
			FromTechnician=null;
		}else if ($("select[name='BulkFrom'] option:selected").index() == 1){
			ordersFrom = "un";
			FromTechnician=null;
		}else if ($("select[name='BulkFrom'] option:selected").index() == 2) {
			ordersFrom = "tech";
			FromTechnician=$("#FromSelectedTechnician option:selected")[0].id;
		}

		var orderTo,orderToTechnician,orderToDispatcher;
		if ($("#OrderTo option:selected").index() == 0) {
			orderTo ="un";
			orderToTechnician = null;
			orderToDispatcher = null;
		}else if ($("#OrderTo option:selected").index() ==1) {
			orderTo ="tech";
			orderToTechnician = $("#OrderToTechnician option:selected")[0].id;
			orderToDispatcher = null;
		}else if ($("#OrderTo option:selected").index() ==2) {
			orderTo ="disp";
			orderToTechnician = null;
			orderToDispatcher = $("#OrderToDispatcher option:selected")[0].id;
		}

		var data = JSON.stringify({ordersFrom : ordersFrom, FromTechnician:FromTechnician,orderTo:orderTo,orderToTechnician:orderToTechnician,orderToDispatcher:orderToDispatcher});

		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/BulkAssign",
			type: "POST",
			data: data,
			success: function(result) {
				if (result == "True") {
					var url = '@Url.Action("Index", "Dashboard")';
					window.location.href = url;
					// create notification for success here.
				}else {
					$('#alert').html("Can not assign orders to that technician.");
					document.getElementById("alert").style.display="block";
					setTimeout(function(){
						$('#alert').fadeOut('slow');
					},5000);
				}
				// create notification for failed here.
			}
		});
	}

	function transferActionChanged(elem){
		if (elem.selectedIndex ==1 ) {
			$("#TechnicianTransfer").css({display:"block"});
			$("#DispatcherTransfer").css({display:"none"});
		}	else if (elem.selectedIndex ==2) {
			$("#TechnicianTransfer").css({display:"none"});
			$("#DispatcherTransfer").css({display:"Block"});
		}	else if (elem.selectedIndex ==0) {
			$("#TechnicianTransfer").css({display:"none"});
			$("#DispatcherTransfer").css({display:"none"});
		}
	}

	function closeTransferContainer(){
		$("#TransferContainer").css({display:"none"});
	}
	var transferOrderFrom;
	function openTransferContainer(evt){
		transferOrderFrom = evt.id;

		var divToShow =$("#TransferContainer");
		divToShow.css({
			display: "block",
			position: "absolute",
			left: ($(evt).offset().left + $(evt).width()+20) + "px",
			top: ($(evt).offset().top - 5) + "px"
		});
	}

	function confirmTransferOrders(){
		var option,action;
		if ($("select[name='transferOrder'] option:selected").index() == 0 ) {
			action = 0;
			option=0;
		}else if ($("select[name='transferOrder'] option:selected").index() == 1){
			action = 1;
			option = $("#TechnicicanSelect option:selected")[0].id;
		}else if ($("select[name='transferOrder'] option:selected").index() == 2) {
			action=2;
			option = $("#DispatcherSelect option:selected")[0].id;
		}
		var data = JSON.stringify({techId : transferOrderFrom, action:action,option:option});

		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/TransferFromDispatcher",
			type: "POST",
			data: data,
			success: function(result) {
				if (result) {
					var url = '@Url.Action("Index", "Dashboard")';
					window.location.href = url;
					// create notification for success here.
				}
				// create notification for failed here.
			}
		});
	}

	function closeChangeAvailability(){
		$("#availabilityContainer").css({display:"none"});
	}

	function openChangeAvailability(evt){
		var divToShow =$("#availabilityContainer");
		divToShow.css({
			display: "block",
			position: "absolute",
			left: ($(evt).offset().left +10) + "px",
			top: ($(evt).offset().bottom +$(evt).height()+20) + "px"
		});
	}

	function confirmChangeAvailability(){
		var technicianId = $("#availabilityTechSelect option:selected").attr("id");
		var availabilityId = $("#availabilitySelect option:selected").attr("id");

		var data = JSON.stringify({technicianId: technicianId ,availabilityId:availabilityId});
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/ChangeAvailability",
			type: "POST",
			data: data,
			success: function(result) {
				if (result) {
					var url = '@Url.Action("Index", "Dashboard")';
					window.location.href = url;
					// create notification for success here.
				}
				// create notification for failed here.
			}
		});
	}

	function orderSearchFunction(){
		var input, filter, ul, li, a, i,x;
		input = document.getElementById("orderSearch");
		filter = input.value.toUpperCase();
		ul = document.getElementById("unAssigendOrderLoc").children[0];
		li = ul.children;
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			x = li[i].getElementsByTagName("a")[1];
			if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
				if ($("#inProgressToggle").prop('checked')) {
					if ( x.innerHTML == "3") {
						li[i].style.display = "";
					}else{
						li[i].style.display = "none";
					}
				}else if (!$("#inProgressToggle").prop('checked')){
					if ( x.innerHTML != "3") {
						li[i].style.display = "";
					}else{
						li[i].style.display = "none";
					}
				}
			} else {
				li[i].style.display = "none";

			}
		}
	}

	$('#inProgressToggle').change(function() {
		if ($("#inProgressToggle").prop('checked')) {
			ShowUnAssignInProgress(true);
		}else{
			ShowUnAssignInProgress(false);
		}
	})

	function ShowUnAssignInProgress(isShow){
		var input, filter, ul, li, a, i;
		input = document.getElementById("orderSearch");
		if (isShow == true) {
			filter = 3;
		}else{
			filter = "";
		}
		ul = document.getElementById("unAssigendOrderLoc").children[0];
		li = ul.children;
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[1];
			if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
				if (a.innerHTML == "3" && isShow == false ) {
					li[i].style.display = "none";
				}else{
					li[i].style.display = "";
				}
			} else {
				li[i].style.display = "none";
			}
		}
	}

	var orderColumns = {
		CustomerNo: "",
		Name: "",
		PhoneOne: "",
		PhoneTwo:"",
		ContractNo: "",
		ContractTypeName: "",
		CreatedDate: null,
		ExpirationDate: null,
		PACI: "",
		AreaIdFile: "",
		StreetId: "",
		GovId: "",
		BlockId: "",
		Functional_Location: "",
		House_Kasima: "",
		Floor:"",
		AppartmentNo:"",
		AddressNote: "",
		OrderNo: "",
		OrderTypeName:"",
		CompanyCodeName:"",
		DivisionName: "",
		OrderDate: "",
		PriorityId: "",
		StatusId: "",
		ProblemCode: "",
		Notes_ICAgent: ""
	}

	function openAddOrderFile(evt){
		var divToShow =$("#addOrderFile");
		divToShow.css({
			display: "block",
			position: "absolute",
			left: ($(evt).offset().left +10) + "px",
			top: ($(evt).offset().bottom +$(evt).height()+20) + "px"
		});
	}

	function	closeUploadOrderFile(){
		$("#addOrderFile").css({
			display:"none"
		})
	}

	var fileInput = $('#orderFile');
	var uploadButton = $('#uploadFile');

	uploadButton.on('click', function() {
		if (!window.FileReader) {
			alert('Your browser is not supported')
		}
		var input = fileInput.get(0);

		// Create a reader object
		var reader = new FileReader();
		if (input.files.length) {
			var textFile = input.files[0];
			reader.readAsText(textFile,'ISO 8859-6');
			$(reader).on('load', processFile);
		} else {
			alert('Please upload a file before continuing')
		}
	});

	var  parseExcel = function(file){
		var reader = new FileReader();

		reader.onload = function(e){
			var data = e.target.result();
			var workbook = XLSX.read(data, {type : 'binary'});

			workbook.SheetNames.forEach(function(sheetName){
				// Here is your object
				var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
				var json_object = JSON.stringify(XL_row_object);
				//console.log(json_object);
			})

		};

		reader.onerror = function(ex){
			//console.log(ex);
		};

		reader.readAsBinaryString(file);
	};

	function filePicked(oEvent) {
		// Get The File From The Input
		var oFile = oEvent.target.files[0];
		var sFilename = oFile.name;
		// Create A File Reader HTML5
		var reader = new FileReader();

		// Ready The Event For When A File Gets Selected
		reader.onload = function(e) {
			var data = e.target.result;
			var cfb = XLS.CFB.read(data, {type: 'binary'});
			var wb = XLS.pars
			e_xlscfb(cfb);
			// Loop Over Each Sheet
			wb.SheetNames.forEach(function(sheetName) {
				// Obtain The Current Row As CSV
				var sCSV = XLS.utils.make_csv(wb.Sheets[sheetName]);
				var oJS = XLS.utils.sheet_to_row_object_array(wb.Sheets[sheetName]);

				$("#my_file_output").html(sCSV);
				console.log(oJS)
			});
		};

		// Tell JS To Start Reading The File.. You could delay this if desired
		reader.readAsBinaryString(oFile);
	}

	function processFile(e) {
		var file = e.target.result,
			results;
		if (file && file.length) {
			$(".isLoader").css({
				display:"block"
			});

			results = file.split("\n");
			var keys = results[0].split(",");
			var rowData = {};
			for (var i = 0; i < keys.length; i++) {
				var key = keys[i].replace(" ","_");
				rowData[key]="";
			}

			var array=[];
			for (var i = 1; i < results.length; i++) {
				var row  = results[i].split(",");

				var orderColumns = {
					OrderNo: checkEmptyOrUndefinedCells(row[0]),
					OrderTypeCode: checkEmptyOrUndefinedCells(row[1]),
					OrderTypeName: checkEmptyOrUndefinedCells(row[2]),
					CompanyCodeName: checkEmptyOrUndefinedCells(row[4]),
					OrderDateString: checkEmptyOrUndefinedCells( row[5]),
					DivisionCode: checkEmptyOrUndefinedCells(row[6]),
					Division: checkEmptyOrUndefinedCells(row[6]),
					DivisionName: checkEmptyOrUndefinedCells( row[7]),
					PriorityId: checkEmptyOrUndefinedCells( row[8]),
					OrderPriorityDescription: checkEmptyOrUndefinedCells(row[9]),
					ProblemCode: checkEmptyOrUndefinedCells( row[10]),
					ProblemDescription: checkEmptyOrUndefinedCells(row[11]),
					StatusId: checkEmptyOrUndefinedCells( row[18]),
					Notes_ICAgent: checkEmptyOrUndefinedCells( row[20]),
					ContractNo: checkEmptyOrUndefinedCells( row[21]),
					ContractTypeCode: checkEmptyOrUndefinedCells( row[22]),
					ContractTypeName: checkEmptyOrUndefinedCells( row[23]),
					CreatedDate: checkEmptyOrUndefinedCells( row[24]),
					ExpirationDate: checkEmptyOrUndefinedCells( row[25]),
					Functional_Location: checkEmptyOrUndefinedCells( row[26]),
					CustomerNo: checkEmptyOrUndefinedCells( row[28]),
					Name: checkEmptyOrUndefinedCells( row[29]),
					PhoneOne: checkEmptyOrUndefinedCells( row[30]),
					PhoneTwo: checkEmptyOrUndefinedCells(row[31]),
					PACI: checkEmptyOrUndefinedCells( row[32]),
					AreaIdFile: checkEmptyOrUndefinedCells( row[34]),
					AreaDescription: checkEmptyOrUndefinedCells( row[35]),
					BlockId: checkEmptyOrUndefinedCells( row[36]),
					StreetId: checkEmptyOrUndefinedCells( row[38]),
					House_Kasima: checkEmptyOrUndefinedCells( row[39]),
					Floor: checkEmptyOrUndefinedCells(row[40]),
					AppartmentNo: checkEmptyOrUndefinedCells(row[41]),
					AppartmentCode: checkEmptyOrUndefinedCells(row[41])
				}

				//console.log(orderColumns);
				array.push(orderColumns);
			}
			//console.log(array);

			$.ajax({
				type: "POST",
				dataType: "json",
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/UploadOrderFile",
				data: JSON.stringify({ 'Orders': array }),
				success: function (result) {
					if (result.IsCreated) {
						var url = '@Url.Action("Index", "Dashboard")';
						window.location.href = url;
					}
				}
			});
		}
	}

	function closePrintOut() {
		$("#PrintOutView").css({
			display: "none"
		});
		$("#BoardView").css({
			display:"block"
		});
	}

	function closeOrderEditView(){
		$("#OrderEditView").css({
			display: "none"
		});
		$("#BoardView").css({
			display:"block"
		});
	}

	function closeWorkUpdate(){
		$("#updateWork").css({
			display:"none"
		});
		$("#backFade").css({
			display:"none"
		});
		$("#tripNo").val("");
		$("#workUpdateNotes").val("");
		$("#workUpdateStatus").val($("#workUpdateStatus option:first").val());
		$("#workUpdateOrderStatus").val($("#workUpdateOrderStatus option:first").val());

	}

	function closeOrderCreationView(){
		$("#OrderCreationView").css({
			display: "none"
		});
		$("#BoardView").css({
			display:"block"
		});
	}

	function confirmWorkUpdate() {
		var e = document.getElementById("workUpdateStatus");
		var workUpdateId = e.options[e.selectedIndex].id;
		var eStatus = document.getElementById("workUpdateOrderStatus");
		var workStatusId = eStatus.options[eStatus.selectedIndex].id;
		var isValid = true;
		var obj={
			orderId:selectedOrder,
			tripNo:$("#tripNo").val(),
			workUpdate:workUpdateId,
			workNotes:$("#workUpdateNotes").val(),
			workStatus :workStatusId
		}


		if (obj.tripNo == null || obj.tripNo =="") {
			$("#tripNoError").css({display:"block"});
			isValid = false;
		}
		if (obj.workUpdate == null) {
			$("#workUpdateStatusError").css({display:"block"});
			isValid = false;
		}
		//if (obj.workNotes == null || obj.workNotes == "") {
		//	$("#workUpdateNotesError").css({display:"block"});
		//	isValid = false;
		//}
		if (obj.workStatus == null || obj.workStatus == "") {
			$("#workUpdateOrderStatusError").css({display:"block"});
			isValid = false;
		}
		if (isValid == true) {
			document.getElementById("wuBTN").disabled = true;

			var data = JSON.stringify(obj);
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/AddWorkUpdate",
				type: "POST",
				data: data,
				success: function(result) {
					if (result) {
						document.getElementById("wuBTN").disabled = false;
						closeWorkUpdate();
						if (workStatusId == "4" || workStatusId == "5") {
							if (!workupdateLoc) {
								var curCount = document.getElementById(orderWUClass).innerText;
								document.getElementById(orderWUClass).innerText = Number(curCount) + 1;
							}
							var id = orderWUID.replace("_o", "_d");
							$("#" + id).remove();
						} else {
							if (selectOrderO == true) {
								document.getElementById(selectedOrder + "_d").children[1].children[1].innerHTML = workStatusId;
							}
							if (workupdateLoc) {
								ShowUnAssignInProgress(false);
							}
						}
					}
				}
			});
		}else{
			$("#updateWork").css({height:"385px"});
		}

	}



	function chooseColor(orderType, orderDate) {
		var style = {
			colorClass: "",
			orderTextColor: null
		};

		if (orderType == "MC Potential Orders") {
			style.colorClass = "white";
			style.orderTextColor = "black";
		}  else if (orderType == "Cash Compressor"){
			style.colorClass = "orange";
			style.orderTextColor = "black";
		}else if (orderType == "Cash call Order") {
			style.colorClass = "darkgreen";
			style.orderTextColor = "white";
		} else {
			if (orderType == "Preventive Maintenance Order" || orderType == "Enhancement Job Order" || orderType == "Contract Service Order") {
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}else{
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}
		}
		return style;
	}

	AssignedCreation(formans);
	unassignCreation(unAssignedorders);

	var massReassignBTN = $('#confirmMassReassign');

	massReassignBTN.on('click', function() {
		var e = document.getElementById("massReassignSelect");
		var selectedTechId = e.options[e.selectedIndex].id;
		var selectedMassReassignValidation = [];
		$('.checkbox input:checked').each(function() {
			selectedMassReassignValidation.push({id:$(this).attr('name'),paci:$(this).attr('paci')});
		});
		var isPaci = false;
		var isInNotAvailable = false;
		var selectedMassReassign =[];
		for (var i = 0; i < selectedMassReassignValidation.length; i++) {
			if (selectedMassReassignValidation[i].paci == "null") {
				isPaci = true;
				break;
			}
			selectedMassReassign.push(selectedMassReassignValidation[i].id);
		}

		for (var i = 0; i < notAvailableTechs.length; i++) {
			if(notAvailableTechs[i] ==selectedTechId){
				isInNotAvailable = true;
				break;
			}
		}

		if (!isPaci && !isInNotAvailable) {
			var data = JSON.stringify({TechnicianId: selectedTechId,Orders:selectedMassReassign });
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/DispatcherMassReassign",
				type: "POST",
				data: data,
				success: function(result) {
					if (result) {
						var url = '@Url.Action("Index", "Dashboard")';
						window.location.href = url;
						// create notification for success here.
					}
					// create notification for failed here.
				}
			});
		}else{
			if (isInNotAvailable == true) {
				$('#alert').html("This Technician is not available");
				document.getElementById("alert").style.display="block";
				setTimeout(function(){
					$('#alert').fadeOut('slow');
				},5000);
			}else{
				$('#alert').html("Please update PACI before assign to technician");
				document.getElementById("alert").style.display="block";
				setTimeout(function(){
					$('#alert').fadeOut('slow');
				},5000);
			}
		}
	});

	$("#selectMassAll").click( function(){
		if( $(this).is(':checked') ) {
			$('.checkbox input').prop('checked', true);
		}else{
			$('.checkbox input').prop('checked', false);
		}
	});

	function closeMassReassign(){
		$(".checks").css({
			display:"none"
		});
		$("#massReassign").css({
			display:"none"
		})
	}

	function massReassign(evt){
		var divToShow =$("#BulkAssignContainer");
		divToShow.css({
			display: "block",
			position: "absolute",
			left: ($(evt).offset().left +10) + "px",
			top: ($(evt).offset().bottom +$(evt).height()+20) + "px"
		});
	}

	var dragerId;
	var dragToId;
	var dragToClass;
	var isBack = false;
	var isAllow = true;
	var isNotAvailable = false;
	function allowDrop(ev) {
		isBack = false;
		dragToId = ev.currentTarget.id;
		dragToClass = ev.currentTarget.className;
		ev.preventDefault();
		if (dragToId == "unAssigendOrderLoc") {
			isBack = true;
		}else if (dragToId == "false") {
			isAllow = false;
			isNotAvailable = true;
		}
	}
	function notAllowedDrop(ev) {
		$('#alert').html("This Technician is not available");
		document.getElementById("alert").style.display = "block";
		setTimeout(function () {
			$('#alert').fadeOut('slow');
		}, 5000);
	}

	function drag(ev) {
		isAllow = true;
		dragerId = ev.currentTarget.id;
		if (ev.currentTarget.className == "null") {
			isAllow = false;
		}
		ev.dataTransfer.setData("text", dragerId);
	}

	function drop(ev) {

		isBack = false;
		dragToId = ev.currentTarget.id;
		dragToClass = ev.currentTarget.className;
		ev.preventDefault();
		if (dragToId == "unAssigendOrderLoc") {
			isBack = true;
		} else if (dragToId == "false") {
			isAllow = false;
			isNotAvailable = true;
		}
		if (isAllow) {
			if (isBack) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
				var orderId = dragerId.replace('_d', '');
				var data = JSON.stringify({orderId: orderId });

				$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "Dashboard/SetAsUnAssigned",
					type: "POST",
					data: data,
					success: function(result) {
						if (result) {
							getUnAssignAjax();
						}
						// create notification for failed here.
					}
				});
			}else{
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				var removeThis = dragerId;
				var orderId = dragerId.replace('_d', '');
				var techId = dragToId;
				var data = JSON.stringify({ technincianId: techId, orderId: orderId });

				$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "Dashboard/AssignTechnicianToOrder",
					type: "POST",
					data: data,
					success: function (result) {
						var ourData = JSON.parse(result);
						debugger;
						if (ourData) {
							var x = "div#" + techId + "." + dragToClass;
							var y = "#" + removeThis;
							var assOrder = ourData;
							var style = chooseColor(assOrder.Type, assOrder.CreatedDate);
							var content = "<div class='" + techId+"_count' draggable='true' ondragstart='drag(event)' id='" + assOrder.Id + "_d' style='border:1px solid black;height:105px;padding: 6px;cursor:pointer;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";' draggable='true'>";
							if (assOrder.DateTo) {
								content += "<div  style='width:87%;float:left;'><p>No. " + assOrder.OrderNo + "</p><p class='ptrim'> " + assOrder.CustomerName + "</p><p><lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 85px;'>" + checkEmptyOrUndefined(assOrder.Area) + "</lable>&nbsp; &nbsp; <lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 80px;'>B" + checkEmptyOrUndefinedBlock(assOrder.Block) + "</lable></p></div><div style='width:10%;float:left;'>" +
									"<span class='glyphicon glyphicon-bell'  title='Scheduled'  aria-hidden='true'  style='margin-left:10px' onclick='openChangeVisit(1,1,this);'></span>" +
									"<span class='glyphicon glyphicon-wrench' title='Edit' aria-hidden='true'  style='margin-left:10px;cursor:pointer' onclick='editOrder(1,this);'></span>" +
									"<span class='glyphicon glyphicon-cog' title='Work Update' aria-hidden='true'  style='margin-left:10px;cursor:pointer' onclick='openWorkUpdate(1,this);'></span>" +
									"</div>";
							} else {
								content += "<div  style='width:87%;float:left;'><p>No. " + assOrder.OrderNo + "</p><p class='ptrim'> " + assOrder.CustomerName + "</p><p><lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 85px;'>" + checkEmptyOrUndefined(assOrder.Area) + "</lable>&nbsp; &nbsp; <lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 80px;'>B" + checkEmptyOrUndefinedBlock(assOrder.Block) + "</lable></p></div><div style='width:10%;float:left;'>" +
									"<span class='glyphicon glyphicon-time' aria-hidden='true' title='Visit Time'  style='margin-left:10px' onclick='openChangeVisit(1,0,this);'></span>" +
									"<span class='glyphicon glyphicon-wrench' title='Edit' aria-hidden='true'  style='cursor:pointer;margin-left:10px' onclick='editOrder(1,this);'></span>" +
									"<span class='glyphicon glyphicon-cog' title='Work Update' aria-hidden='true'  style='cursor:pointer;margin-left:10px' onclick='openWorkUpdate(1,this);'></span>" +
									"</div>";
							}
							content += "</div>";

							debugger;
							$(y).remove();
							$(x).append(content);

							//console.log(result);
						}
						// create notification for failed here.
					}
				});
			}
		}
		else{
			if (isNotAvailable) {
				$('#alert').html("This Technician is not available");
				document.getElementById("alert").style.display="block";
				setTimeout(function(){
					$('#alert').fadeOut('slow');
				},5000);
			}else{
				$('#alert').html("Please update PACI before assign to technician");
				document.getElementById("alert").style.display="block";
				setTimeout(function(){
					$('#alert').fadeOut('slow');
				},5000);
			}
		}
	};

	function transferOrder (evt){
		selectedOrder  = evt.parentElement.id.replace("_o","");
		var divToShow =$("#transferOrderDiv");
		divToShow.css({
			display: "block",
			position: "absolute",
		});
		$("#backFade").css({
			display: "block"});
	}
	var selectOrderD= false;
	var selectOrderO= false;
	var workupdateLoc = false;
	var orderWUID = "";
	var orderWUClass = "";
	function openWorkUpdate(loc, evt) {
		document.getElementById("wuBTN").disabled = false;
		$("#tripNoError").css({ display: "none" });
		$("#workUpdateStatusError").css({ display: "none" });
		$("#workUpdateOrderStatusError").css({ display: "none" });

		if (loc == 0) {
			orderWUID = evt.parentElement.id;
			orderWUClass = evt.parentElement.className;
			selectedOrder  = evt.parentElement.id.replace("_o","");
			selectOrderO = true;
			workupdateLoc = true;
		} else {
			orderWUID = evt.parentElement.parentElement.id;
			orderWUClass = evt.parentElement.parentElement.className;
			selectedOrder  = evt.parentElement.parentElement.id.replace("_d","");
			selectOrderD= true;
			workupdateLoc = false;
		}
		var isHistory =  false;
		var obj={
			orderId:selectedOrder
		};
		var data = JSON.stringify(obj);
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/GetHistoryWorkUpdate/"+selectedOrder,
			type: "POST",
			data: data,
			success: function(result) {
				var myTableDiv = document.getElementById("workUpdateHistory")
				myTableDiv.innerHTML ="";
				var data = JSON.parse(result);
				if (data && data.length > 0 ) {
					var passing = new Array();
					for (var i = 0; i < data.length; i++) {
						passing[i]=new Array(data[i].TripNo, data[i].WorkUpdateId, data[i].CreatedDate, data[i].Status, data[i].Update,data[i].Notes,data[i].TechnicianName,data[i].DispatcherName)
					}
					addTable(passing);
					isHistory = true;
					var divToShow =$("#updateWork");
					divToShow.css({	height: "395px"});
				}
			}
		});
		var workupdates = @Html.Raw(Json.Encode( ViewBag.WorkUpdateId));

		var content ="";
		for (var i = 0; i <workupdates.length; i++) {
			if (workupdates[i].StatusId == 1) {
				content += "<option id='"+workupdates[i].Id+"' >" +workupdates[i].Name+ "</option>";
			}
		}
		$("#workUpdateStatus").empty();
		$("#workUpdateStatus").html(content);

		var divToShow =$("#updateWork");
		divToShow.css({	height: "245px"});
		divToShow.css({
			display: "block",
			position: "absolute",
			left: "33%",
			top: "30%"
		});

		$("#backFade").css({
			display: "block"
		});
	}

	function addTable(stock) {
		var myTableDiv = document.getElementById("workUpdateHistory")
		myTableDiv.innerHTML ="";
		var table = document.createElement('TABLE')
		var tableBody = document.createElement('TBODY')

		table.border = '1'
		table.appendChild(tableBody);

		var heading = new Array();
		heading[0] = "Trip No."
		heading[1] = "Reason"
		heading[2] = "Created date"
		heading[3] = "Status"
		heading[4] = "Update"
		heading[5] = "Notes"
		heading[6] = "Technician"
		heading[7] = "Dispatcher"

		//TABLE COLUMNS
		var tr = document.createElement('TR');
		tableBody.appendChild(tr);
		for (i = 0; i < heading.length; i++) {
			var th = document.createElement('TH')
			th.width = '75';
			th.appendChild(document.createTextNode(heading[i]));
			tr.appendChild(th);
		}

		//TABLE ROWS
		for (i = 0; i < stock.length; i++) {
			var tr = document.createElement('TR');
			for (j = 0; j < stock[i].length; j++) {
				var td = document.createElement('TD')
				td.appendChild(document.createTextNode(stock[i][j]));
				tr.appendChild(td)
			}
			tableBody.appendChild(tr);
		}
		myTableDiv.appendChild(table)
	}

	$('.dropdown-toggle').click(function(){
		$('.dropdrown-menu').toggle();
	});
	var selectedDisparcher="";
	$(".dropdown-menu").on('click', 'li a', function () {
		$("#transferTo div:first-child div:first-child").text($(this).text());
		$("#transferTo div:first-child div:first-child").val($(this).text());
		selectedDisparcher = $(this).attr('id');
	});

	function confirmTransfer(){
		var obj={
			orderId:selectedOrder,
			dispatcherId:selectedDisparcher
		};
		var data = JSON.stringify(obj);
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/TransferOrder",
			type: "POST",
			data: data,
			success: function(result) {
				if (result) {
					getUnAssignAjax();
					closeTransferes();
				}
			}
		});
	}

	var selectedOrder = "";
	function closeCustomerVisit(){
		$("#changeVisitDiv").css({
			display:"none"
		});
		$("#backFade").css({
			display:"none"
		});
	}

	function closeTransferes(){
		$("#transferOrderDiv").css({
			display:"none"
		});
		$("#backFade").css({
			display: "none"});
	}

	function closePhoneLocation() {
		$("#actionShow").css({
			display: "none"
		});
		$("#backFade").css({
			display: "none"
		});
	}

	function formatDate(date) {
		var hours = date.getHours();
		var minutes = date.getMinutes();
		var strTime = hours + ':' + minutes;
		return  date.getDate() + "/" + (date.getMonth()+1) + "/" +date.getFullYear() + "  " + strTime;
	}

	var map, marker;

	function phoneLocation(evt) {
		selectedOrder = evt.parentElement.parentElement.id.replace("_d", "");
		var data = JSON.stringify({ orderId: Number(selectedOrder) });

		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/GetActionData",
			type: "POST",
			data: data,
			success: function (result) {
				if (result) {
					var actionData = JSON.parse(result);
					var content = "<p>Action Name : " + actionData.ActionName + "</p>" +
						"<p>Date : " + actionData.ActionDate + "</p>" +
						"<p>Latitude : " + actionData.Latitude + "</p>" +
						"<p>Longitude : " + actionData.Longitude + "</p>";
					var myTableDiv = document.getElementById("actionData");
					myTableDiv.innerHTML = content;

					if (!map) {
						map = new google.maps.Map(document.getElementById('markerMap'), {
							zoom: 4,
						});
					}
					if (actionData.Latitude && actionData.Longitude) {
						var uluru = { lat: actionData.Latitude, lng: actionData.Longitude };
						map.setCenter(uluru);
						marker = new google.maps.Marker({
							position: uluru,
							map: map
						});
					} else {
						var uluru = { lat: actionData.Latitude, lng: actionData.Longitude };
						map.setCenter(uluru);
						if (marker) {
							marker.setMap(null);
						}
					}
					$("#actionShow").css({
						display: "block",
						position: "absolute",
						left: "33%",
						top: "30%",
						height: "300px",
						padding: "15px"
					});
					$("#backFade").css({
						display: "block"
					});
				}
			}
		});
	}

	function	 openChangeVisit(un,up,evt){
		if (un==0) {
			selectedOrder  = evt.parentElement.id.replace("_o","");
		}else{
			selectedOrder  = evt.parentElement.parentElement.id.replace("_d","");
		}
		if (up ==1) {

			var data = JSON.stringify({orderId:Number(selectedOrder)});

			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/GetTimeVisit",
				type: "POST",
				data: data,
				success: function(result) {
					if (result) {
						var data =JSON.parse(result);
						var dateFrom = new Date(data.DateFrom);
						var dateTo = new Date(data.DateTo);

						var stringdate = formatDate(dateFrom)+ " - " + formatDate(dateTo);
						$("#daterange").val(stringdate);
						var divToShow =$("#changeVisitDiv");
						divToShow.css({
							display: "block",
							position: "absolute",
						});
						$("#backFade").css({
							display:"block"
						});
					}
					// create notification for failed here.
				}
			});
		}else{

			var divToShow =$("#changeVisitDiv");
			divToShow.css({
				display: "block",
				position: "absolute",
			});
			$("#backFade").css({
				display:"block"
			});
		}
	}

	$('#daterange').daterangepicker({
		"timePicker": true,
		"locale": {
			"direction": "ltr",
			"format": "MM/DD/YYYY HH:mm",
			"separator": " - ",
			"applyLabel": "Apply",
			"cancelLabel": "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"daysOfWeek": [
				"Su",
				"Mo",
				"Tu",
				"We",
				"Th",
				"Fr",
				"Sa"
			],
			"monthNames": [
				"January",
				"February",
				"March",
				"April",
				"May",
				"June",
				"July",
				"August",
				"September",
				"October",
				"November",
				"December"
			],
			"firstDay": 1
		},
		"startDate": Date.now,
		"endDate": Date.now
	}, function(start, end, label) {
	});

	function setVisitTime(){
		var dates = $("#daterange").val().split(" - ");
		var obj={
			orderId:selectedOrder,
			dateFrom:dates[0],
			dateTo:dates[1]
		}
		var data = JSON.stringify(obj);

		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/SetVisitTime",
			type: "POST",
			data: data,
			success: function(result) {
				if (result) {
					AssignedOrders();
					getUnAssignAjax();
					closeCustomerVisit();
					// create notification for success here.
				}
				// create notification for failed here.
			}
		});
	}

	function getNotifications(){
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url : "@Url.Action("GetNotification", "Dashboard")",
			type: "GET",
			dataType: "json",
			success: function(result) {
				var data =JSON.parse(result);
				if (data && data.length > 0) {
					$("#notificationLoc").css({
						color:"red",
						display:"block",
						cursor:"pointer"
					});
					$("#notificationLoc").on("click",function(){
						if($('.notification-content').css('display') == 'none')
						{
							$(".notification-content").css({
								display:"block"});
						}else{
							$(".notification-content").css({
								display:"none"});
						}
					});

					var notificationContent= "";
					for (var i = 0; i < data.length; i++) {
						notificationContent+= "<div class='notification'>"+
							"<div class='col-md-2'><span class='glyphicon glyphicon-bell notify' aria-hidden='true'></span> </div>"+
							"<div class='col-md-9'>Order No. "+data[i].OrderNo+"</div>"+
							"</div>";
					}
					$(".notification-content").html(notificationContent);
					// create notification for success here.
				}
				// create notification for failed here.
			}
		});
	}
	getNotifications();
	setInterval(function(){
		getNotifications();
	}, 50000);


	function editOrder(loc,evt){
		if (loc==0) {
			selectedOrder  = evt.parentElement.id.replace("_o","");
		}else{
			selectedOrder  = evt.parentElement.parentElement.id.replace("_d","");
		}
		var data = JSON.stringify({orderId:Number(selectedOrder)});
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/EditOrder",
			type: "POST",
			data:data,
			success: function (result) {
				$("#OrderEditView").html(result);
				$("#OrderEditView").css({
					display:"block"
				});
				$("#OrderCreationView").css({
					display:"none"
				});
				$("#BoardView").css({
					display:"none"
				});
			}
		});
	}

	function checkEmptyOrUndefined(text) {
		return (text != null || text != undefined) ? text : "-";
	}

	function checkEmptyOrUndefinedBlock(text) {
		if (text == "ByPass PACI down" || text == "Not Found In PACI") {
			return "B";
		} else if (text != null || text != undefined && text != "null") {
			return text;
		} else {
			return "-";
		}
		//return (text != null || text != undefined) ? text : "-";
	}

	function checkEmptyOrUndefinedCells(text) {
		return (text != null || text != undefined ) ? text :null;
	}

	function	 printOutView(){
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/PrintOut",
			type: "POST",
			success: function (result) {
				$("#PrintOutView").html(result);
				$("#PrintOutView").css({
					display:"block"
				});
				$("#OrderEditView").css({
					display:"none"
				});
				$("#OrderCreationView").css({
					display:"none"
				});
				$("#BoardView").css({
					display:"none"
				});
			}
		});
	}

</script>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script type="text/javascript">
	$('#workUpdateOrderStatus').on('change', function () {
		var selectedId = $('#workUpdateOrderStatus').find(":selected")[0].id;
		var workupdates = @Html.Raw(Json.Encode( ViewBag.WorkUpdateId));
		//workUpdateStatus
		var content = "";
		for (var i = 0; i < workupdates.length; i++) {
			if (selectedId == workupdates[i].StatusId) {
				content += "<option id='" + workupdates[i].Id + "' >" + workupdates[i].Name + "</option>";
			}
		}
		$("#workUpdateStatus").empty();
		$("#workUpdateStatus").html(content);
	});
</script>
<script type="text/javascript">
	function getUnAssignAjax() {
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/GetUnAssignedAjax",
			type: "GET",
			success: function (result) {
				var data = JSON.parse(result);
				unassignCreation(data);
			}
		});
	}

	setInterval(function () { getUnAssignAjax(); }, 300000);

</script>