﻿@model SmartDispatching.Models.OrderViewModel
<style>
	.form-control {
		display: inline;
		width: 50%;
	}

	label {
		font-weight: normal;
	}

	#exTab3 {
		max-height: 78vh;
		overflow-y: auto;
	}

	.text-danger {
		display: none;
	}
</style>
<div id="exTab3" class="container" style="display:block">
	<span class="glyphicon glyphicon-remove" aria-hidden='true' style="position: absolute;right: 20px;top: 10px;cursor: pointer;" onclick="closeOrderCreationView();"></span>
	<p><h5><b>Add new order</b></h5></p>
	<div class="row">
		<hr />
		@*<p><h5><b>Customer data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.CustomerNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.CustomerNo, new { htmlAttributes = new { @class = "form-control", type = "number" } })
				@Html.ValidationMessageFor(model => model.CustomerNo, "Customer No is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "CustomerNoError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "Name is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "nameError" })
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.PhoneOne, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.PhoneOne, new { htmlAttributes = new { @class = "form-control", type = "number" } })
				@Html.ValidationMessageFor(model => model.PhoneOne, "Phone No. is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "phoneOneError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.PhoneTwo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.PhoneTwo, new { htmlAttributes = new { @class = "form-control", type = "number" } })
				@Html.ValidationMessageFor(model => model.PhoneTwo, "", new { @class = "text-danger col-md-offset-6", id = "phoneTwoError" })
			</div>
		</div>
	</div>

	<div class="row">
		<hr />
		@*<p><h5><b>Contract data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.ContractNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.ContractNo, new { htmlAttributes = new { @class = "form-control", type = "number" } })
				@Html.ValidationMessageFor(model => model.ContractNo, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			@*<div class="form-group">
				@Html.LabelFor(model => model.ContractTypeId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.ContractTypeId, (IEnumerable<SelectListItem>)ViewBag.ContractTypeId, "-- Select One --", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ContractTypeId, "", new { @class = "text-danger col-md-offset-6" })
			</div>*@

		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
				@Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.ExpirationDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
				@Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
	</div>
	<div class="row">
		<hr />
		@*<p><h5><b>Address data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.PACI, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.PACI, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
				@Html.ValidationMessageFor(model => model.PACI, "Invalid PACI No.", new { @class = "text-danger col-md-offset-6", id = "PACIError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.GovId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.GovId, new SelectList(ViewBag.Governorates, "Id", "Name"), "-- Select One --", new { @class = "form-control", onchange = "govIsChanged(this);" })
				@Html.ValidationMessageFor(model => model.GovId, "", new { @class = "text-danger col-md-offset-6" })
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.AreaId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.AreaId, new SelectList(ViewBag.Areas, "Id", "Name"), "-- Select One --", new { @class = "form-control", onchange = "areaIsChanged(this);" })
				@Html.ValidationMessageFor(model => model.AreaId, "Area is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "areaError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.BlockId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.BlockId, new SelectList(ViewBag.Blocks, "Id", "Name"), "-- Select One --", new { @class = "form-control", onchange = "blockIsChanged(this);" })
				@Html.ValidationMessageFor(model => model.BlockId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.StreetId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.StreetId, new SelectList(ViewBag.Streets, "Id", "Name"), "-- Select One --", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.StreetId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.Functional_Location, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.Functional_Location, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Functional_Location, "Functional location is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none;font-size:13px", id = "FLError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.House_Kasima, "House/Kasima No.", htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.House_Kasima, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.House_Kasima, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Floor, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.Floor, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Floor, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.AppartmentNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.AppartmentNo, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.AppartmentNo, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.AddressNote, htmlAttributes: new { @class = "control-label col-md-6" })
				@*@Html.EditorFor(model => model.AddressNote, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.TextAreaFor(model => model.AddressNote, new { @class = "form-control", @cols = 35, @rows = 3})
				@Html.ValidationMessageFor(model => model.AddressNote, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
	</div>
	<div class="row">
		<hr />
		@*<p><h5><b>Order data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control", type = "number" } })
				@Html.ValidationMessageFor(model => model.OrderNo, "Order No is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "OrderNoError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.OrderTypeId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.OrderTypeId, (IEnumerable<SelectListItem>)ViewBag.OrderTypeId, "-- Select One --", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.OrderTypeId, "Order type is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "orderTypeError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.CompanyCodeId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.CompanyCodeId, (IEnumerable<SelectListItem>)ViewBag.CompanyCodeId, "-- Select One --", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CompanyCodeId, "Company code is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "companyError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.DivisionId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.DivisionId, (IEnumerable<SelectListItem>)ViewBag.DivisionId, "-- Select One --", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.DivisionId, "Division is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "divisionError" })
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.PriorityId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.PriorityId, (IEnumerable<SelectListItem>)ViewBag.PriorityId, "-- Select One --", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusId, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ProblemId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.ProblemId, (IEnumerable<SelectListItem>)ViewBag.ProblemId, "-- Select One --", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ProblemId, "Problem is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "problemError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Notes_ICAgent, htmlAttributes: new { @class = "control-label col-md-6" })
				@*@Html.EditorFor(model => model.Notes_ICAgent, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.TextAreaFor(model => model.Notes_ICAgent, new { @class = "form-control", @cols = 35, @rows = 3 })
				@Html.ValidationMessageFor(model => model.Notes_ICAgent, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-6 col-md-offset-5">
			<button class="btn btn-primary" id="Submit">Submit</button>
			<span id="ErrorMSG"></span>
		</div>
	</div>
</div>
<script type="text/javascript">
	//function showTabs() {
	//	document.getElementById("exTab3").style.display = "block";
	//}

	//var customerName = $("#Name").val();
	//var customerPhone1 = $("#PhoneOne").val();
	//var customerPhone2 = $("#PhoneTwo").val();

	//var contractType = $("#ContractTypeId").val();
	//var contractCDate = $("#CreatedDate").val();
	//var contractEDate = $("#ExpirationDate").val();

	//var addressPACI = $("#PACI").val();
	//var addressArea = $("#AreaId").val();
	//var addressStreet = $("#StreetId").val();
	//var addressGov = $("#GovId").val();
	//var addressBlock = $("#BlockId").val();
	//var addressFL = $("#Functional_Location").val();
	//var addressHK = $("#House_Kasima").val();
	//var addressFloor = $("#Floor").val();
	//var addressAppartNo = $("#AppartmentNo").val();
	//var addressNote = $("#AddressNote").val();

	//$('#ToContract').click(function (e) {
	//	$("#nameError").hide();
	//	$("#phoneOneError").hide();
	//	e.preventDefault();
	//	if ($("#Name").val() == "" && $("#PhoneOne").val() == "") {
	//		$("#nameError").show();
	//		$("#phoneOneError").show();
	//	} else if ($("#Name").val() == "") {
	//		$("#nameError").show();
	//	} else if ($("#PhoneOne").val() == "") {
	//		$("#phoneOneError").show();
	//	} else {
	//		$('#OrderTabs a[href="#2b"]').tab('show');
	//	}
	//});

	//$('#ToAddress').click(function (e) {
	//	e.preventDefault();
	//	$('#OrderTabs a[href="#3b"]').tab('show');
	//});

	//$('#ToFinal').click(function (e) {
	//	$("#areaError").hide();
	//	$("#FLError").hide();
	//	e.preventDefault();
	//	if ($("#AreaId").val() == "" && $("#Functional_Location").val() == "") {
	//		$("#areaError").show();
	//		$("#FLError").show();
	//	} else if ($("#AreaId").val() == "") {
	//		$("#areaError").show();
	//	} else if ($("#Functional_Location").val() == "") {
	//		$("#FLError").show();
	//	} else {
	//		$('#OrderTabs a[href="#4a"]').tab('show');
	//	}
	//});
	$('#PACI').on('keyup', function () {
		$("#PACIError").hide();
		$("#PACIError").html("Invalid PACI No.");
		if ($(this).val().length == 8) {
			getGeoData_PACI($(this).val());
		} else if ($(this).val().length > 8) {
			$("#PACIError").html("PACI No. must be 8 numbers!");
			$("#PACIError").show();
		}
	});

	function serverAuth(callback) {
		L.esri.post('https://kuwaitportal.paci.gov.kw/arcgis/tokens/generateToken', {
			username: 'AMANAHUser',
			password: 'Amanah@1',
			f: 'jsonp',
			expiration: 86400,
			client: 'referer',
			referer: window.location.origin
		}, callback);
	}


	function getGeoData() {
		var govURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/3/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var areaURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/2/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var blockURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/1/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var streetURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
        populateDataFromServer(govURL, "GovId", "Gov_no", "governorateenglish");
		populateDataFromServer(areaURL, "AreaId", "Nhood_No", "NeighborhoodEnglish");
		populateDataFromServer(blockURL, "BlockId", "BlockEnglish", "BlockEnglish");
		populateDataFromServer(streetURL, "StreetId", "OBJECTID", "StreetEnglish");
	}

	function getGeoData_PACI(PACINo) {
		var govURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/3/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var areaURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/2/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var blockURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/1/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var streetURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
        populateDataFromServer_PACI(govURL, "GovId", "Gov_no", "governorateenglish",null);
		populateDataFromServer_PACI(areaURL, "AreaId", "Nhood_No", "NeighborhoodEnglish",null);
		populateDataFromServer_PACI(blockURL, "BlockId", "BlockEnglish", "BlockEnglish",null);
		populateDataFromServer_PACI(streetURL, "StreetId", "OBJECTID", "StreetEnglish",PACINo);
	}


	getGeoData();

	function populateDataFromServer(URL, dropDownId, featureValue, featureText) {
		$.ajax({
			dataType: 'jsonp',
			url: URL,
			type: "GET",
			success: function (result) {
				if (result && result.features && result.features.length > 0) {
					var listItems = "";
					listItems += "<option value=''>-- Select One --</option>";
					var arr = [];
					if (featureValue != "BlockEnglish") {
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							listItems += "<option value='" + feature[featureValue] + "'>" + feature[featureText] + "</option>";
						}
						$("#" + dropDownId).html(listItems);
					} else {
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							var obj = { BlockEnglish: feature[featureValue], BlockText: feature[featureText] }
							arr.push(obj);
						}
						var outArr = dedupe(arr, featureValue, featureText);
						for (var i = 0; i < outArr.length; i++) {
							listItems += "<option value='" + outArr[i].BlockEnglish + "'>" + outArr[i].BlockText + "</option>";
						}
						$("#" + dropDownId).html(listItems);
					}
				}
			}
		});
	}

	function populateDataFromServer_PACI(URL, dropDownId, featureValue, featureText,PACINo) {
		$.ajax({
			dataType: 'jsonp',
			url: URL,
			type: "GET",
			success: function (result) {
				if (result && result.features && result.features.length > 0) {
					var listItems = "";
					listItems += "<option value=''>-- Select One --</option>";
					var arr = [];
					if (featureValue != "BlockEnglish") {
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							listItems += "<option value='" + feature[featureValue] + "'>" + feature[featureText] + "</option>";
						}
						$("#" + dropDownId).html(listItems);

						if (featureValue == "OBJECTID") {
							getAddressByPACI(PACINo);
						}
					}else {
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							var obj = { BlockEnglish: feature[featureValue], BlockText: feature[featureText] }
							arr.push(obj);
						}
						var outArr = dedupe(arr, featureValue, featureText);
						for (var i = 0; i < outArr.length; i++) {
							listItems += "<option value='" + outArr[i].BlockEnglish + "'>" + outArr[i].BlockText + "</option>";
						}
						$("#" + dropDownId).html(listItems);
					}
				}
			}
		});
	}

	function dedupe(arr) {
		arr.sort(function (a, b) { return a["BlockEnglish"] - b["BlockEnglish"]; });

		// delete all duplicates from the array
		var newArr = [];
		for (var i = 0; i < arr.length - 1; i++) {
			if (arr[i].BlockEnglish != arr[i + 1].BlockEnglish) {
				newArr.push(arr[i]);
			}
		}
		return newArr;
	}

	function getAddressByPACI(paciNo) {

		var URL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/PACIGeocoder/FeatureServer/0/query?where=civilid+%3D+%27" + paciNo + "%27&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&distance=&units=esriSRUnit_Foot&relationParam=&outFields=*&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=&gdbVersion=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&multipatchOption=&resultOffset=&resultRecordCount=&f=pjson";
		var streetEnglish;
		$.ajax({
			dataType: 'jsonp',
			url: URL,
			type: "GET",
			success: function (result) {
				if (result && result.features && result.features.length > 0) {
					console.log(result.features[0].attributes);
					var govDrop = document.getElementById('GovId');
					govDrop.value = result.features[0].attributes.governorateid;
					var areaDrop = document.getElementById('AreaId');
					areaDrop.value = result.features[0].attributes.neighborhoodid;
					var blockDrop = document.getElementById('BlockId');
					blockDrop.value = Number(result.features[0].attributes.blockenglish);
					var floorDrop = document.getElementById('Floor');
					floorDrop.value = result.features[0].attributes.floor_no;
					var houseDrop = document.getElementById('House_Kasima');
					houseDrop.value = result.features[0].attributes.buildingnameenglish;
					var appartmentNoDrop = document.getElementById('AppartmentNo');
					appartmentNoDrop.value = result.features[0].attributes.unit_no;

					var gov = Number(document.getElementById('GovId').value);
					var area = Number(document.getElementById('AreaId').value);
					var block = document.getElementById('BlockId').value;
					streetEnglish = result.features[0].attributes.streetenglish;

					//var streetURLData = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=%28Gov_no+%3D+" + gov + "+and+Nhood_No+%3D+" + area + "+and+BlockEnglish+%3D+%27" + block + "%27+and+StreetEnglish+%3D+%27+%29&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
					//populateDataFromServer(streetURLData, "StreetId", "OBJECTID", "StreetEnglish");

					var streetURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=%28Gov_no+%3D+" + gov + "+and+Nhood_No+%3D+" + area + "+and+BlockEnglish+%3D+%27" + block + "%27+and+StreetEnglish+%3D+%27" + streetEnglish + "%27+%29&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
					$.ajax({
						dataType: 'jsonp',
						url: streetURL,
						type: "GET",
						success: function (data) {
							if (data && data.features && data.features.length > 0) {
								console.log(data.features[0].attributes);
								//var streetDrop = document.getElementById('StreetId');
								//streetDrop.value = data.features[0].attributes.OBJECTID;
								$("#StreetId").html("<option value='" + data.features[0].attributes.OBJECTID + "'>" + data.features[0].attributes.StreetEnglish + "</option>");
							}
						}
					});

				} else {
					$("#PACIError").show();
				}
			}
		});


	}

	$("#Submit").click(function (e) {
		$("#CustomerNo").css({ border: "1px solid #cccccc" });
		$("#Name").css({ border: "1px solid #cccccc" });
		$("#PhoneOne").css({ border: "1px solid #cccccc" });
		$("#PhoneTwo").css({ border: "1px solid #cccccc" });
		$("#AreaId").css({ border: "1px solid #cccccc" });
		$("#Functional_Location").css({ border: "1px solid #cccccc" });
		$("#OrderNo").css({ border: "1px solid #cccccc" });
		$("#OrderTypeId").css({ border: "1px solid #cccccc" });
		$("#CompanyCodeId").css({ border: "1px solid #cccccc" });
		$("#DivisionId").css({ border: "1px solid #cccccc" });
		$("#ProblemId").css({ border: "1px solid #cccccc" });
		$("#ErrorMSG").text("");

		$("#CustomerNoError").hide();
		$("#nameError").hide();
		$("#phoneOneError").hide();
		$("#phoneTwoError").hide();
		$("#areaError").hide();
		$("#FLError").hide();
		$("#OrderNoError").hide();
		$("#orderTypeError").hide();
		$("#companyError").hide();
		$("#divisionError").hide();
		$("#problemError").hide();
		$("#OrderNoError").hide();
		e.preventDefault();
		var bool = true;
		if ($("#CustomerNo").val() == "") {
			$("#CustomerNo").css({ border: "1px solid #b94a48" });
			$("#CustomerNoError").show();
			var bool = false;
		}
		if ($("#Name").val() == "") {
			$("#Name").css({ border: "1px solid #b94a48" });
			$("#nameError").show();
			var bool = false;
		}
		if ($("#PhoneOne").val() == "") {
			$("#PhoneOne").css({ border: "1px solid #b94a48" });
			$("#phoneOneError").show();
			var bool = false;
		} else if ($("#PhoneOne").val().length != 8) {
			$("#PhoneOne").css({
				border: "1px solid #b94a48"
			});
			$("#phoneOneError").css({
				fontSize: "13px"
			});
			$("#phoneOneError").text("Phone No. is should be 8 numbers. ");
			$("#phoneOneError").show();
		}

		if ($("#PhoneTwo").val().length > 0 && $("#PhoneTwo").val().length != 8) {
			$("#PhoneTwo").css({
				border: "1px solid #b94a48",
				fontSize: "13px"
			});
			$("#phoneTwoError").css({
				fontSize: "13px"
			});
			$("#phoneTwoError").text("Phone No. is should be 8 numbers. ");
			$("#phoneTwoError").show();
		}

		if ($("#AreaId").val() == "") {
			$("#AreaId").css({ border: "1px solid #b94a48" });
			$("#areaError").show();
			bool = false;
		}
		if ($("#Functional_Location").val() == "") {
			$("#Functional_Location").css({ border: "1px solid #b94a48" });
			$("#FLError").show();
			bool = false;
		}
		if ($("#OrderNo").val() == "") {
			$("#OrderNo").css({ border: "1px solid #b94a48" });
			$("#OrderNoError").show();
			bool = false;
		}
		if ($("#OrderTypeId").val() == "") {
			$("#OrderTypeId").css({ border: "1px solid #b94a48" });
			$("#orderTypeError").show();
			bool = false;
		}
		if ($("#CompanyCodeId").val() == "") {
			$("#CompanyCodeId").css({ border: "1px solid #b94a48" });
			$("#companyError").show();
			bool = false;
		}
		if ($("#DivisionId").val() == "") {
			$("#DivisionId").css({ border: "1px solid #b94a48" });
			$("#divisionError").show();
			bool = false;
		}
		if ($("#ProblemId").val() == "") {
			$("#ProblemId").css({ border: "1px solid #b94a48" });
			$("#problemError").show();
			bool = false;
		}
		if (bool == true) {
			var data = {
				CustomerNo: $("#CustomerNo").val(),
				Name: $("#Name").val(),
				PhoneOne: $("#PhoneOne").val(),
				PhoneTwo: $("#PhoneTwo").val(),
				ContractNo: $("#ContractNo").val(),
				ContractTypeId: $("#ContractTypeId").val(),
				CreatedDate: $("#CreatedDate").val() == "" ? null : $("#CreatedDate").val(),
				ExpirationDate: $("#ExpirationDate").val() == "" ? null : $("#ExpirationDate").val(),
				PACI: $("#PACI").val(),
				AreaId: $("#AreaId").val(),
				StreetId: $("#StreetId").val(),
				GovId: $("#GovId").val(),
				BlockId: $("#BlockId").val(),
				Functional_Location: $("#Functional_Location").val(),
				House_Kasima: $("#House_Kasima").val(),
				Floor: $("#Floor").val(),
				AppartmentNo: $("#AppartmentNo").val(),
				AddressNote: $("#AddressNote").val(),
				OrderNo: $("#OrderNo").val(),
				OrderTypeId: $("#OrderTypeId").val(),
				CompanyCodeId: $("#CompanyCodeId").val(),
				DivisionId: $("#DivisionId").val(),
				PriorityId: $("#PriorityId").val(),
				StatusId: $("#StatusId").val(),
				ProblemId: $("#ProblemId").val(),
				Notes_ICAgent: $("#Notes_ICAgent").val()
			}
			console.log(data);
			$.ajax({
				type: "POST",
				dataType: "json",
				contentType: 'application/json; charset=utf-8',
				url: "Dashboard/CreateOrder",
				data: JSON.stringify({ 'OrderData': data }),
				success: function (result) {
                    if (result.IsCreated) {
                        debugger;
						var url = '@Url.Action("Index", "Dashboard")';
						window.location.href = url;
					}
                    else {
                        debugger;
						$("#ErrorMSG").css({ color: "#b94a48" });
						$("#ErrorMSG").text(result.Content)
					}
				}
			});

			return;
		} else {
			$("#ErrorMSG").css({ color: "#b94a48" });
			$("#ErrorMSG").text("Please fill required data");
		}
		return;
	});
</script>
<script>
	function govIsChanged(gov) {
		var areaURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/2/query?where=Gov_no+%3D+" + gov.value + "+&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		populateDataFromServer(areaURL, "AreaId", "Nhood_No", "NeighborhoodEnglish");
	}
	function areaIsChanged(area) {
		var blockURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/1/query?where=Nhood_No+%3D+" + area.value + "&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		populateDataFromServer(blockURL, "BlockId", "BlockEnglish", "BlockEnglish");
	}
	function blockIsChanged(block) {
		var gov = Number(document.getElementById('GovId').value);
		var area = Number(document.getElementById('AreaId').value);
		var block = block.value;
		var streetURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=%28Gov_no+%3D+" + gov + "+and+Nhood_No+%3D+" + area + "+and+BlockEnglish+%3D+%27" + block + "%27+%29&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		populateDataFromServer(streetURL, "StreetId", "OBJECTID", "StreetEnglish");
	}
	//function getGeoData() {
	//	var govURL = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/3/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
	//	var areaURL = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/2/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
	//	var blockURL = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/1/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
	//	var streetURL = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
	//	populateDataFromServer(govURL, "GovId", "Gov_no", "GovernorateEnglish");
	//	populateDataFromServer(areaURL, "AreaId", "Nhood_No", "NeighborhoodEnglish");
	//	populateDataFromServer(blockURL, "BlockId", "BlockEnglish", "BlockEnglish");
	//	populateDataFromServer(streetURL, "StreetId", "OBJECTID", "StreetEnglish");
	//}

	//getGeoData();

	//function populateDataFromServer(URL, dropDownId, featureValue, featureText) {
	//	$.ajax({
	//		dataType: 'jsonp',
	//		url: URL,
	//		type: "GET",
	//		success: function (result) {
	//			if (result && result.features && result.features.length > 0) {
	//				var listItems = "";
	//				listItems += "<option value=''>-- Select One --</option>";
	//				var arr = [];
	//				if (featureValue != "BlockEnglish") {
	//					for (var i = 0; i < result.features.length; i++) {
	//						var feature = result.features[i].attributes;
	//						listItems += "<option value='" + feature[featureValue] + "'>" + feature[featureText] + "</option>";
	//					}
	//					$("#" + dropDownId).html(listItems);
	//				} else {
	//					for (var i = 0; i < result.features.length; i++) {
	//						var feature = result.features[i].attributes;
	//						var obj = { BlockEnglish: feature[featureValue], BlockText: feature[featureText] }
	//						arr.push(obj);
	//					}
	//					var outArr = dedupe(arr, featureValue, featureText);
	//					for (var i = 0; i < outArr.length; i++) {
	//						listItems += "<option value='" + outArr[i].BlockEnglish + "'>" + outArr[i].BlockText + "</option>";
	//					}
	//					$("#" + dropDownId).html(listItems);
	//				}
	//			}
	//		}
	//	});
	//}

	//function dedupe(arr) {
	//	arr.sort(function (a, b) { return a["BlockEnglish"] - b["BlockEnglish"]; });

	//	// delete all duplicates from the array
	//	var newArr = [];
	//	for (var i = 0; i < arr.length - 1; i++) {
	//		if (arr[i].BlockEnglish != arr[i + 1].BlockEnglish) {
	//			newArr.push(arr[i]);
	//		}
	//	}
	//	return newArr;
	//}

	//function getAddressByPACI(paciNo) {
	//	var URL = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/PACIGeocoder/FeatureServer/0/query?where=civilid+%3D+%27" + paciNo + "%27&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&distance=&units=esriSRUnit_Foot&relationParam=&outFields=*&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=&gdbVersion=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&multipatchOption=&resultOffset=&resultRecordCount=&f=pjson";
	//	var streetEnglish;
	//	$.ajax({
	//		dataType: 'jsonp',
	//		url: URL,
	//		type: "GET",
	//		success: function (result) {
	//			if (result && result.features && result.features.length > 0) {
	//				console.log(result.features[0].attributes);
	//				var govDrop = document.getElementById('GovId');
	//				govDrop.value = result.features[0].attributes.governorateid;
	//				var areaDrop = document.getElementById('AreaId');
	//				areaDrop.value = result.features[0].attributes.neighborhoodid;
	//				var blockDrop = document.getElementById('BlockId');
	//				blockDrop.value = Number(result.features[0].attributes.blockenglish);
	//				var floorDrop = document.getElementById('Floor');
	//				floorDrop.value = result.features[0].attributes.floor_no;
	//				var houseDrop = document.getElementById('House_Kasima');
	//				houseDrop.value = result.features[0].attributes.buildingnameenglish;
	//				//var streetDrop = document.getElementById('StreetId');
	//				streetEnglish = result.features[0].attributes.streetenglish;

	//				var gov = Number(document.getElementById('GovId').value);
	//				var area = Number(document.getElementById('AreaId').value);
	//				var block = document.getElementById('BlockId').value;

	//				//var streetURLData = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=%28Gov_no+%3D+" + gov + "+and+Nhood_No+%3D+" + area + "+and+BlockEnglish+%3D+%27" + block + "%27+and+StreetEnglish+%3D+%27+%29&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
	//				//populateDataFromServer(streetURLData, "StreetId", "OBJECTID", "StreetEnglish");

	//				var streetURL = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/MapServer/0/query?where=%28Gov_no+%3D+" + gov + "+and+Nhood_No+%3D+" + area + "+and+BlockEnglish+%3D+%27" + block + "%27+and+StreetEnglish+%3D+%27" + streetEnglish + "%27+%29&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
	//				$.ajax({
	//					dataType: 'jsonp',
	//					url: streetURL,
	//					type: "GET",
	//					success: function (data) {
	//						if (data && data.features && data.features.length > 0) {
	//							console.log(data.features[0].attributes);
	//							var streetDrop = document.getElementById('StreetId');
	//							streetDrop.value = data.features[0].attributes.OBJECTID;
	//						}
	//					}
	//				});

	//			} else {
	//				$("#PACIError").show();
	//			}
	//		}
	//	});


	//}

</script>