﻿@model SmartDispatching.Models.OrderViewModel
<style>
	.form-control {
		display: inline;
		width: 50%;
	}

	label {
		font-weight: normal;
	}

	#exTab3 {
		max-height: 78vh;
		overflow-y: auto;
	}

	.text-danger {
		display: none;
	}
</style>
<div id="exTab3" class="container" style="display:block" onload="preReq();">
	<span class="glyphicon glyphicon-remove" aria-hidden='true' style="position: absolute;right: 20px;top: 10px;cursor: pointer;" onclick="closeOrderEditView();"></span>
	<p><h5><b>Edit order</b></h5></p>
	<div class="row">
		<hr />
		@*<p><h5><b>Customer data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.CustomerNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.CustomerNo, new { htmlAttributes = new { @class = "form-control", type = "number", id = "EditCustomerNo", disabled = true } })
				@Html.ValidationMessageFor(model => model.CustomerNo, "Customer No is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditCustomerNoError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "EditName", disabled = true } })
				@Html.ValidationMessageFor(model => model.Name, "Name is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditnameError" })
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.PhoneOne, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.PhoneOne, new { htmlAttributes = new { @class = "form-control", type = "number", id = "EditPhoneOne", disabled = true } })
				@Html.ValidationMessageFor(model => model.PhoneOne, "Phone No. is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditphoneOneError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.PhoneTwo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.PhoneTwo, new { htmlAttributes = new { @class = "form-control", type = "number", id = "EditPhoneTwo" } })
				@Html.ValidationMessageFor(model => model.PhoneTwo, "", new { @class = "text-danger col-md-offset-6", id = "EditphoneTwoError" })
			</div>
		</div>
	</div>

	<div class="row">
		<hr />
		@*<p><h5><b>Contract data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.ContractNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.ContractNo, new { htmlAttributes = new { @class = "form-control", type = "number", id = "EditContractNo", disabled = true } })
				@Html.ValidationMessageFor(model => model.ContractNo, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ContractTypeId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.ContractTypeId, null, "-- Select One --", new { @class = "form-control", id = "EditContractTypeId", @style = "pointer-events: none;" })
				@Html.ValidationMessageFor(model => model.ContractTypeId, "", new { @class = "text-danger col-md-offset-6" })
			</div>

		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.CreatedDateString, new { htmlAttributes = new { @class = "form-control", id = "EditCreatedDate", disabled = true } })
				@Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.ExpirationDateString, new { htmlAttributes = new { @class = "form-control", id = "EditExpirationDate", disabled = true } })
				@Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
	</div>


	<div class="row">
		<hr />
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.SAPPACI, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPPACI, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.SAPGov, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPGov, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.SAPArea, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPArea, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.SAPBlock, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPBlock, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.SAPStreet, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPStreet, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.SAPBuilding, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPBuilding, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.SAPFloor, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPFloor, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.SAPAppartment, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.SAPAppartment, new { htmlAttributes = new { @class = "form-control", disabled = true } })
			</div>


		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.PACI, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.PACI, new { htmlAttributes = new { @class = "form-control", @type = "number", id = "EditPACI" } })
				@Html.ValidationMessageFor(model => model.PACI, "Invalid PACI No.", new { @class = "text-danger col-md-offset-6", id = "EditPACIError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.GovId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.GovId, null, "-- select one --", new { @class = "form-control", id = "EditGovId", onchange = "govIsChanged(this)" })
				@Html.ValidationMessageFor(model => model.GovId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.AreaId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownList("AreaId", null, htmlAttributes: new { @class = "form-control", id = "EditAreaId", onchange = "areaIsChanged(this)" })
				@*@Html.DropDownListFor(x => x.AreaId, null, "-- select one --", new { @class = "form-control", id = "EditAreaId", onchange = "areaIsChanged(this)" })*@
				@Html.ValidationMessageFor(model => model.AreaId, "Area is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditareaError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.BlockId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownList("BlockId", null, htmlAttributes: new { @class = "form-control", id = "EditBlockId", onchange = "blockIsChanged(this)" })
				@*@Html.DropDownListFor(x => x.BlockId, null, "-- select one --", new { @class = "form-control", id = "EditBlockId", onchange = "blockIsChanged(this)" })*@
				@Html.ValidationMessageFor(model => model.BlockId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.StreetId, htmlAttributes: new { @class = "control-label col-md-6" })
				@*@Html.DropDownListFor(x => x.StreetId, null, "-- select one --", new { @class = "form-control", id = "EditStreetId" })*@
				@Html.DropDownList("StreetId", null, htmlAttributes:  new { @class = "form-control", id = "EditStreetId" })
				@Html.ValidationMessageFor(model => model.StreetId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.House_Kasima, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.House_Kasima, new { htmlAttributes = new { @class = "form-control", id = "EditHouse_Kasima" } })
				@Html.ValidationMessageFor(model => model.House_Kasima, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Floor, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.Floor, new { htmlAttributes = new { @class = "form-control", id = "EditFloor" } })
				@Html.ValidationMessageFor(model => model.Floor, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.AppartmentNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.AppartmentNo, new { htmlAttributes = new { @class = "form-control", id = "EditAppartmentNo" } })
				@Html.ValidationMessageFor(model => model.AppartmentNo, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
	</div>


	<div class="row">
		<hr />
		@*<p><h5><b>Address data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.Functional_Location, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.Functional_Location, new { htmlAttributes = new { @class = "form-control", id = "EditFunctional_Location", disabled = true } })
				@Html.ValidationMessageFor(model => model.Functional_Location, "Functional location is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none;font-size:13px", id = "EditFLError" })
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.AddressNote, htmlAttributes: new { @class = "control-label col-md-6" })
				@*@Html.EditorFor(model => model.AddressNote, new { htmlAttributes = new { @class = "form-control", id = "EditAddressNote" } })*@
				@Html.TextAreaFor(model => model.AddressNote, new { @class = "form-control", @cols = 35, @rows = 3, id = "EditAddressNote" })
				@Html.ValidationMessageFor(model => model.AddressNote, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
	</div>
	<div class="row">
		<hr />
		@*<p><h5><b>Order data</b></h5></p>*@
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control", type = "number", id = "EditOrderNo", disabled = true } })
				@Html.ValidationMessageFor(model => model.OrderNo, "Order No is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditOrderNoError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.EditOrderTypeId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.EditOrderTypeId, null, "-- Select One --", new { @class = "form-control", id = "EditOrderTypeId" })
				@Html.ValidationMessageFor(model => model.EditOrderTypeId, "Order type is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditorderTypeError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.CompanyCodeId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.CompanyCodeId, null, "-- Select One --", new { @class = "form-control", id = "EditCompanyCodeId", @style = "pointer-events: none;" })
				@Html.ValidationMessageFor(model => model.CompanyCodeId, "Company code is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditcompanyError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.DivisionId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.DivisionId, null, "-- Select One --", new { @class = "form-control", id = "EditDivisionId", @style = "pointer-events: none;" })
				@Html.ValidationMessageFor(model => model.DivisionId, "Division is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditdivisionError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Notes_Dispatcher, htmlAttributes: new { @class = "control-label col-md-6" })
				@*@Html.EditorFor(model => model.Notes_Dispatcher, new { htmlAttributes = new { @class = "form-control", id = "EditNotes_Dispatcher" } })*@
				@Html.TextAreaFor(model => model.Notes_Dispatcher, new { @class = "form-control", @cols = 35, @rows = 3, id = "EditNotes_Dispatcher" })
				@Html.ValidationMessageFor(model => model.Notes_Dispatcher, "Cancellation reason is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditNotes_DispatcherError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.StringCreatedDate, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.EditorFor(model => model.StringCreatedDate, new { htmlAttributes = new { @class = "form-control", id = "EditCreatedDate", disabled = true } })
				@*@Html.ValidationMessageFor(model => model.CreatedDate, "Cancellation reason is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditCreatedDate" })*@
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.PriorityId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.PriorityId, null, "-- Select One --", new { @class = "form-control", id = "EditPriorityId" })
				@Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.StatusId, null, "-- Select One --", new { @class = "form-control", id = "EditStatusId", onchange = "statusChanged(this)", @style = "pointer-events: none;" })
				@Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger col-md-offset-6" })
			</div>
			<div class="form-group" style="display:none;" id="cancellationContainer">
				@Html.LabelFor(model => model.Cancellation_Reason, htmlAttributes: new { @class = "control-label col-md-6" })
				@*				@Html.TextAreaFor(model => model.Cancellation_Reason, new { @class = "form-control", @cols = 35, @rows = 3, id = "EditCancellation_Reason" })*@
				@Html.DropDownListFor(x => x.Cancellation_Reason, (IEnumerable<SelectListItem>)ViewBag.CancellationReason, "-- Select One --", new { @class = "form-control", id = "EditCancellation_Reason" })
				@Html.ValidationMessageFor(model => model.Cancellation_Reason, "Cancellation reason is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditCancellation_ReasonError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ProblemId, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.DropDownListFor(x => x.ProblemId, null, "-- Select One --", new { @class = "form-control", id = "EditProblemId" })
				@Html.ValidationMessageFor(model => model.ProblemId, "Problem is required.", new { @class = "text-danger col-md-offset-6", @style = "display:none", id = "EditproblemError" })
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Notes_ICAgent, htmlAttributes: new { @class = "control-label col-md-6" })
				@Html.TextAreaFor(model => model.Notes_ICAgent, new { @class = "form-control", @cols = 35, @rows = 6, id = "EditNotes_ICAgent", disabled = true })
				@*@Html.EditorFor(model => model.Notes_ICAgent, new { htmlAttributes = new { @class = "form-control", id = "EditNotes_ICAgent", @style = "pointer-events: none;" } })*@
				@Html.ValidationMessageFor(model => model.Notes_ICAgent, "", new { @class = "text-danger col-md-offset-6" })
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-6 col-md-offset-5">
			<button class="btn btn-primary" id="SubmitEdit">Submit</button>
			<span id="EditErrorMSG"></span>
		</div>
	</div>
</div>

<script type="text/javascript">
	var ID = @Html.Raw(Json.Encode( ViewBag.OrderId));
	var gov = @Html.Raw(Json.Encode( ViewBag.GovName));
	var area = @Html.Raw(Json.Encode( ViewBag.AreaDescription));
	var areaOriginalID = @Html.Raw(Json.Encode( ViewBag.AreaDescriptionId));
	var block = @Html.Raw(Json.Encode( ViewBag.BlockName));
	var street = @Html.Raw(Json.Encode( ViewBag.StreetName));
	var isLocation = @Html.Raw(Json.Encode(ViewBag.isLocation));

	//if (gov) {
	//	$("#EditGovId").html("<option value='" +gov + "'>" +gov + "</option>");
	//}
	//if (area) {
	//	$("#EditAreaId").html("<option value='" +areaOriginalID + "'>" +area + "</option>");
	//}
	//if (block) {
	//	$("#EditBlockId").html("<option value='" +block+ "'>" +block + "</option>");
	//}
	//if (street) {
	//	$("#EditStreetId").html("<option value='" +street + "'>" +street + "</option>");
	//}


	$('#EditPACI').on('keyup', function () {
		$("#EditPACIError").hide();
		$("#EditPACIError").html("Invalid PACI No.");
		if ($(this).val().length == 8) {
			getGeoData_PACI($(this).val());
		} else if ($(this).val().length > 8) {
			$("#EditPACIError").html("PACI No. must be 8 numbers!");
			$("#EditPACIError").show();
		}
	});

	function serverAuth(callback) {
		L.esri.post('https://kuwaitportal.paci.gov.kw/arcgis/tokens/generateToken', {
			username: 'AMANAHUser',
			password: 'Amanah@1',
			f: 'jsonp',
			expiration: 86400,
			client: 'referer',
			referer: window.location.origin
		}, callback);
	}

	function statusChanged(elem){
		if ($("#EditStatusId").val() == "5") {
			$("#cancellationContainer").css({display:"block"});
		}else{
			$("#cancellationContainer").css({display:"none"});
		}
	}

	//function getAddressByPACI(paciNo) {
	//	var URL = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/PACIGeocoder/FeatureServer/0/query?where=civilid+%3D+%27" + paciNo + "%27&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&distance=&units=esriSRUnit_Foot&relationParam=&outFields=*&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=&gdbVersion=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&multipatchOption=&resultOffset=&resultRecordCount=&f=pjson";
	//	$.ajax({
	//		dataType: 'jsonp',
	//		url: URL ,
	//		type: "GET",
	//		success: function (result) {
	//			console.log(result.features[0].attributes);
	//			var govDrop = document.getElementById('EditGovId');
	//			govDrop.value = result.features[0].attributes.governorateid;
	//			var areaDrop = document.getElementById('EditAreaId');
	//			areaDrop.value = result.features[0].attributes.neighborhoodid;
	//			var blockDrop = document.getElementById('EditBlockId');
	//			blockDrop.value = result.features[0].attributes.blockenglish;
	//			var floorDrop = document.getElementById('EditFloor');
	//			blockDrop.value = result.features[0].attributes.floor_no;
	//			var floorDrop = document.getElementById('EditHouse_Kasima');
	//			blockDrop.value = result.features[0].attributes.streetenglish;
	//			//var govId = result.features[0].attributes.governorateid;
	//			//$("#GovId").val() = govId;
	//		}
	//	});
	//}

	function populateDataFromServer_PACI(URL, dropDownId, featureValue, featureText,PACINo) {
		$.ajax({
			dataType: 'jsonp',
			url: URL,
			type: "GET",
			success: function (result) {
				if (result && result.features && result.features.length > 0) {
					var listItems = "";
					listItems += "<option value=''>-- Select One --</option>";
					var arr = [];
					// Govs & Area
					if (featureValue != "BlockEnglish") {
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							listItems += "<option value='" + feature[featureValue] + "'>" + feature[featureText] + "</option>";
						}
						$("#" + dropDownId).html(listItems);

						// street
						if (featureValue == "OBJECTID") {
							getAddressByPACI(PACINo);
						}
					} else {
						// block
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							var obj = { BlockEnglish: feature[featureValue], BlockText: feature[featureText] }
							arr.push(obj);
						}
						var outArr = dedupe(arr, featureValue, featureText);
						for (var i = 0; i < outArr.length; i++) {
							listItems += "<option value='" + outArr[i].BlockEnglish + "'>" + outArr[i].BlockText + "</option>";
						}
						$("#" + dropDownId).html(listItems);
					}
				}
			}
		});
	}

	function getGeoData_PACI(PACINo) {
		var govURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/3/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var areaURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/2/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var blockURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/1/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		var streetURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/0/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		populateDataFromServer_PACI(govURL, "EditGovId", "Gov_no", "GovernorateEnglish", null);
		getAddressByPACI(PACINo);
		//populateDataFromServer_PACI(areaURL, "EditAreaId", "Nhood_No", "NeighborhoodEnglish",null);
		//populateDataFromServer_PACI(blockURL, "EditBlockId", "BlockEnglish", "BlockEnglish",null);
		//populateDataFromServer_PACI(streetURL, "EditStreetId", "OBJECTID", "StreetEnglish",PACINo);
	}

	//function dedupe(arr) {
	//	arr.sort(function (a, b) { return a["BlockEnglish"] - b["BlockEnglish"]; });

	//	// delete all duplicates from the array
	//	var newArr = [];
	//	for (var i = 0; i < arr.length - 1; i++) {
	//		if (arr[i].BlockEnglish != arr[i + 1].BlockEnglish) {
	//			newArr.push(arr[i]);
	//		}
	//	}
	//	return newArr;
	//}

	function dedupe(arr,x,y) {
		return arr.reduce(function (p, c) {

			// create an identifying id from the object values
			var id = [c[x], c[y]].join('|');

			// if the id is not found in the temp array
			// add the object to the output array
			// and add the key to the temp array
			if (p.temp.indexOf(id) === -1) {
				p.out.push(c);
				p.temp.push(id);
			}
			return p;

			// return the deduped array
		}, { temp: [], out: [] }).out;
	}

	var accurateLocation = {
		long: "",
		lat: ""
	};

	function getAddressByPACI(paciNo) {
		var URL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/PACIGeocoder/FeatureServer/0/query?where=civilid+%3D+%27" + paciNo + "%27&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&distance=&units=esriSRUnit_Foot&relationParam=&outFields=*&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=&gdbVersion=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&multipatchOption=&resultOffset=&resultRecordCount=&f=pjson";
		var streetEnglish;
		$.ajax({
			dataType: 'jsonp',
			url: URL,
			type: "GET",
			success: function (result) {
				if (result && result.features && result.features.length > 0) {
					console.log("StreetData",result.features[0].attributes);
					var outResult = result.features[0].attributes;
					//$("#EditGovId").html("<option value='" + result.features[0].attributes.governorateid + "'>" + result.features[0].attributes.governorateenglish + "</option>");
					$("#EditAreaId").html("<option value='" + result.features[0].attributes.neighborhoodid + "'>" + result.features[0].attributes.neighborhoodenglish + "</option>");
					var govDrop = document.getElementById('EditGovId');
					govDrop.value = result.features[0].attributes.governorateid;
					//var areaDrop = document.getElementById('EditAreaId');
					//areaDrop.value = result.features[0].attributes.neighborhoodid;
					//var blockDrop = document.getElementById('EditBlockId');
					//blockDrop.value = Number(result.features[0].attributes.blockenglish);
					var floorDrop = document.getElementById('EditFloor');
					floorDrop.value = result.features[0].attributes.floor_no;
					var houseDrop = document.getElementById('EditHouse_Kasima');
					houseDrop.value = result.features[0].attributes.buildingnameenglish;
					var appartmentNoDrop = document.getElementById('EditAppartmentNo');
					appartmentNoDrop.value = result.features[0].attributes.unit_no;
					accurateLocation.lat = result.features[0].attributes.lat;
					accurateLocation.long = result.features[0].attributes.lon;


					var gov = Number(document.getElementById('EditGovId').value);
					var area = Number(document.getElementById('EditAreaId').value);
					var block = document.getElementById('EditBlockId').value;
					streetEnglish = result.features[0].attributes.streetenglish;

					//var streetURLData = "/SmartDispatching/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/0/query?where=%28Gov_no+%3D+" + gov + "+and+Nhood_No+%3D+" + area + "+and+BlockEnglish+%3D+%27" + block + "%27+and+StreetEnglish+%3D+%27+%29&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
					//populateDataFromServer(streetURLData, "StreetId", "OBJECTID", "StreetEnglish");

					var streetURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/0/query?where=StreetEnglish+%3D+%27" + outResult.streetenglish + "%27+and+BlockEnglish+%3D+%27" + outResult.blockenglish + "%27&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=true&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&queryByDistance=&returnExtentsOnly=false&datumTransformation=&parameterValues=&rangeValues=&f=pjson";
					var blockURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/1/query?where=BlockEnglish+%3D+%27" + outResult.blockenglish + "%27+and+NeighborhoodEnglish+%3D+%27" + outResult.neighborhoodenglish + "%27&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=true&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&queryByDistance=&returnExtentsOnly=false&datumTransformation=&parameterValues=&rangeValues=&f=pjson";

					$.ajax({
						dataType: 'jsonp',
						url: streetURL,
						type: "GET",
						success: function (data) {
							if (data && data.features && data.features.length > 0) {
								console.log(data.features[0].attributes);
								$("#EditStreetId").html("<option value='" + data.features[0].attributes.OBJECTID + "'>" + data.features[0].attributes.StreetEnglish + "</option>");
								//var streetDrop = document.getElementById('StreetId');
								//streetDrop.value = data.features[0].attributes.OBJECTID;
								//$("#EditStreetId").html("<option value='" + data.features[0].attributes.OBJECTID + "'>" + data.features[0].attributes.StreetEnglish + "</option>");
							}
						}
					});
					debugger;
					$.ajax({
						dataType: 'jsonp',
						url: blockURL,
						type: "GET",
						success: function (data) {
							if (data && data.features && data.features.length > 0) {
								console.log(data.features[0].attributes);
								$("#EditBlockId").html("<option value='" + data.features[0].attributes.BlockEnglish + "'>" + data.features[0].attributes.BlockEnglish + "</option>");
								//var streetDrop = document.getElementById('StreetId');
								//streetDrop.value = data.features[0].attributes.OBJECTID;
								//$("#EditStreetId").html("<option value='" + data.features[0].attributes.OBJECTID + "'>" + data.features[0].attributes.StreetEnglish + "</option>");
							}
						}
					});

				} else {
					$("#EditPACIError").show();
				}
			}
		});
	}

	$("#SubmitEdit").click(function (e) {
		$("#EditCustomerNo").css({ border: "1px solid #cccccc" });
		$("#EditName").css({ border: "1px solid #cccccc" });
		$("#EditPhoneOne").css({ border: "1px solid #cccccc" });
		$("#EditPhoneTwo").css({ border: "1px solid #cccccc" });
		$("#EditAreaId").css({ border: "1px solid #cccccc" });
		//$("#EditFunctional_Location").css({ border: "1px solid #cccccc" });
		$("#EditOrderNo").css({ border: "1px solid #cccccc" });
		$("#EditOrderTypeId").css({ border: "1px solid #cccccc" });
		$("#EditCompanyCodeId").css({ border: "1px solid #cccccc" });
		$("#EditDivisionId").css({ border: "1px solid #cccccc" });
		$("#EditProblemId").css({ border: "1px solid #cccccc" });
		$("#EditCancellation_Reason").css({ border: "1px solid #cccccc" });
		$("#EditErrorMSG").text("");

		$("#EditCustomerNoError").hide();
		$("#EditnameError").hide();
		$("#EditphoneOneError").hide();
		$("#EditphoneTwoError").hide();
		$("#EditareaError").hide();
		$("#EditFLError").hide();
		$("#EditOrderNoError").hide();
		$("#EditorderTypeError").hide();
		$("#EditcompanyError").hide();
		$("#EditdivisionError").hide();
		$("#EditproblemError").hide();
		$("#EditOrderNoError").hide();
		$("#EditOrderNoError").hide();
		$("#EditCancellation_ReasonError").hide();

		e.preventDefault();
		var bool = true;
		if ($("#EditCustomerNo").val() == "") {
			$("#EditCustomerNo").css({ border: "1px solid #b94a48" });
			$("#EditCustomerNoError").show();
			var bool = false;
		}
		if ($("#EditName").val() == "") {
			$("#EditName").css({ border: "1px solid #b94a48" });
			$("#EditnameError").show();
			var bool = false;
		}
		//if ($("#EditPhoneOne").val() == "") {
		//	$("#EditPhoneOne").css({ border: "1px solid #b94a48" });
		//	$("#EditphoneOneError").show();
		//	var bool = false;
		//} else if ($("#EditPhoneOne").val().length != 8) {
		//	$("#EditPhoneOne").css({
		//		border: "1px solid #b94a48"
		//	});
		//	$("#EditphoneOneError").css({
		//		fontSize: "13px"
		//	});
		//	$("#EditphoneOneError").text("Phone No. is should be 8 numbers. ");
		//	$("#EditphoneOneError").show();
		//}

		//if ($("#EditPhoneTwo").val().length > 0 && $("#EditPhoneTwo").val().length != 8) {
		//	$("#EditPhoneTwo").css({
		//		border: "1px solid #b94a48",
		//		fontSize: "13px"
		//	});
		//	$("#EditphoneTwoError").css({
		//		fontSize: "13px"
		//	});
		//	$("#EditphoneTwoError").text("Phone No. is should be 8 numbers. ");
		//	$("#EditphoneTwoError").show();
		//}

		if ($("#EditAreaId").val() == "") {
			$("#EditAreaId").css({ border: "1px solid #b94a48" });
			$("#EditareaError").show();
			bool = false;
		}
		//if ($("#EditFunctional_Location").val() == "") {
		//	$("#EditFunctional_Location").css({ border: "1px solid #b94a48" });
		//	$("#EditFLError").show();
		//	bool = false;
		//}
		if ($("#EditOrderNo").val() == "") {
			$("#EditOrderNo").css({ border: "1px solid #b94a48" });
			$("#EditOrderNoError").show();
			bool = false;
		}
		if ($("#EditOrderTypeId").val() == "") {
			$("#EditOrderTypeId").css({ border: "1px solid #b94a48" });
			$("#EditorderTypeError").show();
			bool = false;
		}
		if ($("#EditCompanyCodeId").val() == "") {
			$("#EditCompanyCodeId").css({ border: "1px solid #b94a48" });
			$("#EditcompanyError").show();
			bool = false;
		}
		if ($("#EditDivisionId").val() == "") {
			$("#EditDivisionId").css({ border: "1px solid #b94a48" });
			$("#EditdivisionError").show();
			bool = false;
		}
		if ($("#EditProblemId").val() == "") {
			$("#EditProblemId").css({ border: "1px solid #b94a48" });
			$("#EditproblemError").show();
			bool = false;
		}

		if ( $("#EditStatusId").val() == "5" && $("#EditCancellation_Reason").val() == ""){
			$("#EditCancellation_ReasonError").css({ border: "1px solid #b94a48" });
			$("#EditCancellation_ReasonError").show();
			bool = false;
		}

		if (bool == true) {
			var govText = "";
			if ($('#EditGovId > option[value!=""]').length != 0) {
				var govObj = document.getElementById("EditGovId");
				govText = govObj.options[govObj.selectedIndex].text;
			}
			var areaText = "";
			if ($('#EditAreaId > option[value!=""]').length != 0) {
				var areaObj = document.getElementById("EditAreaId");
				areaText = areaObj.options[areaObj.selectedIndex].text;
			}

			var blockText = "";
			if ($('#EditBlockId > option[value!=""]').length != 0) {
				var blockObj = document.getElementById("EditBlockId");
				blockText = blockObj.options[blockObj.selectedIndex].text;
			}

			var streetValue = "";
			if ($('#EditStreetId > option[value!=""]').length != 0) {
				var streetObj = document.getElementById("EditStreetId");
				var streetText = streetObj.options[streetObj.selectedIndex].text;
				streetValue = streetObj.options[streetObj.selectedIndex].value;
			}
			var transferLocation = {};

			if (isLocation == false) {
				if ($("#EditPACI").val() != "") {
					transferLocation = accurateLocation;
				} else if ($("#EditStreetId").val() != "") {
					transferLocation = streetLocations[streetValue];
				} else if ($("#EditBlockId").val() != "") {
					transferLocation = blockLocations[blockText];
				} else if ($("#EditAreaId").val() != "") {

				} else if ($("#EditGovId").val() != "") {

				}
			}

			var data = {
				CustomerNo: $("#EditCustomerNo").val(),
				Name: $("#EditName").val(),
				PhoneOne: $("#EditPhoneOne").val(),
				PhoneTwo: $("#EditPhoneTwo").val(),
				ContractNo: $("#EditContractNo").val(),
				ContractTypeId: $("#EditContractTypeId").val(),
				CreatedDate: $("#EditCreatedDate").val() == "" ? null : $("#EditCreatedDate").val(),
				ExpirationDate: $("#EditExpirationDate").val() == "" ? null : $("#EditExpirationDate").val(),
				PACI: $("#EditPACI").val(),
				AreaId: $("#EditAreaId").val(),
				AreaDescription : areaText,
				StreetId: $("#EditStreetId").val(),
				StreetName:streetText,
				GovId: $("#EditGovId").val(),
				GovName: govText,
				BlockId: $("#EditBlockId").val(),
				BlockName:blockText,
				Functional_Location: $("#EditFunctional_Location").val(),
				House_Kasima: $("#EditHouse_Kasima").val(),
				Floor: $("#EditFloor").val(),
				AppartmentNo: $("#EditAppartmentNo").val(),
				AddressNote: $("#EditAddressNote").val(),
				OrderNo: $("#EditOrderNo").val(),
				OrderTypeId: $("#EditOrderTypeId").val(),
				CompanyCodeId: $("#EditCompanyCodeId").val(),
				DivisionId: $("#EditDivisionId").val(),
				PriorityId: $("#EditPriorityId").val(),
				StatusId: $("#EditStatusId").val(),
				ProblemId: $("#EditProblemId").val(),
				Notes_ICAgent: $("#EditNotes_ICAgent").val(),
				Cancellation_Reason: $("#EditCancellation_Reason").val(),
				Notes_Dispatcher:$("#EditNotes_Dispatcher").val()
			}

			if (isLocation == false) {
				if (transferLocation) {
					data.Long = transferLocation.long;
					data.Lat = transferLocation.lat;
				} else {
					data.Long = 0;
					data.Lat =0;
				}
			} else {
					data.Long = 0;
					data.Lat = 0;
			}
			console.log(data);
			$.ajax({
				type: "POST",
				dataType: "json",
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/ConfirmEditOrder",
				data: JSON.stringify({ 'OrderData': data }),
				success: function (result) {
					if (result.IsCreated) {
						$("#OrderEditView").css({
							display: "none"
						});
						$("#OrderCreationView").css({
							display: "none"
						});
						$("#BoardView").css({
							display: "block"
						});
						AssignedOrders();
						getUnAssignAjax();
					}
					else {
						$("#ErrorMSG").css({ color: "#b94a48" });
						$("#ErrorMSG").text(result.Content)
					}
				}
			});

			return;
		} else {
			$("#ErrorMSG").css({ color: "#b94a48" });
			$("#ErrorMSG").text("Please fill required data");
		}
		return;
	});
</script>
<script>
	var blockLocations = {};
	var streetLocations = {};
	function populateDataFromServer(URL, dropDownId, featureValue, featureText) {
		$.ajax({
			dataType: 'jsonp',
			url: URL,
			type: "GET",
			success: function (result) {
				if (result && result.features && result.features.length > 0) {
					var listItems = "";
					listItems += "<option value=''>-- Select One --</option>";
					var arr = [];
					if (featureValue == "Nhood_No") {
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							var title = feature[featureValue];
							blockLocations[title] = {
								long: result.features[i].attributes.CENTROID_X,
								lat: result.features[i].attributes.CENTROID_Y
							};
							listItems += "<option value='" + feature[featureValue] + "'>" + feature[featureText] + "</option>";
						}
						console.log(blockLocations);
						$("#" + dropDownId).html(listItems);
					} else if (featureValue == "BlockEnglish") {
						console.log(result.features);
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							var obj = { BlockEnglish: feature[featureValue], BlockText: feature[featureText] }
							arr.push(obj);
						}
						var outArr = dedupe(arr, featureValue, featureText);
						for (var i = 0; i < outArr.length; i++) {
							var title = feature[featureValue];
							blockLocations[title] = {
								long: result.features[i].attributes.CENTROID_X,
								lat: result.features[i].attributes.CENTROID_Y
							};
							listItems += "<option value='" + outArr[i].BlockEnglish + "'>" + outArr[i].BlockText + "</option>";
						}
						console.log(blockLocations);
						$("#" + dropDownId).html(listItems);
					} else if (featureValue == "OBJECTID") {
						for (var i = 0; i < result.features.length; i++) {
							var feature = result.features[i].attributes;
							var title = feature[featureValue];
							streetLocations[title] = {
								long: result.features[i].attributes.CENTROID_X,
								lat: result.features[i].attributes.CENTROID_Y
							};
							listItems += "<option value='" + feature[featureValue] + "'>" + feature[featureText] + "</option>";
						}
						$("#" + dropDownId).html(listItems);

					}
				} else {
					listItems += "<option value='999999999'>Not Found In PACI</option>";
					$("#" + dropDownId).html(listItems);
				}
			},
			error: function (err) {
				alert("error");
				console.log(err);
			}
		});
	}
	function govIsChanged(gov) {
		console.log(gov.value);
		var areaURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/2/query?where=Gov_no+%3D+" + gov.value + "+&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		$("#EditAreaId").html("");
		populateDataFromServer(areaURL, "EditAreaId", "Nhood_No", "NeighborhoodEnglish");
	}
	function areaIsChanged(area) {
		var blockURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/1/query?where=Nhood_No+%3D+" + area.value + "&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		$("#EditBlockId").html("");
		populateDataFromServer(blockURL, "EditBlockId", "BlockEnglish", "BlockEnglish");
	}
	function blockIsChanged(block) {
		debugger;
		var gov = Number(document.getElementById('EditGovId').value);
		var area = Number(document.getElementById('EditAreaId').value);
		var block = $("#EditBlockId option:selected").text();
		var streetURL = ENUMS.BaseURL + "proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/AddressSearch/MapServer/0/query?where=%28Gov_no+%3D+" + gov + "+and+Nhood_No+%3D+" + area + "+and+BlockEnglish+%3D+%27" + block + "%27+%29&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=false&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&f=pjson";
		console.log(gov);
		console.log(area);
		console.log(block);
		$("#EditStreetId").html("");
		populateDataFromServer(streetURL, "EditStreetId", "OBJECTID", "StreetEnglish");
	}
</script>
