﻿@model SmartDispatching.Models.PrintOutViewModel
<style>
</style>

<div class="col-md-12">
	<h4>Print Out:</h4><i class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top: -8px; cursor:pointer" onclick="closePrintOut();"></i>
	<hr />
	<div class="col-md-12">
		<div class="col-md-6">
			<div class="form-group">
				<label for="formansCheck"><b>Select Foremans: </b></label>
				<br />
				<div style="max-height: 55vh;overflow-y:auto" id="formansCheck">
					@foreach (var item in Model.Formans)
					{
						<input type="checkbox" name="formanPrint" value="@item.Id" onclick="formanChange(this);">@item.Name
						<div class="form-group" id="@item.Id+_print" style="display:none;margin-left: 60px">
							<br />
							<label for="techsSelection" class="col-lg-6 control-label" style="font-weight: 600;">Select Technicians:</label>
							<br />
							<br />
							<div class="col-lg-12">
								@foreach (var tech in Model.Technicians)
								{
									if (tech.FormanId == item.Id)
									{
										<input type="checkbox" name="@item.Id+_tech" value="@tech.Id">@tech.Name
										<br />
									}
								}
							</div>
						</div>

						<br />
					}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="StatusesCheck">Status:</label>
				<div style="max-height: 250px;overflow-y:auto" id="StatusesCheck">
					@foreach (var item in Model.Statuses)
					{
						<input type="checkbox" class="statusValues" name="statusPrint" value="@item.Id">@item.Name
						<br />
					}
				</div>
			</div>
		</div>
		<hr />
	</div>
	<div  class="col-md-12" style="position:fixed;bottom:12vh;">
		<button type="button" class="btn btn-primary" style="width:110px" onclick="prePrint();">Print</button>&nbsp; &nbsp; <input type="checkbox" class="unAssign" name="unAssign" value="unAssign">Include Unassigned Orders&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="inProgress" name="inProgress" value="inProgress">Include Inprogress Unassigned Orders @*&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Order No. :&nbsp;&nbsp;<input type="text" id="orderId" class="form-control">*@
	</div>
</div>

<script type="text/javascript">

	function formanChange(forman) {
		var formanID = forman.value;
		var techsID = (formanID + "+_print").toString();
		if (document.getElementById(techsID).style.display == "block") {
			document.getElementById(techsID).style.display = "none";
		} else {
			document.getElementById(techsID).style.display = "block";
		}
	}

	function checkEmptyOrUndefined(text) {
		return (text != null || text != undefined) ? text : "--";
	}

	function prePrint() {
		var statusIds = [];
		$("input[name=statusPrint]:checked").each(function () {
			statusIds.push(Number($(this).val()));
		});

		var formanIds = [];
		$("input[name=formanPrint]:checked").each(function () {
			formanIds.push(Number($(this).val()));
		});

		var techIds = [];
		for (var i = 0; i < formanIds.length; i++) {
			var name = formanIds[i] + "+_tech";
			var inputElements = document.getElementsByName(name);
			var techObject = {
				formanId: formanIds[i],
				techIds: []
			}
			for (var j = 0; j < inputElements.length; j++) {
				if (inputElements[j].checked) {
					techObject.techIds.push(Number(inputElements[j].value));
				}
			}
			techIds.push(techObject);
		}
		console.log(techIds);

		var includeUnassign = false;
		$("input[name=unAssign]:checked").each(function () {
			if ($(this).val()) {
				includeUnassign = true;
			}
		});
		var includeInprogress = false;
		$("input[name=inProgress]:checked").each(function () {
			if ($(this).val()) {
				includeInprogress = true;
			}
		});

		var orderId = null;
		if ($("#orderId").val() != "") {
			orderId = $("#orderId").val();
		}

		var prams = JSON.stringify({ 'statusIds': statusIds, 'formanIds': formanIds, 'techIds': techIds, 'includeUnassign': includeUnassign, 'includeInprogress': includeInprogress, 'orderNo': orderId });

		console.log(prams);

		newWindow = window.open("", "Work Order Print out", "width=400px,height=600px");

		$.ajax({
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			type: "POST",
			url: ENUMS.BaseURL + "Dashboard/GetOrdersPrintOut",
			data: prams,
			success: function (result) {
				if (result) {
					var data = JSON.parse(result);
					PrintElem(data, newWindow);
				}
			},
			error: function (err) {
				console.log(err);
			}
		});
	}

	function PrintElem(data, mywindow) {
		var contentOut = "";
		console.log("print", data);
		for (var t = 0; t < data.length; t++) {
			 //
			if (t != 0 && (data[t].FormanName != data[t - 1].FormanName || data[t].AssigendTechnician != data[t - 1].AssigendTechnician)) {
				contentOut += "<div class='Order'  class='page-break'  style='page-break-before:always'>";
			} else {
				if (t != 0 && data[t].Area != data[t - 1].Area) {
					contentOut += "<div class='Order'  class='page-break'  style='page-break-before:always'>";
				} else {
					contentOut += "<div class='Order'  style='page-break-inside:avoid !important;'>";
				}
			}
			contentOut += "<div  id='" + data[t].OrderId + "' style='width:650px;border:1px solid black;text-align: center;max-height:300px;padding - top:15px'>";
			contentOut += "<div style=''>" +
				"<table style='width:100%'><tr><th></th> <th></th></tr>" +
				" <tr> <td style='font-weight:600' >Customer Name : </td><td style='white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:100px'>" + checkEmptyOrUndefined(data[t].CustomerName) + "</td><td style='font-weight:600'>Order No.   </td><td>" + data[t].OrderNo + "</td></tr>" +
				" <tr> <td style='font-weight:600'>Customer Tel. : </td><td>" + checkEmptyOrUndefined(data[t].CustomerTel) + "</td><td style='font-weight:600'>Order Type : </td><td>" + checkEmptyOrUndefined(data[t].OrderType) + "</td></tr>" +
				" <tr> <td style='font-weight:600' width='15%'>Address : </td><td style='white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:40%' >" + data[t].Functional_Location + "</td><td style='font-weight:600' width='17%'>Creation Date :</td><td width='28%'> " + moment(data[t].CreationDate).format("DD/MM/YYYY HH:mm") + "</td></tr>" +
				" <tr> <td style='font-weight:600'>Area : </td><td>" + checkEmptyOrUndefined(data[t].Area) + "</td><td style='font-weight:600'>Company Code : </td><td>" + data[t].CompanyCode + "</td></tr>" +
				" <tr> <td style='font-weight:600'>Block : </td><td>" + checkEmptyOrUndefined(data[t].block) + "</td><td style='font-weight:600'>Contract Type : </td><td>" + checkEmptyOrUndefined(data[t].ContractType) + "</td></tr>";
			if (data[t].ExpirationDate != null) {
				contentOut += " <tr> <td style='font-weight:600'>Street : </td><td>" + checkEmptyOrUndefined(data[t].Street) + "</td><td style='font-weight:600'>Expiration Date : </td><td>" + checkEmptyOrUndefined(moment(data[t].ExpirationDate).format("DD/MM/YYYY HH:mm")) + "</td></tr>";
			} else {
				contentOut += " <tr> <td style='font-weight:600'>Street : </td><td>" + checkEmptyOrUndefined(data[t].Street) + "</td><td style='font-weight:600'>Expiration Date : </td><td>--</td></tr>";
			}
			contentOut += " <tr> <td style='font-weight:600'>House Kasima : </td><td>" + checkEmptyOrUndefined(data[t].House_Kasima) + "</td><td style='font-weight:600'>Dispatcher Name : </td><td>" + data[t].DispatcherName + "</td></tr>" +
				" <tr> <td style='font-weight:600'>Address Note : </td><td>" + checkEmptyOrUndefined(data[t].AddressNote) + "</td><td style='font-weight:600'>Foreman Name : </td><td>" + checkEmptyOrUndefined(data[t].FormanName) + "</td></tr>";

			if (data[t].TripDisp) {
				contentOut += " <tr> <td style='font-weight:600'>Status - Update : </td><td>" + checkEmptyOrUndefined(data[t].StatusUpdate) + "</td><td style='font-weight:600'>Technician Name: </td><td>" + checkEmptyOrUndefined(data[t].TripTech) + "</td></tr>";
				contentOut += " <tr> <td style='font-weight:600'>Trip Note: </td><td>" + checkEmptyOrUndefined(data[t].TripNote) + "</td></tr>";
			} else {
				contentOut += " <tr> <td style='font-weight:600'>Status - Update : </td><td>--</td><td style='font-weight:600'>Technician Name: </td><td>" + checkEmptyOrUndefined(data[t].TripTech) + "</td></tr>";
				contentOut += " <tr> <td style='font-weight:600'>Trip Note: </td><td>" + checkEmptyOrUndefined(data[t].TripNote) + "</td></tr>";
			}

			contentOut += " </table></div></div></div>";
		}
		console.log(contentOut);
		var xcon = '<html><head><title>Work Order Print Out</title>' + '<style>td { font-size: 12px; }</style></head><body ><h4>Daily Activity<h4>' + contentOut + "\x3Cscript  src='http://localhost:57666/Scripts/Layoutscripts/jquery.min.js'>\x3C/script>\x3Cscript type='text/javascript' src='http://localhost:57666/Scripts/js/windowWrite.js'>\x3C/script></body></html>";
		mywindow.document.write(xcon);

		mywindow.print();
		mywindow.close();

		return true;
	}
</script>
