﻿
@{
	ViewBag.Title = "Reports";
	Layout = "~/Views/Shared/_Layout_Map_3.cshtml";
}
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />

<style>
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}

	#statusReport_wrapper {
		overflow: auto;
	}

	#alert {
		position: fixed;
		left: 35%;
		top: 11%;
		background-color: #222222;
		width: 400px;
		height: 45px;
		text-align: center;
		padding: 12px;
		z-index: 9999;
		color: white;
		border-radius: 10px;
		border-color: red;
		border-width: 2px;
		border-style: solid;
		display: none;
		z-index: 999999999;
	}

	.customPaging {
		display: none;
	}
</style>
<div id="alert">
	There is no orders with this criteria
</div>
<div>
	<div style="right: 0px;height:7%; padding:12px;" id="btnContainer">
		<div class="row">
			<div class="col-md-12">
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="daterange" class="col-lg-2 control-label">Date: </label>
						<div class="col-lg-12">
							<input type="text" id="daterange" class="form-control" style="width:100%">
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="statusSelection" class="col-lg-2 control-label">Status: </label>
						<div class="col-lg-12">
							<select id="statusSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Status)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="problemSelection" class="col-lg-2 control-label">Problems: </label>
						<div class="col-lg-12">
							<select id="problemSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Problems)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="technicianSelection" class="col-lg-2 control-label">Technicians: </label>
						<div class="col-lg-12">
							<select id="technicianSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Technicians)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="dispatcherSelection" class="col-lg-2 control-label">Dispatchers: </label>
						<div class="col-lg-12">
							<select id="dispatcherSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Dispatchers)
			{
									<option>@item.UserName</option>
			}
							</select>
						</div>
					</div>
				</form>
				<div class="col-md-2" role="form">
					<div style="margin-top: 25px;z-index:888">
						<input type="checkbox" name="isTrip" value="isTrip" id="isTrip" /> All Trips
						<button type="button" class="btn btn-default" onclick="fillterOrders();" id="reportBtn"><lable id="reportButtonNonLoad">Filtter</lable> <lable id="reportButtonLoad" style="display:none"><i class="fa fa-spinner fa-spin"></i>  Loading</lable></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="typeSelection" class="col-lg-2 control-label">Type: </label>
						<div class="col-lg-12">
							<select id="typeSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Types)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="divisionSelection" class="col-lg-2 control-label">Division: </label>
						<div class="col-lg-12">
							<select id="divisionSelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.Divisions)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>
				<form class="col-md-2" role="form">
					<div class="form-group">
						<label for="companySelection" class="col-lg-8 control-label">Company Code: </label>
						<div class="col-lg-12">
							<select id="companySelection" class="selectpicker show-menu-arrow form-control" multiple data-actions-box="true">
								@foreach (var item in ViewBag.CompanyCodes)
			{
									<option>@item.Name</option>
			}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-12" style="padding: 15px;position: inherit;">
		<div class="customPaging">
			<button onclick="prevPage()" id="btn_prev">Prev</button>
			<button onclick="nextPage()" id="btn_next">Next</button>
			<button onclick="download();" id="">down</button>
			page: <span id="page"></span>
		</div>
		<table id="statusReport" class="display" cellspacing="0" width="100%"></table>
	</div>
</div>


<script type="text/javascript">
	var total_count = 0;
	var current_page = 1;
	var records_per_page = 10;

	var table = $('#statusReport').DataTable({
		data: null,
		"paging": false,
		columns: [
			{ title: "Order No." },
			{ title: "Order Date" },
			{ title: "Type" },
			{ title: "Problem" },
			{ title: "Status" },
			{ title: "Division" },
			{ title: "Company Code" },
			{ title: "IC Agent Note" },
			{ title: "Customer Name" },
			{ title: "Customer Phone" },
			//{ title: "Contract No." },
			//{ title: "Contract Type" },
			//{ title: "Creation Date" },
			//{ title: "Expiration Date" },
			{ title: "PACI No." },
			{ title: "Governorate" },
			{ title: "Area" },
			{ title: "Street" },
			{ title: "Block" },
			{ title: "Trip No." },
			{ title: "Trip Status" },
			{ title: "Trip Update" },
			{ title: "Trip Note" },
			{ title: "Trip Date" },
			{ title: "Technician Name" },
			{ title: "Dispatcher Name" },
			{ title: "Supervisor Name" }
		],
		"dom": 'Bfrtip',
		"buttons": [
			//  'copy',
			//'csv',
			//'excel',
			//'pdf',
			//'print'
		],
		fnInfoCallback: function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
			return console.log(oSettings + " " + iStart + " " + iEnd + " " + iMax + " " + iTotal + " " + sPre);
		}
	});

	function fillterOrders() {

		document.getElementById("reportBtn").disabled = true;
		document.getElementById("reportButtonNonLoad").style.display = "none";
		document.getElementById("reportButtonLoad").style.display = "block";

		var status = $("#statusSelection").val();
		var problems = $("#problemSelection").val();
		var technicians = $("#technicianSelection").val();
		var dispatchers = $("#dispatcherSelection").val();
		var types = $("#typeSelection").val();
		var divisions = $("#divisionSelection").val();
		var company = $("#companySelection").val();
		var dates = $("#daterange").val().split(" - ");
		var dateFrom = dates[0];
		var dateTo = dates[1];

		var isTrip = false;
		if ($("#isTrip").is(':checked')) {
			isTrip = true;
		}

		var data = JSON.stringify({ status: status, problems: problems, technicians: technicians, dispatchers: dispatchers, types: types, divisions: divisions, company: company, dateFrom: dateFrom, dateTo: dateTo, isTrip: isTrip });
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/Reports",
			type: "POST",
			data: data,
			success: function (result) {
				table.rows().remove().draw();
				console.log(result);
				if (result && result.Orders.length > 0) {
					$(".customPaging").css("display", "block");

					var data = result.Orders;
					total_count = result.TotalCount;
					console.log(data);
					if (data && data.length > 0) {
						for (var i = 0; i < data.length; i++) {
							//data[i].ContractNo, data[i].ContractType, data[i].CreatedDateString, data[i].ExpirationDateString,
							var tempArr = [data[i].OrderNo, data[i].OrderCreationDate, data[i].OrderType, data[i].Problem, data[i].Status, data[i].DivisionName, data[i].CompanyCode, data[i].ICNote, data[i].CustomerName, data[i].CustomerTel, data[i].PACI, data[i].Area, data[i].Gov, data[i].Street, data[i].block, data[i].TripNo, data[i].TripStatusName, data[i].TripUpdateName, data[i].TripNote, data[i].TripDate, data[i].TripTech, data[i].DispatcherName, data[i].SuperName];
							table.row.add(tempArr).draw();
						}
					}

					var btn_next = document.getElementById("btn_next");
					var btn_prev = document.getElementById("btn_prev");
					//var listing_table = document.getElementById("listingTable");
					var page_span = document.getElementById("page");

					// Validate page
					if (current_page < 1) current_page = 1;
					if (current_page > numPages()) current_page = numPages()

					//listing_table.innerHTML = "";
					var totalPages = total_count / records_per_page;

					page_span.innerHTML = current_page + " of " + totalPages.toFixed(0);

					if (current_page == 1) {
						btn_prev.style.visibility = "hidden";
					} else {
						btn_prev.style.visibility = "visible";
					}

					if (current_page == numPages()) {
						btn_next.style.visibility = "hidden";
					} else {
						btn_next.style.visibility = "visible";
					}
					document.getElementById("reportButtonNonLoad").style.display = "block";
					document.getElementById("reportButtonLoad").style.display = "none";
					document.getElementById("reportBtn").disabled = false;
				} else {
					document.getElementById("reportButtonNonLoad").style.display = "block";
					document.getElementById("reportButtonLoad").style.display = "none";
					document.getElementById("reportBtn").disabled = false;
					document.getElementById("alert").style.display = "block";
					setTimeout(function () {
						$('#alert').fadeOut('slow');
					}, 5000);
				}
			},
			error: function (err) {
				console.log(err);
				document.getElementById("reportButtonNonLoad").style.display = "block";
				document.getElementById("reportButtonLoad").style.display = "none";
				document.getElementById("reportBtn").disabled = false;
				document.getElementById("alert").style.display = "block";
				setTimeout(function () {
					$('#alert').fadeOut('slow');
				}, 5000);
			}
		});
	}

</script>
<script type="text/javascript">
	$('#daterange').daterangepicker({
		"timePicker": true,
		"locale": {
			"direction": "ltr",
			"format": "MM/DD/YYYY",
			"separator": " - ",
			"applyLabel": "Apply",
			"cancelLabel": "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"daysOfWeek": [
				"Su",
				"Mo",
				"Tu",
				"We",
				"Th",
				"Fr",
				"Sa"
			],
			"monthNames": [
				"January",
				"February",
				"March",
				"April",
				"May",
				"June",
				"July",
				"August",
				"September",
				"October",
				"November",
				"December"
			],
			"firstDay": 1
		},
		//"startDate": Date.now,
		//"endDate": Date.now
	}, function (start, end, label) {
	});
</script>
<script>
	function prevPage() {
		if (current_page > 1) {
			current_page--;
			var isTrip = false;
			if ($("#isTrip").is(':checked')) {
				isTrip = true;
			}
			var data = JSON.stringify({
				pageNo: current_page, isTrip: isTrip
			});
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/GetReportPageData",
				type: "POST",
				data: data,
				success: function (result) {
					table.rows().remove().draw();
					console.log(result);
					if (result && result.Orders.length > 0) {
						var data = result.Orders;
						total_count = result.TotalCount;
						console.log(data);
						if (data && data.length > 0) {
							for (var i = 0; i < data.length; i++) {
								//data[i].ContractNo, data[i].ContractType, data[i].CreatedDateString, data[i].ExpirationDateString,
								var tempArr = [data[i].OrderNo, data[i].OrderCreationDate, data[i].OrderType, data[i].Problem, data[i].Status, data[i].DivisionName, data[i].CompanyCode, data[i].ICNote, data[i].CustomerName, data[i].CustomerTel, data[i].PACI, data[i].Area, data[i].Gov, data[i].Street, data[i].block, data[i].TripNo, data[i].TripStatusName, data[i].TripUpdateName, data[i].TripNote, data[i].TripDate, data[i].TripTech, data[i].DispatcherName, data[i].SuperName];
								table.row.add(tempArr).draw();
							}
						}

						var btn_next = document.getElementById("btn_next");
						var btn_prev = document.getElementById("btn_prev");
						//var listing_table = document.getElementById("listingTable");
						var page_span = document.getElementById("page");

						// Validate page
						if (current_page < 1) current_page = 1;
						if (current_page > numPages()) current_page = numPages()

						var totalPages = total_count / records_per_page;

						page_span.innerHTML = current_page + " of " + totalPages.toFixed(0);

						if (current_page == 1) {
							btn_prev.style.visibility = "hidden";
						} else {
							btn_prev.style.visibility = "visible";
						}

						if (current_page == numPages()) {
							btn_next.style.visibility = "hidden";
						} else {
							btn_next.style.visibility = "visible";
						}
						document.getElementById("reportButtonNonLoad").style.display = "block";
						document.getElementById("reportButtonLoad").style.display = "none";
						document.getElementById("reportBtn").disabled = false;
					}
				}
			});
		}
	}

	function nextPage() {
		if (current_page < numPages()) {
			current_page++;
			var isTrip = false;
			if ($("#isTrip").is(':checked')) {
				isTrip = true;
			}
			var data = JSON.stringify({
				pageNo: current_page, isTrip: isTrip
			});
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "Dashboard/GetReportPageData",
				type: "POST",
				data: data,
				success: function (result) {
					table.rows().remove().draw();
					console.log(result);
					if (result && result.Orders.length > 0) {
						var data = result.Orders;
						total_count = result.TotalCount;
						console.log(data);
						if (data && data.length > 0) {
							for (var i = 0; i < data.length; i++) {
								//data[i].ContractNo, data[i].ContractType, data[i].CreatedDateString, data[i].ExpirationDateString,
								var tempArr = [data[i].OrderNo, data[i].OrderCreationDate, data[i].OrderType, data[i].Problem, data[i].Status, data[i].DivisionName, data[i].CompanyCode, data[i].ICNote, data[i].CustomerName, data[i].CustomerTel, data[i].PACI, data[i].Area, data[i].Gov, data[i].Street, data[i].block, data[i].TripNo, data[i].TripStatusName, data[i].TripUpdateName, data[i].TripNote, data[i].TripDate, data[i].TripTech, data[i].DispatcherName, data[i].SuperName];
								table.row.add(tempArr).draw();
							}
						}

						var btn_next = document.getElementById("btn_next");
						var btn_prev = document.getElementById("btn_prev");
						//var listing_table = document.getElementById("listingTable");
						var page_span = document.getElementById("page");

						// Validate page
						if (current_page < 1) current_page = 1;
						if (current_page > numPages()) current_page = numPages()

						var totalPages = total_count / records_per_page;

						page_span.innerHTML = current_page + " of " + totalPages.toFixed(0);

						if (current_page == 1) {
							btn_prev.style.visibility = "hidden";
						} else {
							btn_prev.style.visibility = "visible";
						}

						if (current_page == numPages()) {
							btn_next.style.visibility = "hidden";
						} else {
							btn_next.style.visibility = "visible";
						}
						document.getElementById("reportButtonNonLoad").style.display = "block";
						document.getElementById("reportButtonLoad").style.display = "none";
						document.getElementById("reportBtn").disabled = false;
					}
				}
			});
			//changePage(current_page);
		}
	}

	function changePage(page) {
		var btn_next = document.getElementById("btn_next");
		var btn_prev = document.getElementById("btn_prev");
		//var listing_table = document.getElementById("listingTable");
		var page_span = document.getElementById("page");

		// Validate page
		if (page < 1) page = 1;
		if (page > numPages()) page = numPages()

		//listing_table.innerHTML = "";


		//for (var i = 0; i < objJson.length; i++) {
		//	listing_table.innerHTML += objJson[i].adName + "<br>";
		//}
		var isTrip = false;
		if ($("#isTrip").is(':checked')) {
			isTrip = true;
		}
		var data = JSON.stringify({
			pageNo: page, isTrip: isTrip
		});
		$.ajax({
			contentType: 'application/json; charset=utf-8',
			url: ENUMS.BaseURL + "Dashboard/GetReportPageData",
			type: "POST",
			data: data,
			success: function (result) {
				table.rows().remove().draw();
				console.log(result);
				if (result && result.Orders.length > 0) {
					var data = result.Orders;
					total_count = result.TotalCount;
					console.log(data);
					if (data && data.length > 0) {
						for (var i = 0; i < data.length; i++) {
							//data[i].ContractNo, data[i].ContractType, data[i].CreatedDateString, data[i].ExpirationDateString,
							var tempArr = [data[i].OrderNo, data[i].OrderCreationDate, data[i].OrderType, data[i].Problem, data[i].Status, data[i].DivisionName, data[i].CompanyCode, data[i].ICNote, data[i].CustomerName, data[i].CustomerTel, data[i].PACI, data[i].Area, data[i].Gov, data[i].Street, data[i].block, data[i].TripNo, data[i].TripStatusName, data[i].TripUpdateName, data[i].TripNote, data[i].TripDate, data[i].TripTech, data[i].DispatcherName, data[i].SuperName];
							table.row.add(tempArr).draw();
						}
					}
					var totalPages = total_count / records_per_page;

					page_span.innerHTML = page + " of " + totalPages.toFixed(0);

					if (page == 1) {
						btn_prev.style.visibility = "hidden";
					} else {
						btn_prev.style.visibility = "visible";
					}

					if (page == numPages()) {
						btn_next.style.visibility = "hidden";
					} else {
						btn_next.style.visibility = "visible";
					}
					document.getElementById("reportButtonNonLoad").style.display = "block";
					document.getElementById("reportButtonLoad").style.display = "none";
					document.getElementById("reportBtn").disabled = false;
				}
			}
		});

	}

	function numPages() {
		var totalPages = total_count / records_per_page;
		return totalPages.toFixed(0);
	}

	var page_span = document.getElementById("page");
	var totalPages = 0;
	page_span.innerHTML = 0 + " of " + totalPages.toFixed(0);

	//window.onload = function () {
	//	changePage(1);
	//};
</script>
<script>

	function download() {
		var isTrip = "false";
		if ($("#isTrip").is(':checked')) {
			isTrip = "true";
		}
		window.location = ENUMS.BaseURL + "/Dashboard/ExportToExcel?isTrip=" + isTrip;
	}
</script>