﻿
@{
	ViewBag.Title = "FormanIndex";
	Layout = "~/Views/Shared/_Layout_Map_4.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<style>
	#alert {
		position: fixed;
		left: 45%;
		top: 11%;
		background-color: #222222;
		width: 400px;
		height: 45px;
		text-align: center;
		padding: 12px;
		z-index: 9999;
		color: white;
		border-radius: 10px;
		border-color: red;
		border-width: 2px;
		border-style: solid;
		display: none;
	}
</style>

<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Build.css" rel="stylesheet" />
<link href="~/Content/CircleButton.css" rel="stylesheet" />
<link href="~/Content/Bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap-toggle.min.js"></script>

<div id="alert">
	Can not assign order to technican without PACI No.
</div>

@*<div class="col-md-2" style="height: 85vh;border-style: solid;border-width: 1px;">
		<div class="col-md-12" style="height:120px;margin-top:5px;text-align: center;padding-top: 11px;border-style: solid; border-width: 1px;">
			<p>Unassigned Orders</p>
			<p><input type="checkbox" id="inProgressToggle" data-toggle="toggle" data-on="All" data-off="Inprogress"></p>
			<input type="text" id="orderSearch" placeholder="type here.." onkeyup="orderSearchFunction()" />

		</div>
		<div style="overflow-y:auto;max-height:66vh" id="unAssigendOrderLoc" ondrop='drop(event)' ondragover='allowDrop(event)'>
		</div>
	</div>*@

<div class="col-md-12" style="height: 85vh;border-style: solid;border-width: 1px;padding:5px">
	<div class="col-md-12" id="BoardView" style="display:block">
		<div class="col-md-12" style="height: 85vh;overflow-y:auto" id="OrdersBoard">
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" id="modalBody">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@{
	var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
	serializer.MaxJsonLength = Int32.MaxValue;
	var jsonModel = serializer.Serialize(ViewBag.UnAssignedOrders);
}
<script>

	var formans = @Html.Raw(ViewBag.Formans);
	console.log(formans);

	function checkEmptyOrUndefined(text) {
		return (text != null || text != undefined) ? text : "-";
	}

	function checkEmptyOrUndefinedBlock(text) {
		if (text == "ByPass PACI down" || text == "Not Found In PACI") {
			return "B";
		} else if (text != null || text != undefined && text != "null") {
			return text;
		} else {
			return "-";
		}
		//return (text != null || text != undefined) ? text : "-";
	}

	function checkEmptyOrUndefinedCells(text) {
		return (text != null || text != undefined) ? text : null;
	}

	function AssignedCreation(formans) {
		var notAvailableTechs = [];
		var content = "<div style='width:15000px;background-color:white'>";
		for (var i = 0; i < formans.length; i++) {
			content += "<div style='float:left;border:1px solid black'>";
			content += "<div style='padding: 6px;height: 35px;text-align: center;'>" + formans[i].Name +
				"</div>";
			if (formans[i].Technicians && formans[i].Technicians.length > 0) {
				var tech = formans[i].Technicians;
				content += "<div style=';border:1px solid black'>";
				for (var t = 0; t < tech.length; t++) {
					content += "<div  style='width:200px;padding: 6px;text-align: center;float:left;' >" + tech[t].Name + "&nbsp; &nbsp;<span style='color:red;' >(<b  id='" + tech[t].Id + "_count' >" + tech[t].CompeletedCount + "</b>)</span>";
					if (tech[t].Availability != "Not Available") {
						content += "<div class='" + formans[i].Id + "' id='" + tech[t].Id + "' style='height:66vh;overflow-y:auto;width:100%;border:1px solid black;padding: 6px;text-align: center;float:left;' >";
					}
					else {
						if (tech[t].Orders && tech[t].Orders.length > 0) {
							content += "<div><span id='" + tech[t].Id + "' class='glyphicon glyphicon-transfer' title='Transfer orders' aria-hidden='true'  style='cursor:pointer' onclick='openTransferContainer(this);'></span></div>";
							content += "<div class='" + formans[i].Id + "' id='false' style='height:63vh;overflow-y:auto;width:100%;border:1px solid black;padding: 6px;text-align: center;float:left;' ondrop ='notAllowedDrop(event)' >";
						} else {
							content += "<div class='" + formans[i].Id + "' id='false' style='height:66vh;overflow-y:auto;width:100%;border:1px solid black;padding: 6px;text-align: center;float:left;' ondrop ='notAllowedDrop(event)'>";
						}
						notAvailableTechs.push(tech[t].Id);
					}
					if (tech[t].Orders && tech[t].Orders.length > 0) {
						for (var j = 0; j < tech[t].Orders.length; j++) {
							var assOrder = tech[t].Orders[j];
							var style = chooseColor(assOrder.Type, assOrder.CreatedDate);
							content += "<div class='" + tech[t].Id + "_count'  id='" + assOrder.Id + "_d' style='border:1px solid black;max-height: 130px;min-height: 105px;height:inherit;padding: 6px;cursor:pointer;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";' >";
							if (assOrder.DateTo) {
								content += "<div  style='width:87%;float:left;' onclick='showDetails(" + assOrder.Id + ")' ><p>No. " + assOrder.OrderNo + "</p><p class='ptrim'> " + assOrder.CustomerName + "</p><p><lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 85px;'>" + checkEmptyOrUndefined(assOrder.Area) + "</lable></p></div><div style='width:10%;float:left;'>";
								content +="<span  aria-hidden='true' title='Visit Time'  style='margin-left:10px'></span>" +
									"<span title='Edit' aria-hidden='true'  style='cursor:pointer;margin-left:10px'></span>" +
									"<span title='Work Update' aria-hidden='true'  style='cursor:pointer;margin-left:10px' ></span>";
								if (assOrder.Block == "ByPass PACI down" || assOrder.Block == "Not Found In PACI") {
									content += "<p>--</p></div>";
								} else {
									content += "<span style='position: relative;	right: 8px;top:20px'>B" + checkEmptyOrUndefinedBlock(assOrder.Block) + "</span></div>";
									//content += "<p>Block: " + checkEmptyOrUndefinedBlock(assOrder.Block) + "</span></div>";
								}
							} else {
								content += "<div  style='width:87%;float:left;' onclick='showDetails(" + assOrder.Id + ")' ><p>No. " + assOrder.OrderNo + "</p><p class='ptrim'> " + assOrder.CustomerName + "</p><p><lable style='display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 85px;'>" + checkEmptyOrUndefined(assOrder.Area) + "</lable></p></div><div style='width:10%;float:left;'>";
								content +=	"<span  aria-hidden='true' title='Visit Time'  style='margin-left:10px'></span>" +
									"<span title='Edit' aria-hidden='true'  style='cursor:pointer;margin-left:10px'></span>" +
									"<span title='Work Update' aria-hidden='true'  style='cursor:pointer;margin-left:10px' ></span>";
								if (assOrder.Block == "ByPass PACI down" || assOrder.Block == "Not Found In PACI") {
									content += "<p>--</p></div>";
								} else {
									content += "<span style='position: relative;	right: 8px;top:20px'>B" + checkEmptyOrUndefinedBlock(assOrder.Block) + "</span></div>";
								}
							}
							content += "</div>";

						}
					}
					if (tech[t].Availability == "Not Available") {
						content += "<div style='border:1px solid black;height:30px;padding: 6px;cursor:pointer;background-color:black;color:white;'>" + tech[t].Availability + "</div>";
					}
					content += "</div></div>";
				}
				content += "</div>";
			}
			content += "</div>";
		}
		content += "</div>";
		document.getElementById("OrdersBoard").innerHTML = content;
	}

	function chooseColor(orderType, orderDate) {
		var style = {
			colorClass: "",
			orderTextColor: null
		};
		if (orderType == "MC Potential Orders") {
			style.colorClass = "white";
			style.orderTextColor = "black";
		}  else if (orderType == "Cash Compressor"){
			style.colorClass = "orange";
			style.orderTextColor = "black";
		}else if (orderType == "Cash call Order") {
			style.colorClass = "darkgreen";
			style.orderTextColor = "white";
		} else {
			if (orderType == "Preventive Maintenance Order" || orderType == "Enhancement Job Order" || orderType == "Contract Service Order") {
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}else{
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}
		}
		return style;
	}



	AssignedCreation(formans);

	var dragerId;
	var dragToId;
	var isBack = false;
	function allowDrop(ev) {
		isBack = false;
		dragToId = ev.currentTarget.id;
		ev.preventDefault();
		if (dragToId == "unAssigendOrderLoc") {
			isBack = true;
		}
	}
	var isAllow = true;

	function drag(ev) {
		isAllow = true;
		dragerId = ev.currentTarget.id;
		if (ev.currentTarget.className == "null") {
			isAllow = false;
		}
		ev.dataTransfer.setData("text", dragerId);
	}

	function drop(ev) {
		if (isAllow) {
			if (isBack) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
				var orderId = dragerId.replace('_d', '');
				var data = JSON.stringify({orderId: orderId });

				$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "SuperDashboard/SetAsUnAssigned",
					type: "POST",
					data: data,
					success: function(result) {
						if (result) {
							var url = '@Url.Action("Index", "SuperDashboard")';
							window.location.href = url;
							// create notification for success here.
						}
						// create notification for failed here.
					}
				});

			}else{
				if ( dragToId.search("-") < 0) {
					ev.preventDefault();
					var data = ev.dataTransfer.getData("text");
					ev.target.appendChild(document.getElementById(data));
					var orderId = dragerId.replace('_d', '');
					var techId = dragToId;
				}else{
					ev.preventDefault();
					var data = ev.dataTransfer.getData("text");
					ev.target.appendChild(document.getElementById(data));
					var orderId = dragerId.replace('_d', '');
					var dispatcherId = dragToId;

					var data = JSON.stringify({ dispatcherId: dispatcherId, orderId: orderId });

					$.ajax({
						contentType: 'application/json; charset=utf-8',
						url: ENUMS.BaseURL + "SuperDashboard/AssignDispatcherToOrder",
						type: "POST",
						data: data,
						success: function(result) {
							if (result) {
								getAssignedOrders();
								// create notification for success here.
							}
							// create notification for failed here.
						}
					});

				}
			}

		}
		else{
			if ( dragToId.search("-") > 0) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
				var orderId = dragerId.replace('_d', '');
				var dispatcherId = dragToId;

				var data = JSON.stringify({ dispatcherId: dispatcherId, orderId: orderId });

				$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "SuperDashboard/AssignDispatcherToOrder",
					type: "POST",
					data: data,
					success: function(result) {
						if (result) {
							getAssignedOrders();
							// create notification for success here.
						}
						// create notification for failed here.
					}
				});

			}else{
				document.getElementById("alert").style.display="block";
				setTimeout(function(){
					$('#alert').fadeOut('slow');
				},5000);
			}
		}
	};

	function getAssignedOrders() {
		$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "SuperDashboard/GetAssignedOrders",
					type: "Get",
					success: function(result) {
						if (result) {
							var data = JSON.parse(result);
							boardCreation(data);
							// create notification for success here.
						}
						// create notification for failed here.
					}
				});
	}

	function showDetails(orderId) {
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "SuperDashboard/GetOrderData/" + orderId,
						type: "GET",
						success: function(result) {
							if (result) {
								console.log(result);
								$("#myModalLabel").text("Order No. " + result.OrderNo);

								var content = '<div class="col-md-12">';

								content+='<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Customer Name: </label>';
								content += result.CustomerName + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Customer Phone: </label>';
								content += result.CustomerPhone + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Order Type: </label>';
								content += result.Type + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Status: </label>';
								content += result.Status + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Problem: </label>';
								content += result.Problem + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Created Date: </label>';
								content += result.CreatedDateString + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >PACI: </label>';
								content += result.PACI + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Governorate: </label>';
								content += result.Governorate + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Area: </label>';
								content += result.Area + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Block: </label>';
								content += result.Block + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Street: </label>';
								content += result.Street + '</div >';


								content+='</div > ';


								$("#modalBody").html(content);
								$("#myModal").modal();

								// create notification for success here.
							}
							// create notification for failed here.
						}
					});
	}

			function orderSearchFunction() {
				var input, filter, ul, li, a, i, x;
				input = document.getElementById("orderSearch");
				filter = input.value.toUpperCase();
				ul = document.getElementById("unAssigendOrderLoc").children[0];
				li = ul.children;
				for (i = 0; i < li.length; i++) {
					a = li[i].getElementsByTagName("a")[0];
					x = li[i].getElementsByTagName("a")[1];
					if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
						if ($("#inProgressToggle").prop('checked')) {
							if (x.innerHTML == "3") {
								li[i].style.display = "";
							} else {
								li[i].style.display = "none";
							}
						} else if (!$("#inProgressToggle").prop('checked')) {
							if (x.innerHTML != "3") {
								li[i].style.display = "";
							} else {
								li[i].style.display = "none";
							}
						}
					} else {
						li[i].style.display = "none";

					}
				}
			}

			$('#inProgressToggle').change(function () {
				if ($("#inProgressToggle").prop('checked')) {
					ShowUnAssignInProgress(true);
				} else {
					ShowUnAssignInProgress(false);
				}
			})

			function ShowUnAssignInProgress(isShow) {
				var input, filter, ul, li, a, i;
				input = document.getElementById("orderSearch");
				if (isShow == true) {
					filter = 3;
				} else {
					filter = "";
				}
				ul = document.getElementById("unAssigendOrderLoc").children[0];
				li = ul.children;
				for (i = 0; i < li.length; i++) {
					a = li[i].getElementsByTagName("a")[1];
					if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
						if (a.innerHTML == "3" && isShow == false) {
							li[i].style.display = "none";
						} else {
							li[i].style.display = "";
						}
					} else {
						li[i].style.display = "none";
					}
				}
			}
</script>
