﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout_Map.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<style>
	#alert {
		position: fixed;
		left: 45%;
		top: 11%;
		background-color: #222222;
		width: 400px;
		height: 45px;
		text-align: center;
		padding: 12px;
		z-index: 9999;
		color: white;
		border-radius: 10px;
		border-color: red;
		border-width: 2px;
		border-style: solid;
		display: none;
	}
</style>

<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Build.css" rel="stylesheet" />
<link href="~/Content/CircleButton.css" rel="stylesheet" />
<link href="~/Content/Bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap-toggle.min.js"></script>

<div id="alert">
	Can not assign order to technican without PACI No.
</div>

<div class="col-md-2" style="height: 85vh;border-style: solid;border-width: 1px;">
	<div class="col-md-12" style="height:120px;margin-top:5px;text-align: center;padding-top: 11px;border-style: solid; border-width: 1px;">
		<p>Unassigned Orders</p>
		<p><input type="checkbox" id="inProgressToggle" data-toggle="toggle" data-on="All" data-off="Inprogress"></p>
		<input type="text" id="orderSearch" placeholder="type here.." onkeyup="orderSearchFunction()" />

	</div>
	<div style="overflow-y:auto;max-height:66vh" id="unAssigendOrderLoc" ondrop='drop(event)' ondragover='allowDrop(event)'>
	</div>
</div>

<div class="col-md-10" style="height: 85vh;border-style: solid;border-width: 1px;padding:5px">
	<div class="col-md-12" id="BoardView" style="display:block">
		<div class="col-md-12" style="height: 85vh;overflow-y:auto" id="OrdersBoard">
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" id="modalBody">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@{
	var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
	serializer.MaxJsonLength = Int32.MaxValue;
	var jsonModel = serializer.Serialize(ViewBag.UnAssignedOrders);
}
<script>
	var dispatchers = @Html.Raw(ViewBag.Dispatchers);
	var unAssignedorders = @Html.Raw(jsonModel);

	function boardCreation(boardData) {
		var dispatchers = boardData;
		var content = "<div style='width:5000px;background-color:white'>";
		for (var i = 0; i < dispatchers.length; i++) {
			content += "<div style='float:left;'>";
			content += "<div style='padding: 6px;height: 30px;text-align: center;border:1px solid black'>" + dispatchers[i].Name + "</div>";
			if (dispatchers[i].UnAssignedOrders && dispatchers[i].UnAssignedOrders.length > 0) {
				content += "<div style='float:left;'>";
				content += "<div style='padding: 6px;height: 35px;text-align: center;border:1px solid black;min-width: 170px;'>Unassigned Orders</div>";
				var unAssignedOrders = dispatchers[i].UnAssignedOrders;
				content += "<div style='float:left;max-height:73vh;overflow-y:auto;width:175px;height:73vh' id='" + dispatchers[i].Id + "' ondrop='drop(event)' ondragover='allowDrop(event)'>";
				for (var o = 0; o < unAssignedOrders.length; o++) {
					var assOrder = unAssignedOrders[o];
					var style = chooseColor(assOrder.Type, assOrder.CreatedDate);
					content += "<div draggable='true' ondragstart='drag(event)' onclick='showDetails(" + assOrder.Id + ")' id='" + assOrder.Id + "_d' style='border:1px solid black;height:40px;padding: 10px;cursor:pointer;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";' draggable='true'>";
					if (assOrder.DateTo) {
						content += "<div class='col-md-12'>No. " + assOrder.OrderNo + "</div><div class='col-md-12' style='margin-top:5px'>" +
							"</div>";
					} else {
						content += "<div class='col-md-12'>No. " + assOrder.OrderNo + "</div><div class='col-md-12' style='margin-top:5px'>" +
							"</div>";
					}
					content += "</div>";
				}
				content += "</div></div>";
			} else {
				content += "<div style='float:left;border:1px solid black'>";
				content += "<div style='padding: 6px;height: 35px;text-align: center;border:1px solid black;min-width: 170px;'>Unassigned Orders</div>";
				content += "<div style='float:left;max-height:68vh;overflow-y:auto;width:175px;height:68vh' ondrop='drop(event)' ondragover='allowDrop(event)' id='" + dispatchers[i].Id + "'>";
				content += "</div></div>";
			}
			content += "</div>";
		}
		content += "</div>";
		document.getElementById("OrdersBoard").innerHTML = content;
	}

	function chooseColor(orderType, orderDate) {
		var style = {
			colorClass: "",
			orderTextColor: null
		};
		if (orderType == "MC Potential Orders") {
			style.colorClass = "white";
			style.orderTextColor = "black";
		}  else if (orderType == "Cash Compressor"){
			style.colorClass = "orange";
			style.orderTextColor = "black";
		}else if (orderType == "Cash call Order") {
			style.colorClass = "darkgreen";
			style.orderTextColor = "white";
		} else {
			if (orderType == "Preventive Maintenance Order" || orderType == "Enhancement Job Order" || orderType == "Contract Service Order") {
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}else{
				var weekday = new Array(7);
				weekday[0] = "Sunday";
				weekday[1] = "Monday";
				weekday[2] = "Tuesday";
				weekday[3] = "Wednesday";
				weekday[4] = "Thursday";
				weekday[5] = "Friday";
				weekday[6] = "Saturday";
				var date =  moment(orderDate);
				var day = weekday[date.weekday()];
				switch (day) {
					case "Sunday":
						style.colorClass = "Pink";
						style.orderTextColor = "Black";
						break;
					case "Monday":
						style.colorClass = "lightgreen";
						break;
					case "Tuesday":
						style.colorClass = "lightblue";
						break;
					case "Wednesday":
						style.colorClass = "purple";
						style.orderTextColor = "White";
						break;
					case "Thursday":
						style.colorClass = "aqua";
						style.orderTextColor = "Black";
						break;
					case "Friday":
						style.colorClass = "lightgray";
						style.orderTextColor = "Black";
						break;
					case "Saturday":
						style.colorClass = "yellow";
						style.orderTextColor = "Black";
						break;
					default:
						style.colorClass = "black";
						style.orderTextColor = "white";
						break;
				}
			}
		}
		return style;
	}

	function checkEmptyOrUndefined(text) {
		return (text != null || text != undefined ) ? text : "--";
	}

	boardCreation(dispatchers);

	var unAssignContent="";
	var unAssignContent = "<div style='width:100%;height:66vh;overflow-y:auto;border: 1px solid black;'>";
	console.log("un",unAssignedorders);
	for (var i = 0; i < unAssignedorders.length; i++) {
		var style = chooseColor(unAssignedorders[i].Type, unAssignedorders[i].CreatedDate);
		if (unAssignedorders[i].PACI) {
			unAssignContent += "<div class='" + unAssignedorders[i].PACI + "' id='" + unAssignedorders[i].Id +"_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:65px;padding:2px;margin-top:0px;border-style: solid;border-width: 1px;border-color:black;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";'>";
		}else {
			unAssignContent += "<div class='" + unAssignedorders[i].PACI + "' id='" + unAssignedorders[i].Id +"_d' draggable='true' ondragstart='drag(event)' class='col-md-12' style='height:65px;padding:2px;margin-top:0px;border-style: solid;border-width: 3px;border-color:red;background-color:" + style.colorClass + ";color:" + style.orderTextColor + ";'>";
		}
			unAssignContent += "<div class='col-md-12' onclick='showDetails(" + unAssignedorders[i].Id + ")'  style='cursor:pointer;'  title='show order detail' >";
			unAssignContent += "<a style='display:none'>" + unAssignedorders[i].OrderNo + " " + checkEmptyOrUndefined(unAssignedorders[i].Area) + " " + unAssignedorders[i].PACI + " " + unAssignedorders[i].Problem + " " + unAssignedorders[i].CustomerNo + " " + unAssignedorders[i].CustomerName + " " + unAssignedorders[i].CustomerPhone + "</a>";
			unAssignContent += "<a style='display:none'>" + unAssignedorders[i].StatusId + "</a>";
		unAssignContent+="<div class='row' style='width: 85%;height:30px'><div  class='col-md-6'>No.:</div><div  class='col-md-6' style='padding-left: 0px;padding-right: 0px;max-height: 23px;'>"+unAssignedorders[i].OrderNo+"</div></div>";
		unAssignContent+="<div class='row' style='width: 85%;height:30px'><div class='col-md-6'>Area:</div><div  class='col-md-6' style='padding-left: 0px;padding-right: 0px;max-height: 23px;overflow-y: hidden;overflow-x: hidden;' >"+checkEmptyOrUndefined(unAssignedorders[i].Area)+"</div></div>";
		unAssignContent+="</div><div class='col-md-1' id= '"+unAssignedorders[i].Id+"_o'>";
		unAssignContent+="</div></div>";
	}
	unAssignContent+="</div>";
	document.getElementById("unAssigendOrderLoc").innerHTML = unAssignContent;

	var dragerId;
	var dragToId;
	var isBack = false;
	function allowDrop(ev) {
		isBack = false;
		dragToId = ev.currentTarget.id;
		ev.preventDefault();
		if (dragToId == "unAssigendOrderLoc") {
			isBack = true;
		}
	}
	var isAllow = true;

	function drag(ev) {
		isAllow = true;
		dragerId = ev.currentTarget.id;
		if (ev.currentTarget.className == "null") {
			isAllow = false;
		}
		ev.dataTransfer.setData("text", dragerId);
	}

	function drop(ev) {
		if (isAllow) {
			if (isBack) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
				var orderId = dragerId.replace('_d', '');
				var data = JSON.stringify({orderId: orderId });

				$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "SuperDashboard/SetAsUnAssigned",
					type: "POST",
					data: data,
					success: function(result) {
						if (result) {
							var url = '@Url.Action("Index", "SuperDashboard")';
							window.location.href = url;
							// create notification for success here.
						}
						// create notification for failed here.
					}
				});

			}else{
				if ( dragToId.search("-") < 0) {
					ev.preventDefault();
					var data = ev.dataTransfer.getData("text");
					ev.target.appendChild(document.getElementById(data));
					var orderId = dragerId.replace('_d', '');
					var techId = dragToId;
				}else{
					ev.preventDefault();
					var data = ev.dataTransfer.getData("text");
					ev.target.appendChild(document.getElementById(data));
					var orderId = dragerId.replace('_d', '');
					var dispatcherId = dragToId;

					var data = JSON.stringify({ dispatcherId: dispatcherId, orderId: orderId });

					$.ajax({
						contentType: 'application/json; charset=utf-8',
						url: ENUMS.BaseURL + "SuperDashboard/AssignDispatcherToOrder",
						type: "POST",
						data: data,
						success: function(result) {
							if (result) {
								getAssignedOrders();
								// create notification for success here.
							}
							// create notification for failed here.
						}
					});

				}
			}

		}
		else{
			if ( dragToId.search("-") > 0) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
				var orderId = dragerId.replace('_d', '');
				var dispatcherId = dragToId;

				var data = JSON.stringify({ dispatcherId: dispatcherId, orderId: orderId });

				$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "SuperDashboard/AssignDispatcherToOrder",
					type: "POST",
					data: data,
					success: function(result) {
						if (result) {
							getAssignedOrders();
							// create notification for success here.
						}
						// create notification for failed here.
					}
				});

			}else{
				document.getElementById("alert").style.display="block";
				setTimeout(function(){
					$('#alert').fadeOut('slow');
				},5000);
			}
		}
	};

	function getAssignedOrders() {
		$.ajax({
					contentType: 'application/json; charset=utf-8',
					url: ENUMS.BaseURL + "SuperDashboard/GetAssignedOrders",
					type: "Get",
					success: function(result) {
						if (result) {
							var data = JSON.parse(result);
							boardCreation(data);
							// create notification for success here.
						}
						// create notification for failed here.
					}
				});
	}

	function showDetails(orderId) {
			$.ajax({
				contentType: 'application/json; charset=utf-8',
				url: ENUMS.BaseURL + "SuperDashboard/GetOrderData/" + orderId,
						type: "GET",
						success: function(result) {
							if (result) {
								console.log(result);
								$("#myModalLabel").text("Order No. " + result.OrderNo);

								var content = '<div class="col-md-12">';

								content+='<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Customer Name: </label>';
								content += result.CustomerName + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Customer Phone: </label>';
								content += result.CustomerPhone + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Order Type: </label>';
								content += result.Type + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Status: </label>';
								content += result.Status + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Problem: </label>';
								content += result.Problem + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Created Date: </label>';
								content += result.CreatedDateString + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >PACI: </label>';
								content += result.PACI + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Governorate: </label>';
								content += result.Governorate + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Area: </label>';
								content += result.Area + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Block: </label>';
								content += result.Block + '</div >';

								content += '<div class="form-group" > ';
								content += '<label class="control-label col-md-6" >Street: </label>';
								content += result.Street + '</div >';


								content+='</div > ';


								$("#modalBody").html(content);
								$("#myModal").modal();

								// create notification for success here.
							}
							// create notification for failed here.
						}
					});
	}


			function orderSearchFunction() {
				var input, filter, ul, li, a, i, x;
				input = document.getElementById("orderSearch");
				filter = input.value.toUpperCase();
				ul = document.getElementById("unAssigendOrderLoc").children[0];
				li = ul.children;
				for (i = 0; i < li.length; i++) {
					a = li[i].getElementsByTagName("a")[0];
					x = li[i].getElementsByTagName("a")[1];
					if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
						if ($("#inProgressToggle").prop('checked')) {
							if (x.innerHTML == "3") {
								li[i].style.display = "";
							} else {
								li[i].style.display = "none";
							}
						} else if (!$("#inProgressToggle").prop('checked')) {
							if (x.innerHTML != "3") {
								li[i].style.display = "";
							} else {
								li[i].style.display = "none";
							}
						}
					} else {
						li[i].style.display = "none";

					}
				}
			}

			$('#inProgressToggle').change(function () {
				if ($("#inProgressToggle").prop('checked')) {
					ShowUnAssignInProgress(true);
				} else {
					ShowUnAssignInProgress(false);
				}
			})

			function ShowUnAssignInProgress(isShow) {
				var input, filter, ul, li, a, i;
				input = document.getElementById("orderSearch");
				if (isShow == true) {
					filter = 3;
				} else {
					filter = "";
				}
				ul = document.getElementById("unAssigendOrderLoc").children[0];
				li = ul.children;
				for (i = 0; i < li.length; i++) {
					a = li[i].getElementsByTagName("a")[1];
					if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
						if (a.innerHTML == "3" && isShow == false) {
							li[i].style.display = "none";
						} else {
							li[i].style.display = "";
						}
					} else {
						li[i].style.display = "none";
					}
				}
			}
</script>
