﻿@model SmartDispatching.DB.DataBase.Address

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PACI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Functional_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Functional_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House_Kasima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House_Kasima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppartmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppartmentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Block.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Block.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Governorate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street_Jaddah.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street_Jaddah.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
