﻿@model IEnumerable<SmartDispatching.DB.DataBase.Address>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PACI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Functional_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House_Kasima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppartmentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Block.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Governorate.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street_Jaddah.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PACI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Functional_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House_Kasima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppartmentNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Block.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Governorate.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street_Jaddah.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
